﻿<section style="opacity: 1;">
    <!-- BEGIN SIDEBAR -->
    <div class="sidebar sidebar-mailbox">
        <div class="sidebar-inner mCustomScrollbar _mCS_8">
            <div class="mCustomScrollBox mCS-light-thin" id="mCSB_8" style="position:relative; height:100%; overflow:hidden; max-width:100%;">
                <div class="mCSB_container mCS_no_scrollbar" style="position:relative; top:0;">
                    <div class="sidebar-top">
                        <a class="btn btn-primary btn-compose" (click)="toggleComposeMessage(1)">Create Message</a>
                    </div>
                    <ul class="nav nav-sidebar">
                        <li class="tm nav-active" [class.active]="inbound && currentMessageStatusView === 0"><a (click)="changeMessageView(0)">
                            <span class="pull-right badge badge-primary" style="right:15px !important">{{unreaded}}</span> 
                            <i class="icons-office-28"></i><span>Received</span></a></li>
                        <li class="tm" [class.active]="!inbound"><a (click)="changeMessageView(0, false)"><i class="icons-chat-messages-14"></i><span>Sent</span></a></li>
                        <li class="tm" [class.active]="currentMessageStatusView === 1"><a (click)="changeMessageView(1)"><i class="icons-badges-votes-14"></i><span>Important </span></a></li>
                        <li class="tm" [class.active]="currentMessageStatusView === 3"><a (click)="changeMessageView(3)">
                            <span class="pull-right badge badge-primary" style="right:15px !important">{{parked}}</span>
                            <i class="icons-alerts-05"></i><span>Parked</span></a>
                        </li>
                        <li class="tm" [class.active]="currentMessageStatusView === 4"><a (click)="changeMessageView(4)"><i class="icons-alerts-05"></i><span>Deleted</span></a></li>
                        <!--<li class="tm" [class.active]="currentMessageStatusView === 4"><a (click)="changeMessageView(4)"><i class="icons-office-57"></i><span>Deleted</span></a></li>-->
                    </ul>
                    <div class="sidebar-widgets m-b-30">
                        <p class="menu-title widget-title">Most Used Templates<span class="pull-right"><a class="new-label" href="#"> <i class="icon-plus"></i></a></span></p>
                        <ul class="labels">
                            <li *ngIf="userTemplates[0] === null">
                                <i class="fa fa-circle-o c-red"></i> Not Template Set
                            </li>
                            <li *ngIf="userTemplates[0] !== null">
                                <a href="#" (click)="composeMessageUsingTemplate(1, $event)"><i class="fa fa-circle-o c-red"></i> {{getTemplateBySlot(1)}}</a>
                            </li>
                            <li *ngIf="userTemplates[1] === null">
                                <i class="fa fa-circle-o c-blue"></i> Not Template Set
                            </li>
                            <li *ngIf="userTemplates[1] !== null">
                                <a href="#" (click)="composeMessageUsingTemplate(2, $event)"><i class="fa fa-circle-o c-blue"></i> {{getTemplateBySlot(2)}}</a>
                            </li>
                            <li *ngIf="userTemplates[2] === null">
                                <i class="fa fa-circle-o c-green"></i> Not Template Set
                            </li>
                            <li *ngIf="userTemplates[2] !== null">
                                <a href="#" (click)="composeMessageUsingTemplate(3, $event)"><i class="fa fa-circle-o c-green"></i> {{getTemplateBySlot(3)}}</a>
                            </li>
                            <li *ngIf="userTemplates[3] === null">
                                <i class="fa fa-circle-o c-yellow"></i> Not Template Set
                            </li>
                            <li *ngIf="userTemplates[3] !== null">
                                <a href="#" (click)="composeMessageUsingTemplate(4, $event)"><i class="fa fa-circle-o c-yellow"></i> {{getTemplateBySlot(4)}}</a>
                            </li>
                            <li class="add-label">
                                <input class="form-control input-sm" type="text" placeholder="Label's name...">
                            </li>
                        </ul>
                    </div>
                </div><div class="mCSB_scrollTools" style="display: none; position: absolute;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="top: 0px; position: absolute;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position:relative;"></div></div><div class="mCSB_draggerRail"></div></div></div>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR -->
    <div class="main-content" style="padding-top:50px">
        <!-- BEGIN PAGE CONTENT -->
        <div class="page-content page-app mailbox" style="position:relative">
            <section class="app">
                <aside class="aside-md emails-list">
                    <section style="padding:10px 20px 0 20px !important">
                        <div class="mailbox-page clearfix">
                            <div class="pull-left">
                                <button class="btn btn-sm btn-primary m-r-0" style="margin-bottom:5px; margin-top:6px" [disabled]="messagePanel===1" (click)="updateMessageStatus(3)" title="Archive"><i class="fa fa-save"></i></button>
                                <button class="btn btn-sm btn-primary m-r-0 m-l-0" style="margin-bottom:5px; margin-top:6px" [disabled]="messagePanel===1" (click)="updateMessageStatus(1)" title="Mark as Important"><i class="fa fa-exclamation-circle"></i></button>
                                <button class="btn btn-sm btn-primary m-r-0 m-l-0" style="margin-bottom:5px; margin-top:6px" [disabled]="messagePanel===1" (click)="confirmDelete()" title="Mark as Deleted"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-sm btn-primary m-r-0 m-l-0" style="margin-bottom:5px; margin-top:6px" [disabled]="messagePanel===1" (click)="toggleReadStatus()" title="Toggle Read/Unread"><i class="fa" [class.fa-undo]="selectedMessage?.read" [class.fa-repeat]="!selectedMessage?.read"></i></button>
                                <span class="control-label" style="line-height:34px; margin-left:10px">{{'Common.ItemPerPage' | translate:lang}}:</span>
                                <select2 [data]="tableHeaders.itemsPerPage"
                                            [value]="itemsPerPageStartValue"
                                            [options]="{minimumResultsForSearch:-1}"
                                            [width]="50"
                                            (valueChanged)="itemsPerPageChanged($event)"></select2>
                            </div>
                            <div class="append-icon">
                                <input class="form-control form-white pull-right" id="email-search" type="text" placeholder="Search...">
                                <i class="icon-magnifier"></i>
                            </div>
                        </div>
                        <ul class="nav nav-tabs text-right">
                            <li class="f-right"><a href="" data-toggle="tab" style="padding:10px 7px 10px 80px" (click)="sort(2)">Received</a></li>
                            <li class="active f-left"><a href="" data-toggle="tab" style="padding:10px 7px 10px 2px" (click)="sort(0)">Code</a></li>
                            <li class="f-left"><a href="" data-toggle="tab" style="padding:10px 310px 10px 20px" (click)="sort(1)">Address</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active">
                                <div class="messages-list withScroll show-scroll mCustomScrollbar _mCS_12" style="height: 632px;" data-height="window" data-padding="180">
                                    <div class="mCustomScrollBox mCS-light" id="mCSB_12" style="position:relative; height:100%; overflow:auto; max-width:100%;">
                                        <div class="mCSB_container" style="position:relative; top:0;">
                                            <div class="message-item media" *ngFor="let msg of messages; let i = index;" id="p_{{msg.id}}"
                                                    (click)="onRowSelected(i)" [class.message-list-selected]="msg.isSelected">
                                                <div class="media">
                                                    <div width="40" class="sender-img" [class.bold]="!msg.read">{{msg.priorityCode}}</div>
                                                    <div class="media-body">
                                                        <div class="sender" [class.bold900]="!msg.read">{{msg.originator}}</div>
                                                        <div class="date" [class.bold900]="!msg.read">{{msg.created}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin:1px 10px 1px 10px">
                            <server-pagination [currentPage]="paging.currentPage"
                                               [pageSize]="paging.pageSize"
                                               [totalCount]="paging.totalCount"
                                               [totalPages]="totalPages"
                                               [sliderSize]="9"
                                               (onPageChange)="onPageChange($event)"></server-pagination>
                        </div>
                    </section>
                </aside>
                <div class="email-details">
                    <section *ngIf="messagePanel === 0" style="padding:10px 20px 0 20px !important">
                        <div class="email-subject">
                            <h1>Message Content</h1>
                            <div class="clearfix">
                                <div class="go-back-list"><i class="icon-arrow-left" data-original-title="Back to email list" data-rel="tooltip" data-placement="bottom"></i></div>
                                <p>from <strong><span class="sender">{{selectedMessage?.originator}}</span></strong> • <span class="date">{{selectedMessage?.created}}</span></p>
                                <div class="pull-right">
                                    <button class="btn btn-primary" style="padding:1px 18px 2px 18px" (click)="replyTo()">
                                        <i class="fa fa-mail-reply" style="font-size:1.7em !important; color:#fff"></i>
                                        <strong class="f-12">&nbsp;&nbsp;Reply&nbsp;&nbsp;</strong>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="email-details-inner withScroll mCustomScrollbar _mCS_13" style="height: 657px;" data-height="window" data-padding="155">
                            <div class="mCustomScrollBox mCS-light" id="mCSB_13" style="position:relative; height:100%; max-width:100%;">
                                <div class="mCSB_container" style="position:relative; top:0;">
                                    <div class="email-content">
                                        <p>{{selectedMessage?.body}}</p>
                                    </div>
                                </div><div class="mCSB_scrollTools" style="display: block; position: absolute; opacity: 0;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="top: 0px; height: 639px; position: absolute;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 639px; position: relative;"></div></div><div class="mCSB_draggerRail"></div></div></div>
                            </div>
                        </div>
                    </section>
                    <section *ngIf="messagePanel === 1" style="padding:10px 20px 0 20px !important">
                        <div class="email-subject">
                            <h1><strong>Write</strong> a message</h1>
                            <div class="clearfix">
                                <p>from <strong><span class="sender">me</span></strong> • <span class="date-send">20 March, 15:19</span></p>
                            </div>
                        </div>                   
                        <div class="email-details-inner withScroll mCustomScrollbar _mCS_70" data-height="window" data-padding="200">
                            <div class="mCustomScrollBox mCS-light" id="mCSB_70" style="position:relative; height:100%; overflow:hidden; max-width:100%;">
                                <div class="mCSB_container" style="position:relative; top:0;">
                                    <div class="answers">
                                        <div class="answer-subject">
                                            <h2 class="answer-title"></h2>
                                            <p>from <strong>me</strong> • <span class="answer-date"></span></p>
                                        </div>
                                        <div class="answer-content"></div>
                                    </div>
                                    <div class="send-to m-t-10">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon btn btn-xs btn-primary" (click)="openSearchDialog()">To</span>
                                                <input class="form-control form-white" [(ngModel)]="recipients" type="text" placeholder="Recipient's username" style="text-transform:uppercase">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12"  style="padding: 0px;z-index:1000">
                                        <div class="col-md-5 send-to m-t-10" style="padding-left: 0px">
                                            <div class="form-group">
                                                <label class="control-label">{{'MessageQueue.PriorityCode' | translate:lang}}</label>
                                                <div class="append-icon">
                                                    <select2 [data]="priorityCodes"
                                                             [options]="prioriTyCodeOptions"
                                                             [width]="200"
                                                             [value]="selectedPriorityCodeId"
                                                             (valueChanged)="onPriorityCodeChanged($event)"></select2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 send-to m-t-10" style="padding-right: 0px;">
                                            <div class="form-group">
                                                <label class="control-label">{{'MessageQueue.Template' | translate:lang}}</label>
                                                <div class="append-icon">
                                                    <select2 [data]="templates"
                                                             [options]="templateOptions"
                                                             [width]="200"
                                                             [value]="selectedTemplateId"
                                                             (valueChanged)="onTemplateChanged($event)"></select2>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-md-2 m-t-30">
                                                <div class="btn-group">
                                                    <button class="btn btn-primary dropdown-toggle" [disabled]="selectedTemplateId == -1" aria-expanded="false" type="button" data-toggle="dropdown">
                                                        Set Template To <span class="caret"></span>
                                                    </button>
                                                    <span class="dropdown-arrow"></span>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a (click)="setTemplate(1)"><i class="fa fa-circle-o c-red"></i>Slot 1</a></li>
                                                        <li><a (click)="setTemplate(2)"><i class="fa fa-circle-o c-blue"></i>Slot 2</a></li>
                                                        <li><a (click)="setTemplate(3)"><i class="fa fa-circle-o c-green"></i>Slot 3</a></li>
                                                        <li><a (click)="setTemplate(4)"><i class="fa fa-circle-o c-yellow"></i>Slot 4</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="write-answer">
                                        <div class="answer-textarea" style="display: none;"></div>
                                        <div class="note-editor">
                                            <textarea class="note-editable" [(ngModel)]="messageBody"></textarea>
                                            <div class="alert fade in alert-info pull-left" style="padding:7px">
                                                <p><strong>Recipients: </strong> AFTN Addresses must contains 8 letters characters and must be separated by a semicolon.</p>
                                            </div>
                                            <button class="btn btn-primary pull-right" type="button" (click)="sendMessage()" [disabled]="disableSendButton()" >Send</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
        <!-- END PAGE CONTENT -->
        <div class="email-context dropdown clearfix" id="context-menu"><ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"><li><a href="#" data-color="danger" data-label="business"><i class="fa fa-circle-o c-red" data-color="danger" data-label="business"></i> Business</a></li><li><a href="#" data-color="primary" data-label="family"><i class="fa fa-circle-o c-blue" data-color="primary" data-label="family"></i> Family</a></li><li><a href="#" data-color="success" data-label="friends"><i class="fa fa-circle-o c-green" data-color="success" data-label="friends"></i> Friends</a></li><li><a href="#" data-color="warning" data-label="personal"><i class="fa fa-circle-o c-yellow" data-color="warning" data-label="personal"></i> Personal</a></li><li><a href="#"><i class="fa fa-circle-o c-gray"></i> No label</a></li><li class="border-top"><a href="#" data-remove="true"><i class="fa fa-times"></i> Remove Email</a></li></ul></div>
    </div>
    <!-- END MAIN CONTENT -->
</section>

<div id="modal-delete" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'MessageQueue.DeleteMessage' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'MessageQueue.DeleteMessageConfirmation' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="updateMessageStatus(4)">{{'Common.Yes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-discard-message" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'MessageQueue.DiscardMessage' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'MessageQueue.DiscardMessageConfirmation' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="discardMessage()">{{'Common.Yes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>


<div id="modal-search" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'MessageQueue.SearchDialog' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-header panel-controls">
                        <div class="panel-header" style="padding:0px 0px 0px 7px;">
                            <button class="btn btn-sm btn-primary m-b-5 m-t-5 m-r-0" (click)="addAddress()"><i class="fa fa-plus-circle p-r-0"></i></button>
                            <button class="btn btn-sm btn-danger m-b-5 m-t-5 m-l-0" (click)="deleteAddress()"><i class="fa fa-minus-circle p-r-0"></i></button>
                            <div class="message-address-box">
                                <span class="label label-default m-r-5" style="z-index:200;"
                                      [class.label-primary]="addressIndexSelected===i" *ngFor="let address of addresses; let i = index;"
                                      (click)="selectAddress(i)"><strong>{{address}}</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-content" style="height:310px; overflow-y:auto; padding-top: 5px">
                        <table class="table">
                            <thead>
                                <tr class="active">
                                    <th>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input [(ngModel)]="searchFilter.client" class="form-control form-white" type="text" placeholder="Client Name">
                                        </div>
                                    </th>
                                    <th>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            <input [(ngModel)]="searchFilter.clientTypeStr" class="form-control form-white" type="text" placeholder="Client Type">
                                        </div>
                                    </th>
                                    <th>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                                            <input [(ngModel)]="searchFilter.address" class="form-control form-white" type="text" placeholder="Client Address">
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr role="row" *ngFor="let subsc of subscriptions | subscfilter:searchFilter; let i = index;" id="p_{{subsc.id}}" 
                                    (click)="selectSubscription(subsc)"
                                    [class.bg-selected]="subsc.isSelected">
                                    <td>{{subsc.client}}</td>
                                    <td>{{subsc.clientTypeStr}}</td>
                                    <td>{{subsc.address}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" [disabled]="addresses.length <= 0" (click)="appendAddressToRecipientList()">{{'Common.Yes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="closeSearchDialog()">{{'Common.Cancel' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>



