﻿<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="m-l-5 m-t-10 m-b-10 no-print">
                <button class="btn btn-primary m-r-10 m-b-10" type="button"
                        [routerLink]="['/dashboard/messages/compose']">
                    <i class="fa fa-pencil-square-o m-r-10"></i>{{'MessageQueue.Compose' | translate:lang}}
                </button>
                <button class="btn btn-info m-r-10 m-b-10" type="button"
                        [disabled]="!selectedMessage"
                        (click)="viewMessage()">
                    <i class="fa fa-id-card-o m-r-10"></i>{{'MessageQueue.Read' | translate:lang}}
                </button>
                <button class="btn btn-info m-r-10 m-b-10" type="button"
                        [routerLink]="['/dashboard/messages/templates']">
                    <i class="fa fa-id-card-o m-r-10"></i>{{'MessageQueue.ManageTemplates' | translate:lang}}
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="height:100%;">
        <div class="row">
            <div class="col-md-12 portlets ui-sortable">
                <div class="panel">
                    <div class="panel-content">
                        <div class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel">
                                        <div class="panel-header" style="padding-bottom:11px;">
                                            <div class="form-group">
                                                <div class="btn-group">
                                                    <button class="btn btn-white" [class.active]="messageViewActive === 0" type="button" (click)="onReceived()"><i class="fa fa-envelope-o"></i> {{'MessageQueue.Received' | translate:lang}}<span class="badge badge-primary bd-full m-l-10 m-r-5">{{messageCount}}</span></button>
                                                    <button class="btn btn-white" [class.active]="messageViewActive === 1" type="button" (click)="onSent()"><i class="fa fa-send-o"></i> {{'MessageQueue.Sent' | translate:lang}}</button>
                                                    <button class="btn btn-white" [class.active]="messageViewActive === 2" type="button" (click)="onParked()"><i class="fa fa-lock"></i> {{'MessageQueue.Parked' | translate:lang}}<span class="badge badge-warning bd-full m-l-10 m-r-5">{{parked}}</span></button>

                                                    <span class="control-label m-l-30" style="line-height:34px">{{'Common.ItemPerPage' | translate:lang}}:</span>
                                                    <select2 [data]="tableHeaders.itemsPerPage"
                                                             [value]="queryOptions.pageSize"
                                                             [options]="{minimumResultsForSearch:-1}"
                                                             [width]="50"
                                                             (valueChanged)="itemsPerPageChanged($event)"></select2>

                                                    <span class="control-label m-l-20" style="line-height:34px">{{'MessageQueue.FilterByStatus' | translate:lang}}:</span>
                                                    <select2 [data]="messageFilter"
                                                             [value]="selectedMessageFilterOptionId"
                                                             [options]="{minimumResultsForSearch:-1}"
                                                             [width]="150"
                                                             (valueChanged)="onStatusFilterChanged($event)"></select2>

                                                </div>
                                            </div>
                                        </div>
                                        <img src="../../../content/images/animated_loading.gif" [style.display]="loadingData ? 'inherit': 'none'"
                                             class="pull-right" style="width:150px; height:20px;" />
                                    </div>
                                </div>
                            </div>
                            <table class="table table-hover table-dynamic table-responsive filter-footer dataTable" role="grid">
                                <thead>
                                    <tr role="row">
                                        <th tabindex="1" [class]="sortingClass(0)" (click)="sort(0)" style="width: 2%;" rowspan="1" colspan="1">{{'MessageQueue.ClientName' | translate:lang}}</th>
                                        <th tabindex="2" [class]="sortingClass(1)" (click)="sort(1)" style="width: 2%;" rowspan="1" colspan="1">{{'MessageQueue.ClientAddress' | translate:lang}}</th>
                                        <th tabindex="3" [class]="sortingClass(2)" (click)="sort(2)" style="width: 10%;" rowspan="1" colspan="1">{{'MessageQueue.Recipients' | translate:lang}}</th>
                                        <th tabindex="4" [class]="sortingClass(3)" (click)="sort(3)" style="width: 3%;" rowspan="1" colspan="1">{{'MessageQueue.OwnedBy' | translate:lang}}</th>
                                        <th tabindex="4" [class]="sortingClass(4)" (click)="sort(4)" style="width: 1%;" rowspan="1" colspan="1">{{'MessageQueue.Code' | translate:lang}}</th>
                                        <th tabindex="5" [class]="sortingClass(5)" (click)="sort(5)" style="width: 2%;" rowspan="1" colspan="1">{{'MessageQueue.Date' | translate:lang}}</th>
                                        <th tabindex="6" [class]="sortingClass(6)" (click)="sort(6)" style="width: 0.5%;" rowspan="1" colspan="1">{{'MessageQueue.Status' | translate:lang}}</th>
                                    </tr>
                                </thead>
                                <tbody id="data-response">
                                    <tr role="row" *ngFor="let msg of messages; let i = index;" id="p_{{msg.id}}" 
                                        (click)="onRowSelected(i)"
                                        (dblclick)="viewMessage()"
                                        [class.success]="msg.isSelected"
                                        [class.bold900]="!msg.read"
                                        [ngClass]="rowColor(msg)">
                                        <td>{{msg.clientName}}</td>
                                        <td>{{msg.clientAddress}}</td>
                                        <td>{{msg.recipients}}</td>
                                        <td>{{getLockedByName(msg)}}</td>
                                        <td>{{msg.priorityCode}}</td>
                                        <td>{{msg.created | date: 'short'}}</td>
                                        <td><i [ngClass]="cssIcon(msg.status, msg.locked)"></i></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="8">
                                            <span class="label label-default bg-white"><i class="fa fa-lock"></i>{{'MessageQueue.Parked' | translate:lang}}</span>|
                                            <span class="label label-default bg-white"><i class="fa fa-bookmark"></i>{{'MessageQueue.Important' | translate:lang}}</span>|
                                            <span class="label label-default bg-white"><i class="fa fa-mail-reply"></i>{{'MessageQueue.Reply' | translate:lang}}</span>|
                                            <span class="label label-default bg-white"><i class="fa fa-times"></i>{{'MessageQueue.Deleted' | translate:lang}}</span>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                            <server-pagination [currentPage]="paging.currentPage"
                                                   [pageSize]="paging.pageSize"
                                                   [totalCount]="paging.totalCount"
                                                   [totalPages]="totalPages"
                                                   [sliderSize]="9"
                                                   (onPageChange)="onPageChange($event)"></server-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-takeownership" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'MessageQueue.MessageOwnership' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'MessageQueue.TakeOwnership1' | translate:lang}} [{{messageOwner}}]. {{'MessageQueue.TakeOwnership2' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'ActionButtons.BtnClose' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

