﻿<div class="row">
    <div class="col-md-6">
        <div class="row">
            <h3 class="m-t-0"><strong>{{'Filter.SearchBy' | translate:lang}}:</strong></h3>
        </div>
        <div class="row">
            <div class="btn-group m-l-5">
                <button *ngFor="let slot of slots; let i = index" class="btn btn-success btn-sm" 
                        (click)="getUserQueryFilter(i+1)"
                        [class.active]="i+1 === filterSlotsActive" 
                        [class.disabled]="!isFilterSlotActivated(i+1)">F{{i+1}}</button>
            </div>
        </div>
        <form role="form" class="form-group" style="margin-bottom: -16px !important">
            <div *ngFor="let f of filters; let idx = index" class="form-group">
                <select2 [data]="filterColumnsData"
                         [value]="filterColumnStartValue[idx]"
                         [options]="{minimumResultsForSearch:-1}"
                         [width]="150"
                         (valueChanged)="onFilterColumnChanged($event, idx)"></select2>
                <select2 [data]="getFilterOperators(filterColumnStartValue[idx])"
                         [value]="filterColumnsData[idx].currentOper"
                         [options]="{minimumResultsForSearch:-1}"
                         [width]="130"
                         (valueChanged)="onFilterOperatorChanged($event, idx)"></select2>
                <div class="input-group">
                    <input type="text" class="form-control form-white" placeholder="{{'Filter.MatchingValue' | translate:lang}}" style="width:144px" *ngIf="filters[idx].type != 'combobox'"
                           [ngClass]="{'form-error': !isFilterAddButtonEnabled(idx) && filterErrorMessage[idx] !== null }"
                           [(ngModel)]="filters[idx].value" [ngModelOptions]="{standalone: true}">
                    <select2 [data]="filters[idx].valueList" *ngIf="filters[idx].type === 'combobox'"
                             [value]="filters[idx].value"
                             [width]="114"
                             [options]="{minimumResultsForSearch:-1}"
                             (valueChanged)="onFilterValueChanged($event, idx)"></select2>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" style="padding:10px; margin-right:0"
                                [disabled]="!isFilterAddButtonEnabled(idx)" (click)="addFilterCondition()">
                            <i class="m-l-5 fa fa-plus"></i>
                        </button>
                        <button class="btn btn-danger" type="submit" style="padding:10px"
                                [disabled]="idx===0 && filters.length <= 1" (click)="removeFilterCondition(idx)">
                            <i class="m-l-5 fa fa-minus"></i>
                        </button>
                    </span>
                </div>
                <div *ngIf="!isFilterAddButtonEnabled(idx)" class="form-error">{{filterErrorMessage[idx]}}</div>
            </div>
            <div class="row">
                <div class="text-left m-t-10">
                    <button class="btn btn-success"
                            [disabled]="isApplyFilterButtonDisabled()" (click)="activateFilter()">
                        {{'Filter.ApplyFilter' | translate:lang}}
                    </button>
                    <div class="btn-group" style="vertical-align:top">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            {{'Filter.SaveFilter' | translate:lang}}
                            <span class="caret"></span>
                        </button>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu" style="min-width:115px" role="menu">
                            <li *ngFor="let slot of slots; let i = index">
                                <a href="#" (click)="saveUserQueryFilter($event, i+1)"><span class="bold">F{{i+1}}</span> - Filter {{i+1}}</a>
                            </li>
                        </ul>
                    </div>
                    <button class="btn btn-info" (click)="clearFilter()">
                        {{'Filter.ClearFilter' | translate:lang}}
                    </button>
                    <div class="btn-group" style="vertical-align:top">
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                            {{'Filter.DeleteFilter' | translate:lang}}
                            <span class="caret"></span>
                        </button>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu" style="min-width:115px" role="menu">
                            <li *ngFor="let slot of slots; let i = index">
                                <a href="#" (click)="deleteUserQueryFilter($event, i+1)"><span class="bold">F{{i+1}}</span> - Filter {{i+1}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
