﻿<div class="app-header">
    <h2>
        <strong> Review Proposal ({{model.displayName}})</strong> 
    </h2>
</div>

<proposal-form [model]="model" [isReadOnly]="true" [isNOF]="true"></proposal-form>

<div style="margin-top:100px">
</div>


