﻿<div class="row">
    <div class="app-header">
        <h2>
            <strong>{{'Dashboard.NOFBoldHeader' | translate:lang}}</strong><a href="../Content/help/NESUserGuide{{langCulture}}.pdf#c_nof_dashboard" target="_blank" style="padding-left:10px;"><i class="icon-question fa-2x"></i></a>
            <div class="pull-right">
                <div class="pull-right m-l-20">
                    <div class="btn-group">
                        <button class="btn btn-info" style="padding:1px 18px 2px 18px">
                            <i class="fa fa-bell-o faa-ring" [class.animated]="runUnreadBellAnimation" style="font-size:1.7em !important"></i>
                            <b class="f-15">&nbsp;&nbsp;{{'Dashboard.NOFMessages' | translate:lang}}&nbsp;&nbsp;{{messageCount}}</b>
                        </button>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <b class="caret"></b>
                            <b class="sr-only">Toggle Dropdown</b>
                        </button>
                        <b class="dropdown-arrow"></b>
                        <ul class="dropdown-menu" role="menu" style="min-width:190px">
                            <li *ngFor="let sound of alarms; let i = index">
                                <a href="#" (click)="changeMessagegQueueAlarm($event, i)">
                                    <i class="fa fa-bell p-r-10 f-18 c-blue"></i>
                                    {{sound.name}}
                                    <i *ngIf="sound.id === currentMessageQueueSound.id" class="fa fa-check p-r-10 f-18 c-blue pull-right"></i>
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="pull-right">
                    <button class="btn btn-warning" style="padding:1px 18px 2px 18px">
                        <i class="fa fa-bell-o faa-ring" [class.animated]="runParkBellAnimation" style="font-size:1.7em !important"></i>
                        <b class="f-15">&nbsp;&nbsp;{{'Dashboard.NOFPark' | translate:lang}}&nbsp;&nbsp;{{parkCount}}</b>
                    </button>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" style="padding:1px 18px 2px 18px">
                            <i class="fa fa-bell-o faa-ring" [class.animated]="runPendingBellAnimation" style="font-size:1.7em !important"></i>
                            <b class="f-15">&nbsp;&nbsp;{{'Dashboard.NOFPending' | translate:lang}}&nbsp;&nbsp;{{pendingCount}}</b>
                        </button>
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <b class="caret"></b>
                            <b class="sr-only">Toggle Dropdown</b>
                        </button>
                        <b class="dropdown-arrow"></b>
                        <ul class="dropdown-menu" role="menu" style="min-width:190px">
                            <li *ngFor="let sound of alarms; let i = index">
                                <a href="#" (click)="changePendingQueueAlarm($event, i)">
                                    <i class="fa fa-bell p-r-10 f-18 c-green"></i>
                                    {{sound.name}}
                                    <i *ngIf="sound.id === currentPendingQueueSound.id" class="fa fa-check p-r-10 f-18 c-green pull-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </h2>
    </div>
    <div>
        <div class="col-lg-7" style="padding-left:0px; z-index:5000">
            <ul class="nav nav-tabs nav-primary" style="border-bottom: 0">
                <li [class.active]="currentTab === 'pending'" [class.tabs-disabled]="tabsDisabled">
                    <a id="pending" href="#pending-queue" data-toggle="tab" (click)="onTabClick('pending')" style="cursor: pointer;">
                        <i class="fa fa-random f-14" (click)="onTabClick('pending')"></i>{{'ActionButtons.BtnPending' | translate:lang}}
                        <span class="badge badge-success bd-full m-l-10 m-r-5" (click)="onTabClick('pending')">{{pendingCount}}</span>
                        <i class="fa fa-bell success faa-ring" [class.animated]="runPendingBellAnimation" style="color:#18a689"></i>
                    </a>
                </li>
                <li [class.active]="currentTab === 'park'" [class.tabs-disabled]="tabsDisabled">
                    <a id="park" href="#park-queue" data-toggle="tab" (click)="onTabClick('park')" style="cursor: pointer;">
                        <i class="fa fa-lock f-14" (click)="onTabClick('park')"></i>{{'ActionButtons.BtnPark' | translate:lang}}&nbsp;
                        <span class="badge badge-warning bd-full m-l-10 m-r-5" (click)="onTabClick('park')">{{parkCount}}</span>
                        <i class="fa fa-bell success faa-ring" [class.animated]="runParkBellAnimation" style="color:#ff9122"></i>
                    </a>
                </li>
                <li [class.active]="currentTab === 'messages'" [class.tabs-disabled]="tabsDisabled">
                    <a id="messages" href="#msg-queue" data-toggle="tab" (click)="onTabClick('messages')" style="cursor: pointer;">
                        <i class="fa fa-envelope f-14" (click)="onTabClick('messages')"></i>{{'ActionButtons.BtnMessages' | translate:lang}}
                        <span class="badge badge-primary bd-full m-l-10" (click)="onTabClick('messages')"></span>
                        <span class="badge badge-primary bd-full m-l-10 m-r-5" (click)="onTabClick('messages')">{{messageCount}}</span>
                    </a>
                </li>
                <li [class.active]="currentTab === 'notam'" [class.tabs-disabled]="tabsDisabled">
                    <a id="notam" href="#notam-list" data-toggle="tab" (click)="onTabClick('notam')" style="cursor: pointer;">
                        <i class="fa fa-wifi f-14" (click)="onTabClick('notam')"></i>{{'ActionButtons.BtnNOTAMs' | translate:lang}}
                        <span class="badge badge-primary bd-full m-l-10" (click)="onTabClick('notam')"></span>
                    </a>
                </li>
                <li [class.active]="currentTab === 'review'" [class.tabs-disabled]="tabsDisabled">
                    <a id="review" href="#review-list" data-toggle="tab" (click)="onTabClick('review')" style="cursor: pointer;">
                        <i class="fa fa-list-alt f-14" (click)="onTabClick('review')"></i>{{'ActionButtons.BtnReview' | translate:lang}}
                        <span class="badge badge-primary bd-full m-l-10" (click)="onTabClick('review')">{{totalReviewed}}</span>
                    </a>
                </li>
                <!--<li [class.active]="currentTab === 'subscription'" [class.tabs-disabled]="tabsDisabled">
                    <a id="subsc" href="#notam-subscription" data-toggle="tab" (click)="onTabClick('subscription')" style="cursor: pointer;">
                        <i class="fa fa-archive f-14" (click)="onTabClick('subscription')"></i>{{'ActionButtons.BtnSubcriptions' | translate:lang}}
                        <span class="badge badge-primary bd-full m-l-10" (click)="onTabClick('subscription')"></span>
                    </a>
                </li>-->
                <li [class.active]="currentTab === 'report'" [class.tabs-disabled]="tabsDisabled">
                    <a href="#notam-report" data-toggle="tab" (click)="onTabClick('report')" style="cursor: pointer;">
                        <i class="fa fa-pie-chart f-14" (click)="onTabClick('report')"></i>{{'Reports.Reports' | translate:lang}}
                        <span class="badge badge-primary bd-full m-l-10" (click)="onTabClick('report')"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div style="margin-top:10px">
            <div class="tab-pane fade" [class.in]="currentTab === 'pending'" id="pending-queue">
                <div *ngIf="currentTab === 'pending'">
                    <nof-queue [name]="'PENDING_QUEUE'" [count]="pendingCount"></nof-queue>
                </div>
            </div>
            <div class="tab-pane fade" id="park-queue" [class.in]="currentTab === 'park'">
                <div *ngIf="currentTab === 'park'">
                    <nof-queue [name]="'PARK_QUEUE'" [count]="parkCount"></nof-queue>
                </div>
            </div>
            <div class="tab-pane fade" id="review-queue" [class.in]="currentTab === 'review'">
                <div *ngIf="currentTab === 'review'">
                    <nof-queue [name]="'REVIEW_QUEUE'" [count]="reviewListCount"></nof-queue>
                </div>
            </div>
            <div class="tab-pane fade" id="notam-queue" [class.in]="currentTab === 'notam'">
                <div *ngIf="currentTab === 'notam'">
                    <nof-notam (onUpdateCounter)="updateCounter($event)"></nof-notam>
                </div>
            </div>
            <div class="tab-pane fade" id="msg-queue" [class.in]="currentTab === 'messages'">
                <div *ngIf="currentTab === 'messages'">
                    <nof-msg-queue (notify)="onNotify($event)" [count]="messageCount"></nof-msg-queue>
                </div>
            </div>
            <!--<div class="tab-pane fade" id="notam-subscription" [class.in]="currentTab === 'subscription'">
                <div *ngIf="currentTab === 'subscription'">
                    <nof-subscription></nof-subscription>
                </div>
            </div>-->
            <div class="tab-pane fade" id="notam-report" [class.in]="currentTab === 'report'">
                <div *ngIf="currentTab === 'report'">
                    <nof-report-container></nof-report-container>
                </div>
            </div>
        </div>
    </div>
</div>

<audio id="pending-queue-sound">
    <source src="../../../Content/sounds/{{currentPendingQueueSound.id}}.{{currentPendingQueueSound.ext}}" type="audio/mp3" />
</audio>

<audio id="message-queue-sound">
    <source src="../../../Content/sounds/{{currentMessageQueueSound.id}}.{{currentMessageQueueSound.ext}}" type="audio/mp3" />
</audio>



