﻿<div class="app-header">
    <h2>
        <strong>{{'MessageQueue.Read' | translate:lang}} {{'MessageQueue.Message' | translate:lang}}</strong> 
    </h2>
</div>

<div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="m-t-10 m-b-10 no-print">
                    <button class="btn btn-info m-r-10 m-b-10" type="button" (click)="backToMsgList()" [disabled]="false">
                        <span><i class="fa fa-arrow-left m-r-10"></i>{{'MessageQueue.BackToList' | translate:lang}}</span>
                    </button>
                    <button class="btn btn-primary m-r-10 m-b-10" type="button" (click)="updateParkStatus()"
                            [disabled]="!model.inbound">
                        <span *ngIf="model.status === 3"><i class="fa fa-unlock m-r-10"></i>{{'MessageQueue.UnparkMessage' | translate:lang}}</span>
                        <span *ngIf="model.status !== 3"><i class="fa fa-lock m-r-10"></i>{{'MessageQueue.ParkMessage' | translate:lang}}</span>
                    </button>
                    <button class="btn btn-primary m-r-10 m-b-10" type="button" (click)="updateImportantStatus()"
                            [disabled]="!model.inbound || model.status === 3">
                        <span *ngIf="model.status === 1"><i class="fa fa-bookmark-o m-r-10"></i>{{'MessageQueue.MarkNotImportantMessage' | translate:lang}}</span>
                        <span *ngIf="model.status !== 1"><i class="fa fa-bookmark m-r-10"></i>{{'MessageQueue.MarkImportantMessage' | translate:lang}}</span>
                    </button>
                    <button class="btn btn-primary m-r-10 m-b-10" type="button"
                            [routerLink]="['/dashboard/messages/compose', model.id]"
                            [disabled]="!model.inbound">
                        <i class="fa fa-mail-reply m-r-10"></i>{{'MessageQueue.ReplyMessage' | translate:lang}}
                    </button>
                    <button class="btn btn-primary m-r-10 m-b-10" type="button" (click)="updateDeleteStatus()"
                            [disabled]="!model.inbound || model.status === 3">
                        <span *ngIf="model.status === 4"><i class="fa fa-rotate-left m-r-10"></i>{{'MessageQueue.UndeleteMessage' | translate:lang}}</span>
                        <span *ngIf="model.status !== 4"><i class="fa fa-trash-o m-r-10"></i>{{'MessageQueue.DeleteMessage' | translate:lang}}</span>
                    </button>
                </div>
            </div>
        </div>


        <div class="col-md-12 col-sm-12 col-xs-12">
            <form [formGroup]="msgForm" class="form" autocomplete="off" novalidate="novalidate">

                <div class="panel bg-blue-dark">
                    <div class="panel-header">
                        <h3><i class="fa fa-envelope-o"></i> <strong>{{'MessageQueue.ViewMessage' | translate:lang}}</strong></h3>
                    </div>
                    <div class="panel-content bg-white">
                        <div class="row">
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label class="control-label">{{'MessageQueue.Originator' | translate:lang}}</label>
                                    <div class="append-icon">
                                        <input id="originator" formControlName="originator" type="text" class="form-control">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label class="control-label">{{'MessageQueue.PriorityCode' | translate:lang}}</label>
                                    <div class="append-icon">
                                        <input id="priorityCode" formControlName="priorityCode" type="text" class="form-control">
                                        <i class="fa fa-info"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="control-label">{{'MessageQueue.Recipients' | translate:lang}}</label>
                                    <div class="append-icon">
                                        <input id="recipients" formControlName="recipients" type="text" style="text-transform: uppercase;"
                                               class="form-control"
                                               placeholder="{{'MessageQueue.Recipients' | translate:lang}}" />
                                        <i class="fa fa-users"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">{{'MessageQueue.MessageBody' | translate:lang}}</label>
                                    <div class="append-icon">
                                        <textarea id="messageBody" formControlName="messageBody" type="text" rows="30" style="text-transform: uppercase;"
                                                  class="form-control form-white"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="text-center  m-t-20">
                            <button class="cancel btn btn-info m-b-10 m-r-0" type="reset" (click)="backToMsgList()">
                                <span><i class="fa fa-arrow-left m-r-10"></i>{{'MessageQueue.BackToList' | translate:lang}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>





