﻿<div class="app-header">
    <h2>
        <strong>{{'MessageQueue.CreateTemplate' | translate:lang}}</strong>
    </h2>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="form" class="form" autocomplete="off" (ngSubmit)="onSubmit()" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-user-md"></i> <strong>{{'MessageQueue.MessageTemplate' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{'MessageQueue.TemplateName' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="name" formControlName="name" type="text"
                                           placeholder="{{'MessageQueue.TemplateName' | translate:lang}}"
                                           class="form-control"
                                           [class.form-white]="true"
                                           [ngClass]="{'form-error': !validateName() }">
                                    <i class="fa fa-user"></i>
                                    <div *ngIf="!validateName() && form.controls.name.errors && form.controls.name.errors.required" class="form-error">{{'MessageQueue.TemplateNameRequired' | translate:lang}}.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="control-label">AFTN Addresses</label>
                                <div class="append-icon">
                                    <input id="addresses" formControlName="address" type="text" style="text-transform:uppercase;" 
                                           placeholder="AFTN Address"
                                           [class.form-white]="true"
                                           class="form-control"
                                           [ngClass]="{'form-error': !validateAddress() }">
                                    <i class="fa fa-desktop"></i>
                                    <div *ngIf="!validateAddress() && form.controls.address.errors && form.controls.address.errors.required" class="form-error">{{'MessageQueue.RecipientsRequiered' | translate:lang}}</div>
                                    <div *ngIf="!validateAddress() && form.controls.address.errors && form.controls.address.errors.pattern" class="form-error">{{'MessageQueue.RecipientsInvalidFormat' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">{{'MessageQueue.TemplateBody' | translate:lang}}</label>
                                <div class="append-icon">
                                    <textarea cols="80" rows="15" id="body" formControlName="body"
                                              class="form-control" placeholder="{{'MessageQueue.TemplateBody' | translate:lang}}"
                                              [class.form-white]="true" [ngClass]="{'form-error': !validateBody() }"
                                              style="resize:vertical; text-transform:uppercase;"></textarea>
                                    <i class="fa fa-pencil-square-o"></i>
                                    <div *ngIf="form.controls.body.errors && form.controls.body.errors.required" class="form-error">{{'MessageQueue.TemplateBodyRequired' | translate:lang}}.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center  m-t-20">
                        <button class="btn btn-embossed btn-primary" type="submit" [disabled]="form.pristine || !form.valid">{{'Common.Save' | translate:lang}}</button>
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToMessageTemplates()">{{'Common.Cancel' | translate:lang}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

