﻿<div class="dataTables_wrapper form-inline">
    <div class="panel">
        <div class="panel-header" style="padding-bottom:11px;">
            <div class="control-btn">
                <a class="panel-close" href="#" *ngIf="isFilterApplied" (click)="filter.clearFilter($event, false)">
                    <i class="fa fa-trash filter-remove"></i>
                </a>
                <a class="panel-toggle">
                    <i class="fa fa-filter" [class.filter-active]="isFilterApplied"></i>
                    <i class="m-l-10 fa" [ngClass]="filterPannelOpen ? 'fa-angle-up' : 'fa-angle-down'" (click)="filterPannelOpen = !filterPannelOpen"></i>
                </a>
            </div>
            <div class="form-group">
                <span class="control-label" style="line-height:34px">{{'Dashboard.ItemsPerPage' | translate:lang}}:</span>
                <select2 [data]="tableHeaders.itemsPerPage"
                         [value]="queryOptions.pageSize"
                         [options]="{minimumResultsForSearch:-1}"
                         [width]="50"
                         (valueChanged)="itemsPerPageChanged($event)"></select2>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 m-t-10">{{'Common.Start' | translate:lang}}:</label>
                <div class="col-md-8">
                    <div class="prepend-icon">
                        <input id="rpt-notam-startdate" class="rpt-notam-datepicker form-control form-white" type="text" data-orientation="top" onkeydown="event.preventDefault()" placeholder="{{'Common.MMDDYYY' | translate:lang}}">
                        <i class="icon-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="form-group m-l-20">
                <label class="control-label col-md-2 m-t-10">{{'Common.End' | translate:lang}}:</label>
                <div class="col-md-7">
                    <div class="prepend-icon">
                        <input id="rpt-notam-enddate" class="rpt-notam-datepicker form-control form-white" type="text" data-orientation="top" onkeydown="event.preventDefault()" placeholder="{{'Common.MMDDYYY' | translate:lang}}">
                        <i class="icon-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="form-group m-l-20">
                <div class="col-md-12">
                    <div class="prepend-icon">
                        <div class="btn-group">
                            <button type="button" class="btn btn-white" [class.active]="filterByActive==='All'" (click)="filterByActives('All')">{{'Filter.All' | translate:lang}}</button>
                            <button type="button" class="btn btn-white" [class.active]="filterByActive==='Active'" (click)="filterByActives('Active')">{{'Filter.Active' | translate:lang}}</button>
                            <button type="button" class="btn btn-white" [class.active]="filterByActive==='Inactive'" (click)="filterByActives('Inactive')">{{'Filter.Inactive' | translate:lang}}</button>
                        </div>                    
                    </div>
                </div>
            </div>
            <div class="form-group pull-right">
                <button class="btn btn-info" [disabled]="!isRunReportButtonEnabled()" (click)="exportReport()">{{'Reports.ExportCSV' | translate:lang}}</button>
                <button class="btn btn-primary" style="margin-right:90px" [disabled]="!isRunReportButtonEnabled()" (click)="runReport()">{{'Reports.RunReport' | translate:lang}}</button>
            </div>
        </div>
        <img src="../../../content/images/animated_loading.gif" [style.display]="loadingData ? 'inherit': 'none'" class="pull-right" style="width:150px; height:20px;" />
        <div class="panel-content" style="display:none; background-color:#edf6fb; min-height:200px;">
            <report-filter #reportFilter [pageSize]="paging.pageSize" filterType="2" (onFilterChanged)="onFilterChanged($event)"></report-filter>
        </div>
    </div>
    <table class="table table-hover table-dynamic table-responsive filter-footer dataTable" role="grid">
        <thead>
            <tr role="row" style="background-color: #f7f7f7;">
                <th tabindex="1" [class]="sortingClass(0)" (click)="sort(0)" style="width: 6%;" title="NOTAM ID">NOTAM #</th>
                <th tabindex="2" [class]="sortingClass(1)" (click)="sort(1)" style="width: 5%;" title="{{'TableHeaders.NotamType' | translate:lang}}">TYP</th>
                <th tabindex="3" [class]="sortingClass(2)" (click)="sort(2)" style="width: 5%;" title="{{'TableHeaders.RefNotam' | translate:lang}}">REF #</th>
                <th tabindex="4" [class]="sortingClass(3)" (click)="sort(3)" style="width: 5%;" title="{{'TableHeaders.Series' | translate:lang}}">SER</th>
                <th tabindex="5" [class]="sortingClass(4)" (click)="sort(4)" style="width: 5%;" title="Item A">{{'TableHeaders.ItemA' | translate:lang}}</th>
                <th tabindex="6" style="width: 4%;">{{'TableHeaders.SiteID' | translate:lang}}</th>
                <th tabindex="7" [class]="sortingClass(6)" (click)="sort(6)" style="width: 3%;" title="{{'TableHeaders.Permanent' | translate:lang}}?">PRM</th>
                <th tabindex="8" [class]="sortingClass(7)" (click)="sort(7)" style="width: 3%;" title="{{'TableHeaders.Estimated' | translate:lang}}?">EST</th>
                <th tabindex="9" [class]="sortingClass(8)" (click)="sort(8)" style="width: 20%;" title="Item E">{{'TableHeaders.ItemE' | translate:lang}}</th>
                <th tabindex="10" [class]="sortingClass(9)" (click)="sort(9)" style="width: 6%;">{{'TableHeaders.Originator' | translate:lang}}</th>
                <th tabindex="11" [class]="sortingClass(10)" (click)="sort(10)" style="width: 6%;">{{'TableHeaders.Approver' | translate:lang}}</th>
                <th tabindex="12" [class]="sortingClass(11)" (click)="sort(11)" style="width: 5%">{{'TableHeaders.Start' | translate:lang}} </th>
                <th tabindex="13" [class]="sortingClass(12)" (click)="sort(12)" style="width: 5%">{{'TableHeaders.End' | translate:lang}} </th>
                <th tabindex="14" [class]="sortingClass(13)" (click)="sort(13)" style="width: 8%">{{'TableHeaders.Received' | translate:lang}}</th>
                <th tabindex="15" [class]="sortingClass(14)" (click)="sort(14)" style="width: 8%">{{'TableHeaders.Published' | translate:lang}}</th>
                <th tabindex="16" style="width: 8%">{{'Filter.Active' | translate:lang}}</th>
            </tr>
        </thead>
        <tbody id="data-response">
            <tr role="row" *ngFor="let notam of notamList(); let i = index;" (click)="onRowSelected(i)" [class.success]="notam.isSelected">
                <td>{{notam.notamId}}</td>
                <td>{{notam.typeStr}}</td>
                <td>{{notam.referredNotamId}}</td>
                <td>{{notam.series}}</td>
                <td>{{notam.itemA}}</td>
                <td>{{notam.siteId}}</td>
                <td>{{notam.isPermanent ? 'Y' : 'N' }}</td>
                <td>{{notam.isEstimated ? 'Y' : 'N' }}</td>
                <td>{{ (notam.itemE && notam.itemE.length > 60) ? (notam.itemE | slice:0:60) + '...' : (notam.itemE) }}</td>
                <td>{{notam.originator}}</td>
                <td>{{notam.modifiedByUsr}}</td>
                <td>{{notam.startActivity | datex: 'YYMMDDHHmm'}}</td>
                <td>{{notam.permanent ? 'PERM' : (notam.endValidity | datex: 'YYMMDDHHmm')}}</td>
                <td>{{notam.received | datex: 'YYMMDDHHmm'}}</td>
                <td>{{notam.published | datex: 'YYMMDDHHmm'}}</td>
                <td>{{notam.isObsolete ? "N" : "Y"}}</td>
            </tr>
        </tbody>
    </table>
    <server-pagination [currentPage]="paging.currentPage"
                       [pageSize]="paging.pageSize"
                       [totalCount]="paging.totalCount"
                       [totalPages]="totalPages"
                       [sliderSize]="9"
                       (onPageChange)="onPageChange($event)"></server-pagination>


</div>

