﻿@using Westwind.Globalization;

<script id="Update_OrganizationTemplate" type="text/x-kendo-template">
    <div id="detailContent">
        <form>
            <table style=" width:500px" class="OrgTable">
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("Name:", "OrganizationRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox" id="Name" name="Name" data-bind="value: Name" required maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("Address:", "OrganizationRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox" id="Address" name="Address" data-bind="value: Address" required maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("Domain of Authority", "OrganizationRes"):
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input id="AssignedDoaId" name="AssignedDoaId" style="width:290px;" data-bind='value : AssignedDoaId' />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("Email Address", "OrganizationRes"):
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="email" style="width:290px" class="k-textbox" id="EmailAddress" name="EmailAddress" data-bind="value: EmailAddress" required maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("Telephone Number", "OrganizationRes"):
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox"
                               id="OrganizationTelephone" name="OrganizationTelephone" data-bind="value: Telephone"
                               required maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("Type Of Operation", "OrganizationRes"):
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox" id="TypeOfOperation" name="TypeOfOperation" data-bind="value: TypeOfOperation" required maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("Head Office Information", "OrganizationRes"):
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox" id="HeadOffice" name="HeadOffice" data-bind="value: HeadOffice" maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("Email Distribution List", "OrganizationRes"):
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <textarea style="width:290px; height:80px" id="EmailDistribution" name="EmailDistribution" class="k-textbox" data-bind="value: EmailDistribution" maxlength="500" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("Is Fic", "OrganizationRes"):
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="checkbox" id="IsFic" name="IsFic" data-bind="checked: IsFic" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("FIC", "OrganizationRes"):
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input data-bind="value: FicId" id="ficSelector" name="ficSelector" style="width:290px;" type="text" data-checkrequired-msg='@DbRes.T("FIC is required when this Organization is marked as FIC.", "OrganizationRes")' />
                    </td>
                </tr>
                <tr id="saveOrgFromReg" style="display:none">
                    <td>
                        <button id="btnPreviousOrgFromReg" style="width:200px" type="button" class="k-button">@DbRes.T("Previous", "OrganizationRes")</button>
                    </td>
                    <td>
                        <button style="width:290px;" id="btnSaveOrg" type="button" class="k-button">@DbRes.T("Continue to create or assign DOA", "OrganizationRes")</button>
                    </td>
                </tr>
            </table>
        </form>
        <div id="error-panel" class="k-edit-buttons k-state-default label-margin" style="display:none; text-align:left">
            <div style="padding-left:10px;">
                <strong>
                    @DbRes.T("One or more errors have ocurred!", "OrgManagementRes")
                </strong>
            </div>
            <div style="padding-left:10px;">
                <ul style="color:red"></ul>
            </div>
        </div>
</div>

</script>