﻿@using Westwind.Globalization;
@model List<NavCanada.Applications.NotamWiz.Web.Areas.Admin.Controllers.AerodromeDisseminationCategoryController.ValueText>

<style scoped>
    .k-button {
        width: 100px !important;
    }

    .allheight {
        height: 100%;
    }

    .k-tabstrip > .k-content, .k-panelbar .k-tabstrip > .k-content {
        height: calc(100% - 50px);
        height: -moz-calc(100% - 50px);
        height: -webkit-calc(100% - 50px);
    }

    .k-tabstrip-wrapper {
        height: calc(100% - 55px);
        height: -moz-calc(100% - 55px);
        height: -webkit-calc(100% - 55px);
    }

    #tabStrip {
        height: 100%;
        display: none;
    }

    #mapView {
        height: calc(100% - 30px);
        height: -moz-calc(100% - 30px);
        height: -webkit-calc(100% - 30px);
    }

    #mapLegend {
        position: fixed;
        right: 30px;
        bottom: 65px;
        outline: none;
        background-color: rgba(0,0,0,0.5);
        color: white;
        text-shadow: 1px 1px #000000;
        border-style: solid;
        border-color: #ffffff;
        border-width:1px;
    }

        #mapLegend > table, #mapLegend > table > tbody > tr > td {
            border: 1px solid black;
        }

            #mapLegend > table > thead > tr > th {
                background-color: rgba(0,0,0,0.6);
            }
</style>

<h1>
    @DbRes.T("Aerodrome Dissemination Category", "AerodromeDisseminationCategory")
</h1>
<hr />
<div id="tabStrip">
    <ul>
        <li>@DbRes.T("Grid View", "AerodromeDisseminationCategory")</li>
        <li id="mapViewTab" class="k-state-active">@DbRes.T("Map View", "AerodromeDisseminationCategory")</li>
    </ul>
    <div>
        <div id="aerodromeDisseminationCategoryGrid" class="allheight"></div>
    </div>
    <div>
        <div id="actionPanel" style="display: none;margin:3px">
            <input id="selectAhp" style="width:50%" />
            <input id="selectDisseminationCategory" />

        </div>

        <div id="mapView"></div>
        <div id="mapLegend">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">
                            @DbRes.T("Legend", "AerodromeDisseminationCategory")
                        </th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var level in Model)
                {
                    <tr>
                        <td>@level.text</td>
                        <td width="20px">
                            <img src="/Images/pushpinRed.png" style="width: 10px; height: auto" />
                        </td>
                    </tr>
                }
                @*<tr>
                    <td>@DbRes.T("National", "AerodromeDisseminationCategory")</td>
                    <td width="20px">
                        <img src="~/Images/pushpinRed.png" style="width: 10px; height: auto"/>
                    </td>
                </tr>
                <tr>
                    <td>@DbRes.T("US", "AerodromeDisseminationCategory")</td>
                    <td>
                        <img src="~/Images/pushpinBlue.png" style="width: 10px; height: auto"/>
                    </td>
                </tr>
                <tr>
                    <td>@DbRes.T("International", "AerodromeDisseminationCategory")</td>
                    <td>
                        <img src="~/Images/pushpinGreen.png" style="width: 10px; height: auto"/>
                    </td>
                </tr>*@

                </tbody>
            </table>
            <span>

            </span>
        </div>
    </div>

</div>
<div id="menuContainer" style="display:none">
    <ul id="menu">
        <li class="_i_">@DbRes.T("Set Dissemination Category to International", "AerodromeDisseminationCategory")</li>
        <li class="_u_">@DbRes.T("Set Dissemination Category to US", "AerodromeDisseminationCategory")</li>
        <li class="_n_">@DbRes.T("Set Dissemination Category to National", "AerodromeDisseminationCategory")</li>
    </ul>
</div>

<div id="disseminationLevels" data-model='@Html.Raw(Json.Encode(Model))'></div>

<script>
@section Scripts{

    require(["admin/Controllers/AerodromeDisseminationCategory/Index"], function (index) {

        var labels = {
            National: '@DbRes.T("National", "AerodromeDisseminationCategory")',
            US: '@DbRes.T("US", "AerodromeDisseminationCategory")',
            International: '@DbRes.T("International", "AerodromeDisseminationCategory")',
            displayLabel: '@DbRes.T("Showing {0}-{1} from {2} data items", "AerodromeDisseminationCategory")',
            noData: '@DbRes.T("No data", "AerodromeDisseminationCategory")',
            enterPage: '@DbRes.T("Enter page", "AerodromeDisseminationCategory")',
            ofLabel: '@DbRes.T("of {0}", "AerodromeDisseminationCategory")',
            firstPage: '@DbRes.T("First page", "AerodromeDisseminationCategory")',
            lastPage: '@DbRes.T("Last page", "AerodromeDisseminationCategory")',
            nextPage: '@DbRes.T("Next page", "AerodromeDisseminationCategory")',
            previousPage: '@DbRes.T("Previous page", "AerodromeDisseminationCategory")',
            refreshTheGrid: '@DbRes.T("Refresh the grid", "AerodromeDisseminationCategory")',
            morePages: '@DbRes.T("More pages", "AerodromeDisseminationCategory")',
            aerodromeCode: '@DbRes.T("Aerodrome Code", "AerodromeDisseminationCategory")',
            aerodromeName: '@DbRes.T("Aerodrome Name", "AerodromeDisseminationCategory")',
            disseminationCategory: '@DbRes.T("Dissemination Category", "AerodromeDisseminationCategory")',
            addLabel: '@DbRes.T("Add", "AerodromeDisseminationCategory")',
            saveLabel: '@DbRes.T("Save", "AerodromeDisseminationCategory")',
            cancelLabel: '@DbRes.T("Cancel", "AerodromeDisseminationCategory")',
            couldNotLoadData: '@DbRes.T("Could not load data for", "AerodromeDisseminationCategory")',
            selectAD: '@DbRes.T("Select AD...", "AerodromeDisseminationCategory")'
        };
        index.init(labels);
    })

 }
</script>
