﻿@model NavCanada.Services.Api.IdentityProvider.Models.CreateUserAccountModel
@{
    ViewBag.Title = "Index";
}

<h2>Create Account</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="Username">Username</label>
        @Html.TextBoxFor(m=> m.Username, new { @class = "form-control"})
    </div>
    <div class="form-group">
        <label for="Firstname">First name</label>
        @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Lastname">Last name</label>
        @Html.TextBoxFor(m => m.Lastname, new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label for="Lastname">Email</label>
        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password</label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Role">Your subscription</label>
        @Html.DropDownListFor(m => m.Role, Model.Roles, new {@class = "form-control"})
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Create Account</button>
    </div>
}

