﻿<div class="row">
    <div class="md-12">
        <div class="panel" style="background-color: #caeeff">
            <div class="panel-header panel-inner-header" style="padding:1px 15px 1px 18px !important">
                <h3><i class="fa fa-calendar-check-o"></i><strong>{{'Schedule.CalendarView' | translate:lang}}</strong></h3>            
                <div class="control-btn">
                    <a class="closed" href="#" (click)="toggleShedule($event, true)"><i class="fa fa-angle-down"></i></a>
                </div>
            </div>
            <div id="schedule-daily-content" class="panel-inner-content bg-white" style="display:block">
                <div class="p-10">
                    <div>
                        <button type="button" class="btn btn-primary" [disabled]="!isValid()" (click)="parseEvents(true)"><i class="fa fa-plus"></i>{{'ActionButtons.Add' | translate:lang}}</button>
                        <button type="button" class="btn btn-primary" (click)="zoomIn()" [disabled]="slootDuration === 1"><i class="fa fa-search-plus"></i>{{'ActionButtons.ZoomIn' | translate:lang}}</button>
                        <button type="button" class="btn btn-primary" (click)="zoomOut()" [disabled]="slootDuration === 15"><i class="fa fa-search-minus"></i>{{'ActionButtons.ZoomOut' | translate:lang}}</button>
                        <button type="button" class="btn btn-primary" (click)="deleteEvents($event, true)" [disabled]="isClearButtonDisabled()"><i class="icon-trash"></i>{{'ActionButtons.Clear' | translate:lang}}</button>
                        <button type="button" class="btn btn-inverse" (click)="slideToggle()">{{'ActionButtons.Close' | translate:lang}}</button>
                    </div>
                    <div class="row p-10 bg-info" style="margin-left:1px; margin-right:1px">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label col-sm-3 m-t-10">{{'Schedule.StartActivity' | translate:lang}}: </label>
                                <div class="col-md-5 p-l-0">
                                    <div class="prepend-icon">
                                        <input id="d-start" class="d-datepicker form-control form-white" type="text" placeholder="YYMMDD (UTC)" [disabled]="parent && parent.isReadOnly" onkeydown="event.preventDefault()">
                                        <i class="icon-calendar"></i>
                                    </div>
                                    <div class="form-error" *ngIf="!isStartHasValue()">{{'ErrorMsgs.StartActivityRequired' | translate:lang}}</div>
                                    <div class="form-error" *ngIf="!isStartValidDate()">{{'ErrorMsgs.StartActivityDate' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label col-sm-3 m-t-10">{{'Schedule.EndActivity' | translate:lang}}: </label>
                                <div class="col-md-5 p-l-0">
                                    <div class="prepend-icon">
                                        <input id="d-end" class="d-datepicker form-control form-white" type="text" placeholder="YYMMDD (UTC)" [disabled]="parent && parent.isReadOnly" onkeydown="event.preventDefault()">
                                        <i class="icon-calendar"></i>
                                    </div>
                                    <div class="form-error" *ngIf="!isEndHaveValue()">{{'ErrorMsgs.EndActivityRequired' | translate:lang}}</div>
                                    <div class="form-error" *ngIf="!isEndValidDate()">{{'ErrorMsgs.EndActivityDate' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 m-t-10">
                            <div id="calendar" class="m-t-5"></div>
                        </div>
                    </div>
                </div>
                <div class="p-l-10">
                    <button type="button" class="btn btn-primary" [disabled]="!isValid()" (click)="parseEvents(true)"><i class="fa fa-plus"></i>{{'ActionButtons.Add' | translate:lang}}</button>
                    <button type="button" class="btn btn-primary" (click)="zoomIn()" [disabled]="slootDuration === 1"><i class="fa fa-search-plus"></i>{{'ActionButtons.ZoomIn' | translate:lang}}</button>
                    <button type="button" class="btn btn-primary" (click)="zoomOut()" [disabled]="slootDuration === 15"><i class="fa fa-search-minus"></i>{{'ActionButtons.ZoomOut' | translate:lang}}</button>
                    <button type="button" class="btn btn-primary" (click)="deleteEvents($event, true)" [disabled]="isClearButtonDisabled()"><i class="icon-trash"></i>{{'ActionButtons.Clear' | translate:lang}}</button>
                    <button type="button" class="btn btn-inverse" (click)="slideToggle()">{{'ActionButtons.Close' | translate:lang}}</button>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>{{'Schedule.StartTime' | translate:lang}}(HH:MM)</th>
                    <th>{{'Schedule.EndTime' | translate:lang}}(HH:MM)</th>
                </tr>
            </thead>
            <tbody>
                <tr role="row" *ngFor="let event of dateEvents; let i = index;">
                    <td>{{event.start}}</td>
                    <td>{{event.end}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div id="calendar-daily-modal" class="modal fade" style="z-index:10551">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-light-blue">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'Schedule.ActiveHours' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label m-t-10">{{'Schedule.StartingAt' | translate:lang}}:</label>
                            <div class="col-sm-6 p-l-0">
                                <input class="form-control form-white time" [(ngModel)]="eventDetails.starttime" placeholder="hh:mm" type="text" maxlength="5" [disabled]="parent && parent.isReadOnly" style="width:60px">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="icheck-inline m-t-5">
                                    <label>
                                        <div class="icheckbox_square-blue" [class.checked]="eventDetails.s_sunrise" style="position: relative;">
                                            <input style="position: absolute; opacity: 0;" type="checkbox" data-checkbox="icheckbox_square-blue" (change)="checkboxChanged('s_sunrise', $event)" [disabled]="parent && parent.isReadOnly" />
                                            <ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins>
                                        </div>{{'Schedule.Sunrise' | translate:lang}}
                                    </label>
                                    <label>
                                        <div class="icheckbox_square-blue" [class.checked]="eventDetails.s_sunset" style="position: relative;">
                                            <input style="position: absolute; opacity: 0;" type="checkbox" data-checkbox="icheckbox_square-blue" (change)="checkboxChanged('s_sunset', $event)" [disabled]="parent && parent.isReadOnly" />
                                            <ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins>
                                        </div>{{'Schedule.Sunset' | translate:lang}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-t-10 m-b-0">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label m-t-10">{{'Schedule.EndingAt' | translate:lang}}:</label>
                            <div class="col-sm-6 p-l-0">
                                <input class="form-control form-white time" [(ngModel)]="eventDetails.endtime" placeholder="hh:mm" type="text" maxlength="5" [disabled]="parent && parent.isReadOnly" style="width:60px">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="icheck-inline m-t-5">
                                <label>
                                    <div class="icheckbox_square-blue" [class.checked]="eventDetails.e_sunrise" style="position: relative;">
                                        <input style="position: absolute; opacity: 0;" type="checkbox" data-checkbox="icheckbox_square-blue" (change)="checkboxChanged('e_sunrise', $event)" [disabled]="parent && parent.isReadOnly" />
                                        <ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins>
                                    </div>{{'Schedule.Sunrise' | translate:lang}}
                                </label>
                                <label>
                                    <div class="icheckbox_square-blue" [class.checked]="eventDetails.e_sunset" style="position: relative;">
                                        <input style="position: absolute; opacity: 0;" type="checkbox" data-checkbox="icheckbox_square-blue" (change)="checkboxChanged('e_sunset', $event)" [disabled]="parent && parent.isReadOnly" />
                                        <ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins>
                                    </div>{{'Schedule.Sunset' | translate:lang}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-t-0" />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="m-l-10">
                                <label class="p-t-10">{{'Schedule.CrossMidnight' | translate:lang}}?</label>
                                <label class="switch">
                                    <input id="daily-extendedhours" class="switch-input" type="checkbox" [checked]="eventDetails.extendedHours" (change)="onExtendedHours()" [disabled]="parent && parent.isReadOnly || hasExtendedHours" >
                                    <span class="switch-label" attr.data-off="No" attr.data-on="Yes"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group p-l-0">
                            <div>
                                <label class="p-t-10">{{'Schedule.Period' | translate:lang}}:</label>
                                <input class="form-control form-grey time" placeholder="hh:mm" type="text" maxlength="5" [disabled]="true" style="width:60px" [(ngModel)]="eventDetails.exStarttime">
                                <label class="p-t-10">-</label>
                                <input id="daily-midnight" class="form-control form-white time" placeholder="hh:mm" type="text" maxlength="5" [disabled]="!eventDetails.extendedHours || parent && parent.isReadOnly" style="width:60px" [(ngModel)]="eventDetails.exEndtime">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-clean" style="padding: 7px;">
                    <button id="daily_btn-modal-yes" type="button" class="btn btn-default" [disabled]="isUpdateButtonDisabled()" data-dismiss="modal">{{'ActionButtons.Ok' | translate:lang}}</button>
                    <button id="daily_btn-modal-delete" type="button" class="btn btn-danger" [disabled]="parent && parent.isReadOnly" data-dismiss="modal">{{'ActionButtons.Delete' | translate:lang}}</button>
                    <button id="daily_btn-modal-no" type="button" class="btn btn-dark" data-dismiss="modal">{{'ActionButtons.Cancel' | translate:lang}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

