﻿<div id="georefcomponent">
    <div class="panel">
        <div class="panel-content">
            <div class="row">
                <div class="form-group">
                    <div class="form-group">
                        <label class="form-label">{{'GeoRefTool.DataEntry' | translate:lang}}:</label>
                        <br />
                        <div class="input-group">
                            <div class="icheck-inline m-t-5">
                                <label>
                                    <iRadio [isChecked]="entryDataPoints === true" (change)="entryDataChange()">{{'GeoRefTool.MultiPoints' | translate:lang}}</iRadio>
                                </label>
                                <label>
                                    <iRadio [isChecked]="entryDataPoints === false" (change)="entryDataChange()">{{'GeoRefTool.PointAndRadius' | translate:lang}}</iRadio>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            <div *ngIf="entryDataPoints === true" class="row">
                <div class="form-group">
                    <label class="control-label">{{'GeoRefTool.Points' | translate:lang}}</label>
                    <div class="append-icon">
                        <textarea id="geoPoints" type="text" [(ngModel)]="locationPoints"
                                  rows="5" cols="10" class="form-control" [class.form-white]="true"
                                  style="text-transform:uppercase; resize:none"
                                  spellcheck="false"
                                  placeholder="{{'GeoRefTool.Points' | translate:lang}}"></textarea>
                    </div>
                    <div *ngIf="isCalcError()" class="form-error">{{calcError}}</div>
                </div>
            </div>
            <div *ngIf="entryDataPoints !== true" class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="form-label">{{'GeoRefTool.Point' | translate:lang}}</label>
                        <div class="append-icon">
                            <i class="fa fa-map-marker"></i>
                            <input id="locationPoint" type="text" class="form-control" [(ngModel)]="locationPoint"
                                   [class.form-white]="true"
                                   placeholder="{{'GeoRefTool.Point' | translate:lang}}" style="text-transform:uppercase; font-size: 10px !important">
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="form-label">{{'GeoRefTool.Radius' | translate:lang}}: (NM)</label>
                        <div class="append-icon">
                            <i class="fa fa-map-marker"></i>
                            <input id="locationRadius" type="text" class="form-control" [(ngModel)]="locationRadius"
                                   (keypress)="validateKeyPressNumber($event)"
                                   [class.form-white]="true"
                                   placeholder="{{'GeoRefTool.Radius' | translate:lang}}" style="text-transform:uppercase; font-size: 10px !important">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary m-r-10 m-b-10" type="button" (click)="calculateGeoRef()" [disabled]="isGeoPointInputEmpty()" style="padding-left:20px">
                    <i class="fa fa-calculator m-r-10"></i> {{'GeoRefTool.Calculate' | translate:lang}}
                </button>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="form-label">{{'GeoRefTool.Location' | translate:lang}}:</label>
                        <div class="append-icon">
                            <textarea id="location" type="text" rows="1" cols="10" class="form-control" [readonly]="true"
                                      style="text-transform:uppercase; resize:none"
                                      placeholder="{{'GeoRefTool.Location' | translate:lang}}">{{calcPoint}}</textarea>
                            <i class="fa fa-copy" (click)="copyCalcPointText()"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="form-label">{{'GeoRefTool.Radius' | translate:lang}}: (NM)</label>
                        <div class="append-icon">
                            <textarea id="radius" type="text" rows="1" cols="10" class="form-control" [readonly]="true"
                                      style="text-transform:uppercase; resize:none"
                                      placeholder="{{'GeoRefTool.Radius' | translate:lang}}">{{calcRadius}}</textarea>
                            <i class="fa fa-copy" (click)="copyCalcRadiusText()"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--Map-->
                <div class="nav-tabs2">
                    <!--<div class="tab-content">-->
                    <div id="tab_map" class="_tab-pane" style="width:100%; height:320px; background: transparent url(/content/images/loading.png) no-repeat center center">
                        <div id="geoMap" style="width:100%; height:320px"></div>
                    </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>