﻿<div id="plainTextView">
    <div class="panel bg-gray-light">
        <div class="panel-content" style="padding-top:0px; width:100%; height:620px;">
            <div class="row">
                <h3>
                    <strong>ICAO</strong> {{'IcaoText.Format' | translate:lang}}
                    <img [style.display]="loading ? 'inherit': 'none'" src="../../../content/images/animated_loading.gif" class="pull-right" style="width:150px;" />
                </h3>
                <div *ngIf="icaoNotamText" class="col-md-12">
                    <div>
                        <pre id="icaoNotamText">{{icaoNotamText}}</pre>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="icaoNotamText" class="col-md-12">
                    <div>
                        <button class="btn btn-primary m-r-5 m-b-5" type="button" (click)="copyIcaoText()">
                            {{'ActionButtons.Copy' | translate:lang}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>