﻿@using System.Threading
@using Westwind.Globalization
@model NavCanada.Applications.NotamWiz.Web.NSDs.CatchAll.V0R1.ViewModel
<style scoped>
    .invalid
    {
        color: red;
    }

    span.k-tooltip
    {
        margin-left: 6px;
    }

    .k-input.k-invalid
    {
        border: 1px solid red;
    }
</style>
<table id="mainTable" style="width: 100%">
    <tbody>
        <tr>
            <th width="100px">
                <label for="">@DbRes.T("Linked Aeronutical Subject", "NSD-CatchAll")</label>
            </th>
            <td>
                <input data-bind="value: SdoEntityId" id="sdoSubjectSelector" name="sdoSubjectSelector" style="width: 100%" type="text" />
            </td>
        </tr>
    <tr>
        <th>
            <label for="">@DbRes.T("Subject", "NSD-CatchAll")</label>
        </th>
        <td>
            <input data-bind="value: ICAOSubjectId" id="subjectSelector" name="subjectSelector" style="width: 250px" type="text"/>
        </td>
        <th>
            <label for="">@DbRes.T("Condition", "NSD-CatchAll")</label>
        </th>
        <td>
            <input data-bind="value: ICAOSubjectConditionId" id="conditionSelector" name="conditionSelector" style="width: 250px" type="text"/>
        </td>
    </tr>
    <tr class="hideOnCancelNOTAM">
        <th>
            <label for="subjectLocation">@DbRes.T("Location", "NSD-CatchAll")</label>
        </th>
        <td>
            <input data-bind="value: SubjectLocation" id="subjectLocation" name="subjectLocation" style="width: 150px">
            <input type="image" src="~/Images/view-refresh-4.png" class="k-button" id="btnResetLocation" name="btnResetLocation" title="@DbRes.T("Rest Subject Location", "NSD-CatchAll")"/>
        </td>
        <td>
            <table>
                <tr class="optionalContainer ScopeContainer">
                    <th>
                        <label for="">@DbRes.T("Scope", "NSD-CatchAll")</label>
                    </th>
                    <td>
                        <input class="k-textbox" data-bind="value: Scope" id="Scope" name="Scope" style="width: 50px" type="text"/>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr class="optionalContainer seriesContainer">
                    <th>
                        <label for="">@DbRes.T("Series", "NSD-CatchAll")</label>
                    </th>
                    <td>
                        <input data-bind="value: Series" id="Series" name="Series" style="width: 30px" type="text"/>
                        <input type="image" src="~/Images/view-refresh-4.png" id="btnGetSeries" name="btnGetSeries" title="@DbRes.T("Reset Series", "NSD-CatchAll")" class="k-button"/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="hideOnCancelNOTAM">
        <th class="itemAContainer optionalContainer">
            <label for="">@DbRes.T("Item A", "NSD-CatchAll")</label>
        </th>
        <td class="itemAContainer optionalContainer">
            <input data-bind="value: ItemA" id="ItemA" name="ItemA" style="width: 250px" type="text"/>
        </td>
        <th class="optionalContainer trafficContainer">
            <label for="">@DbRes.T("Traffic", "NSD-CatchAll")</label>
        </th>
        <td class="optionalContainer trafficContainer">
            <label for="iTraffic">@DbRes.T("I", "NSD-CatchAll")</label>
            <input data-bind="checked: Traffic" id="iTraffic" name="Traffic" required type="radio" value="I"/>
            <label for="vTraffic">@DbRes.T("V", "NSD-CatchAll")</label>
            <input data-bind="checked: Traffic" id="vTraffic" name="Traffic" required type="radio" value="V"/>
            <label for="ivTraffic">@DbRes.T("IV", "NSD-CatchAll")</label>
            <input data-bind="checked: Traffic" id="ivTraffic" name="Traffic" required type="radio" value="IV"/>
        </td>
    </tr>
    <tr class="hideOnCancelNOTAM itemPurposeContainer optionalContainer">
        <th>
            <label for="">@DbRes.T("Purpose", "NSD-CatchAll")</label>
        </th>
        <td colspan="99">
            <label for="purposeN">@DbRes.T("N", "NSD-CatchAll")</label>
            <input data-bind="checked: PurposeN" id="purposeN" name="purposeN" type="checkbox"/>
            <label for="purposeB">@DbRes.T("B", "NSD-CatchAll")</label>
            <input data-bind="checked: PurposeB" id="purposeB" name="purposeB" type="checkbox"/>
            <label for="purposeO">@DbRes.T("O", "NSD-CatchAll")</label>
            <input data-bind="checked: PurposeO" id="purposeO" name="purposeO" type="checkbox"/>
            <label for="purposeM">@DbRes.T("M", "NSD-CatchAll")</label>
            <input data-bind="checked: PurposeM" id="purposeM" name="purposeM" type="checkbox"/>
        </td>
    </tr>
    <tr class="hideOnCancelNOTAM itemFGContainer optionalContainer">
        <th>
            <label for="">@DbRes.T("Item F", "NSD-CatchAll")</label>
        </th>
        <td>
            <label for="itemFSFC">@DbRes.T("Surface", "NSD-CatchAll")</label>
            <input data-bind="checked: ItemFSFC" id="itemFSFC" name="itemFSFC" type="checkbox"/>
        </td>
        <td class="ItemFValueContainer">
            <input data-bind="value: ItemF" id="ItemF" name="ItemF" style="width: 150px" type="text"/>
        </td>
        <td class="ItemFValueContainer ">
            <label for="F_AMSL">@DbRes.T("AMSL", "NSD-CatchAll")</label>
            <input checked data-bind="checked: FMeasurementUnit" id="F_AMSL" name="FMeasurementUnit" required type="radio" value="0"/>
            <label for="F_AGL">@DbRes.T("AGL", "NSD-CatchAll")</label>
            <input data-bind="checked: FMeasurementUnit" disabled id="F_AGL" name="FMeasurementUnit" required type="radio" value="1"/>
            <label for="F_FL">@DbRes.T("FL", "NSD-CatchAll")</label>
            <input data-bind="checked: FMeasurementUnit" id="F_FL" name="FMeasurementUnit" required type="radio" value="2"/>
        </td>
    </tr>
    <tr class="hideOnCancelNOTAM itemFGContainer optionalContainer">
        <th>
            <label for="">@DbRes.T("Item G", "NSD-CatchAll")</label>
        </th>
        <td>
            <label for="itemGUNL">@DbRes.T("Unlimited", "NSD-CatchAll")</label>
            <input data-bind="checked: ItemGUNL" id="itemGUNL" name="itemGUNL" type="checkbox"/>
        </td>
        <td class="ItemGValueContainer ">
            <input data-bind="value: ItemG" id="ItemG" name="ItemG" style="width: 150px" type="text"/>
        </td>
        <td class="ItemGValueContainer ">
            <label for="G_AMSL">@DbRes.T("AMSL", "NSD-CatchAll")</label>
            <input checked data-bind="checked: GMeasurementUnit" id="G_AMSL" name="GMeasurementUnit" required type="radio" value="0"/>
            <label for="G_AGL">@DbRes.T("AGL", "NSD-CatchAll")</label>
            <input data-bind="checked: GMeasurementUnit" disabled id="G_AGL" name="GMeasurementUnit" required type="radio" value="1"/>
            <label for="G_FL">@DbRes.T("FL", "NSD-CatchAll")</label>
            <input data-bind="checked: GMeasurementUnit" id="G_FL" name="GMeasurementUnit" required type="radio" value="2"/>
        </td>
    </tr>
    <tr class="hideOnCancelNOTAM">
        <th>
            <label for="">@DbRes.T("Radius", "NSD-CatchAll")</label>
        </th>
        <td colspan="99">
            <input data-bind="value: Radius" id="Radius" name="Radius" style="width: 250px" type="text"/>
        </td>
    </tr>
    <tr class="hideOnCancelNOTAM">
        <th>
            <label for="LowerLimit">@DbRes.T("Lower Limit", "NSD-CatchAll")</label>
        </th>
        <td>
            <input data-bind="value: LowerLimit" id="LowerLimit" name="LowerLimit" style="width: 100px" type="text"/>
        </td>
        <th>
            <label for="UpperLimit">@DbRes.T("Upper Limit", "NSD-CatchAll")</label>
        </th>
        <td>
            <input data-bind="value: UpperLimit" id="UpperLimit" name="UpperLimit" style="width: 100px" type="text"/>
        </td>
    </tr>
    <tr>
        <th style="height: 100%">
            <label for="">@DbRes.T("Text Description", "NSD-CatchAll")</label>
        </th>
        <td colspan="99">
            <textarea class="k-textbox textAreaFill upperCase" data-bind="value:EnglishText_FT" id="conditionText" name="conditionText" placeholder="English..." rows="5"></textarea>
            <div></div>
            <div data-bind="visible: Bilingual">
                <textarea class="k-textbox textAreaFill upperCase" data-bind="value:FrenchText_FT, visible: Bilingual" id="conditionTextFr" name="conditionTextFr" placeholder="French..." rows="5"></textarea>
            </div>
        </td>
    </tr>
    <tr class="validationRow">
        <td colspan="99" width="100%">
            <div>
                
                <span class="k-invalid-msg" data-for="sdoSubjectSelector"></span>
                <span class="k-invalid-msg" data-for="subjectSelector"></span>
                <span class="k-invalid-msg" data-for="conditionSelector"></span>
                <span class="k-invalid-msg" data-for="subjectLocation"></span>
                <span class="k-invalid-msg" data-for="conditionText"></span>
                <span class="k-invalid-msg" data-for="conditionTextFr"></span>
                <span class="k-invalid-msg" data-for="Scope"></span>
                <span class="k-invalid-msg" data-for="Series"></span>
                <span class="k-invalid-msg" data-for="ItemA"></span>
                <span class="k-invalid-msg" data-for="ItemG"></span>
                <span class="k-invalid-msg" data-for="ItemF"></span>
                <span class="k-invalid-msg" data-for="Radius"></span>
                <span class="k-invalid-msg" data-for="LowerLimit"></span>
                <span class="k-invalid-msg" data-for="UpperLimit"></span>
                <span class="k-invalid-msg" data-for="purposeN"></span>
                <div style="display: none">
                    <span class="k-invalid-msg" data-for="purposeB" ></span>
                    <span class="k-invalid-msg" data-for="purposeO" ></span>
                    <span class="k-invalid-msg" data-for="purposeM" ></span>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div id="nsdModel" data-model="@Html.Encode(Html.Raw(Json.Encode(Model)))"></div>
<div id="currentLanguage" data-model="@Thread.CurrentThread.CurrentUICulture.Name"></div>