﻿@using Westwind.Globalization
@inherits WebViewPage
<link href="~/Content/Font-Awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Font-Awesome/css/bootstrap-checkboxes.css" rel="stylesheet" />
<div style="margin-left: 5px; margin-top: 5px; width: 95%;">
    <div class="col-lg-12" id="rwy-clsd">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">@DbRes.T("Reason for closing the runway", "NSD-RwyClsd")</div>
                <div class="panel-body" style="width: 94%">
                    <form class="form-horizontal" id="frm-reason" role="form">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-1 control-label text-info" for="cbx-reason">@DbRes.T("Reason:", "NSD-RwyClsd")</label>
                                <div class="col-lg-10">
                                    <input data-bind="value: reason" id="cbx-reason" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="visible: showFreeText">
                            <div class="form-group">
                                <label class="col-md-1 control-label text-info" for="free-text">@DbRes.T("Details (En):", "NSD-RwyClsd")</label>
                                <div class="col-lg-10">
                                    <input class="k-textbox" data-bind="value: freeText" data-message="" id="free-text" name="free-text" placeholder="@DbRes.T("More information (English)", "NSD-RwyClsd")" style="width: 100%" type="text" />
                                </div>
                            </div>
                            <div class="form-group" data-bind="visible: bilingual">
                                <label class="col-md-1 control-label text-info" for="free-text-fr">@DbRes.T("Details (Fr):", "NSD-RwyClsd")</label>
                                <div class="col-lg-10">
                                    <input class="k-textbox" data-bind="value: freeTextFr" data-message="" id="free-text-fr" name="free-text-fr" placeholder="@DbRes.T("More information (French)", "NSD-RwyClsd")" style="width: 100%" type="text" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-heading">
                    @DbRes.T("Taxiway Availability (Optional)", "NSD-RwyClsd")
                    <div class="pull-right" data-bind="click: clearAvailabilitySelection" style="margin-top: -6px">
                        <a class="btn btn-info btn-sm" href="#">@DbRes.T("Clear All", "NSD-RwyClsd")</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div>
                        <div class="checkbox checkbox-info">
                            <input data-bind="checked: rdAvlSelectedValue, value:rdRwys[0], click: clearRangeAndCardinal" id="rdRwy1" name="radio1" type="radio">
                            <label class="text-info" for="rdRwy1">
                                @DbRes.T("Full Length", "NSD-RwyClsd")
                            </label>
                        </div>
                        <div class="checkbox checkbox-info">
                            <input data-bind="checked: rdAvlSelectedValue, value:rdRwys[1], click: clearRangeAndCardinal" id="rdRwy2" name="radio1" type="radio">
                            <label class="text-info" for="rdRwy2">
                                @DbRes.T("Partial Length", "NSD-RwyClsd")
                            </label>
                        </div>
                        <div class="checkbox checkbox-info">
                            <input data-bind="checked: rdAvlSelectedValue, value:rdRwys[2], click: clearRangeAndCardinal" id="rdRwy3" name="radio1" type="radio">
                            <label class="text-info" for="rdRwy3">
                                @DbRes.T("Cardinal Direction (N, S, E, W)", "NSD-RwyClsd")
                            </label>
                            <input data-bind="visible:false, checked: rdAvlSelectedValue, value:rdRwys[3]" id="rdRwy4" name="radio1" type="radio">
                        </div>
                        <div class="panel panel-info" data-bind="visible: showTaxywayAvailabilitySection('1')">
                            <div class="panel-heading">@DbRes.T("Enter range", "NSD-RwyClsd")</div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" style="margin-top: 10px">
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-md-1 control-label text-info" for="rwy-from">@DbRes.T("From:", "NSD-RwyClsd")</label>
                                            <div class="col-lg-10">
                                                <input class="form-control k-textbox" data-bind="value: rangeFrom" id="rwy-from" placeholder="@DbRes.T("Free Text (En)", "NSD-RwyClsd")" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-1 control-label text-info" for="rwy-to">@DbRes.T("To:", "NSD-RwyClsd")</label>
                                            <div class="col-lg-10">
                                                <input class="form-control k-textbox" data-bind="value: rangeTo" id="rwy-to" placeholder="@DbRes.T("Free Text (Fr)", "NSD-RwyClsd")" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-info" data-bind="visible: showTaxywayAvailabilitySection('2')">
                            <div class="panel-heading">@DbRes.T("Enter Cardinal Direction", "NSD-RwyClsd")</div>
                            <div class="panel-body">
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <div class="checkbox checkbox-info">
                                            <input data-bind="checked: rdDirSelectedValue, value:rdDirs[1]" id="rdNorth" name="radio2" type="radio">
                                            <label class="text-info" for="rdNorth">
                                                &nbsp;@DbRes.T("North", "NSD-RwyClsd")
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-info">
                                            <input data-bind="checked: rdDirSelectedValue, value:rdDirs[2]" id="rdSouth" name="radio2" type="radio">
                                            <label class="text-info" for="rdSouth">
                                                &nbsp;@DbRes.T("South", "NSD-RwyClsd")
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-info">
                                            <input data-bind="checked: rdDirSelectedValue, value:rdDirs[3]" id="rdEast" name="radio2" type="radio">
                                            <label class="text-info" for="rdEast">
                                                &nbsp;@DbRes.T("East", "NSD-RwyClsd")
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-info">
                                            <input data-bind="checked: rdDirSelectedValue, value:rdDirs[4]" id="rdWest" name="radio2" type="radio">
                                            <label class="text-info" for="rdWest">
                                                &nbsp;@DbRes.T("West", "NSD-RwyClsd")
                                            </label>
                                        </div>
                                        <input data-bind="visible:false, checked: rdDirSelectedValue, value:rdDirs[0]" id="rdNone" name="radio2" type="radio">
                                    </div>
                                </form>
                                <form class="form-horizontal" data-bind="visible: showDirFreeTextDesc()" role="form" style="margin-top: 20px">
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-md-1 control-label text-info" for="dir-freetext">@DbRes.T("Info (En):", "NSD-RwyClsd")</label>
                                            <div class="col-lg-10">
                                                <input class="k-textbox" data-bind="value: dirFreeText" data-message="" id="dir-freetext" name="dir-freetext" placeholder="@DbRes.T("More information (English)", "NSD-RwyClsd")" style="width: 100%" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-group" data-bind="visible: bilingual">
                                            <label class="col-md-1 control-label text-info" for="dir-freetext-fr">@DbRes.T("Info (Fr):", "NSD-RwyClsd")</label>
                                            <div class="col-lg-10">
                                                <input class="k-textbox" data-bind="value: dirFreeTextFr" data-message="" id="dir-freetext-fr" name="dir-freetext-fr" placeholder="@DbRes.T("More information (French)", "NSD-RwyClsd")" style="width: 100%" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-heading" data-bind="visible: showTaxywayRestrictionsSection">
                    @DbRes.T("Taxiway Restrictions (Optional)", "NSD-RwyClsd")
                </div>
                <div class="panel-body" data-bind="visible: showTaxywayRestrictionsSection">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-md-7 form-group">
                                <label class="col-md-3 control-label text-info" for="ac-wingspan">@DbRes.T("Maximum Wing span:", "NSD-RwyClsd")</label>
                                <div class="col-lg-5">
                                    <input data-bind="value: wingSpan" id="ac-wingspan" type="text" />
                                    <label class="text-info" for="ac-wingspan">@DbRes.T("feet", "NSD-RwyClsd")</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 form-group">
                                <label class="col-md-3 control-label text-info" for="ac-weight">@DbRes.T("Maximum Weight:", "NSD-RwyClsd")</label>
                                <div class="col-lg-5">
                                    <input data-bind="value: weight" id="ac-weight" type="text" />
                                    <label class="text-info" for="ac-weight">@DbRes.T("pounds", "NSD-RwyClsd")</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="lookupData" data-reasons="@Html.Encode(Html.Raw(Json.Encode(ViewBag.ClosureReasons)))"></div>