﻿<div class="row">
    <div class="app-header">
        <h2>
            <strong>{{'GeoRegionSession.PageTitleBold' | translate:lang}} {{'GeoRegionSession.PageTitle' | translate:lang}} </strong>
            <a href="../Content/help/NESUserGuide{{langCulture}}.pdf#c_adm_geographic_region" target="_blank" style="padding-left:10px;"><i class="icon-question"></i></a>
        </h2>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="m-t-10 m-b-10 no-print">
                <button class="btn btn-primary m-r-10 m-b-10"
                        [routerLink]="['/administration/georegion/create']">
                    <i class="fa fa-plus m-r-10"></i>{{'Common.Add' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="selectedDoa === null"
                        [routerLink]="['/administration/georegion/view', selectedGeoRegion?.id]">
                    <i class="fa fa-list-alt m-r-10"></i>{{'Common.Show' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="selectedDoa === null"
                        [routerLink]="['/administration/georegion/create', selectedGeoRegion?.id]">
                    <i class="fa fa-pencil-square-o m-r-10"></i>{{'Common.Edit' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="!canbeDeleted" (click)="confirmDeleteGeo()">
                    <i class="fa fa-trash-o m-r-10"></i>{{'Common.Delete' | translate:lang}}
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="height:100%">
        <div class="row">
            <div class="col-md-12 portlets ui-sortable" style="padding-left:0px">
                <div class="panel">
                    <div class="panel-content">
                        <div class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel">
                                        <div class="panel-header" style="padding-bottom:11px;">
                                            <div class="form-group">
                                                <span class="control-label" style="line-height:34px">{{'Common.ItemPerPage' | translate:lang}}:</span>
                                                <select2 [data]="tableHeaders.itemsPerPage"
                                                         [value]="itemsPerPageStartValue"
                                                         [options]="{minimumResultsForSearch:-1}"
                                                         [width]="50"
                                                         (valueChanged)="itemsPerPageChanged($event)"></select2>
                                            </div>
                                        </div>
                                        <img src="../../../content/images/animated_loading.gif" [style.display]="loadingData ? 'inherit': 'none'"
                                             class="pull-right" style="width:150px; height:20px;" />
                                    </div>
                                </div>
                            </div>
                            <!--<hr />-->
                            <table class="table table-hover table-dynamic table-responsive filter-footer dataTable" role="grid">
                                <thead>
                                    <tr role="row">
                                        <th tabindex="1" [class]="sortingClass(0)" (click)="sort(0)" style="width: 4%;" 
                                            rowspan="1" colspan="1">{{'GeoRegionSession.GeoRegionName' | translate:lang}}</th>
                                    </tr>
                                </thead>
                                <tbody id="data-response">
                                    <tr role="row" *ngFor="let geoRegion of geoRegions; let i = index;" id="p_{{geoRegion.id}}"
                                        (click)="selectRegionAllocation(geoRegion)"
                                        [class.success]="geoRegion.isSelected">
                                        <td>{{geoRegion.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <server-pagination [currentPage]="paging.currentPage"
                                               [pageSize]="paging.pageSize"
                                               [totalCount]="paging.totalCount"
                                               [totalPages]="totalPages"
                                               [sliderSize]="9"
                                               (onPageChange)="onPageChange($event)"></server-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-delete" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'GeoRegionSession.DeleteGeoRegion' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'GeoRegionSession.DeleteConfirmation' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteGeoRegion()">{{'Common.Yes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

