﻿<div class="app-header">
    <div *ngIf="action === 'create' ">
        <h2>
            <strong>{{'Common.New' | translate:lang}} {{'GeoRegionSession.PageTitleBold' | translate:lang}} </strong> 
        </h2>
    </div>
    <div *ngIf="action === 'edit' ">
        <h2>
            <strong>{{'Common.Edit' | translate:lang}} {{'GeoRegionSession.PageTitleBold' | translate:lang}} </strong> 
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="geoRegionForm" class="form" autocomplete="off" (ngSubmit)="onSubmit()" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-user-md"></i> <strong>{{'GeoRegionSession.GeoRegionDetails' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{'GeoRegionSession.GeoRegionName' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="geoRegionName" formControlName="geoRegionName" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'GeoRegionSession.GeoRegionName' | translate:lang}}"
                                           style="font-size: 10px !important"
                                           minlength="3">
                                    <div *ngIf="!validGeoRegionName()" class="form-error">{{'GeoRegionSession.RequieredGeoRegionName' | translate:lang}}</div>
                                    <div *ngIf="validGeoRegionName() && !validGeoRegionNameSize()" class="form-error">{{'GeoRegionSession.RequieredGeoRegionNameSize' | translate:lang}}</div>
                                    <div *ngIf="!isGeoRegionUniqueName" class="form-error">{{'GeoRegionSession.RequieredGeoRegionNameUnique' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'GeoRegionSession.GeoRegionCreationSource' | translate:lang}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-map"></i></span>
                                    <select2 [value]="selectedSourceId"
                                             [data]="geoRegionSources"
                                             (valueChanged)="onSourceChanged($event)"
                                             [disabled]="isReadOnly"
                                             [options]="geoRegionSourceOptions"
                                             [class.form-white]="!isReadOnly"></select2>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="selectedSourceId === 1">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">{{'GeoRegionSession.FileContent' | translate:lang}}</label>
                                    <div class="file">
                                        <div class="input-group">
                                            <button class="file-button btn btn-sm btn-primary"
                                                    style="height: 25px; line-height: 15px">
                                                <i class="fa fa-upload"></i>&nbsp;&nbsp;{{'GeoRegionSession.ChooseFile' | translate:lang}}
                                            </button>
                                            <input type="file" class="custom-file" name="attachments" id="attachments"
                                                   (change)="saveGeoRegionFile()" required="" aria-required="true">
                                            <input type="text" class="" id="uploader" placeholder="" readonly=""
                                                   style="height: 25px; width:100px; line-height: 15px; opacity:0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label">&nbsp;&nbsp;</label>
                                <div class="form-group">
                                    <textarea id="geoRegionArea" formControlName="geoRegionArea" type="text"
                                              rows="4" cols="20" class="form-control"
                                              [class.form-white]="true" readonly></textarea>

                                </div>
                            </div>
                        </div>
                        <div *ngIf="selectedSourceId === 2" class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'GeoRegionSession.FIR' | translate:lang}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-upload"></i></span>
                                    <select2 [value]="selectedFirId"
                                             [data]="firSources"
                                             (valueChanged)="onFirChanged($event)"
                                             [disabled]="isReadOnly"
                                             [options]="firSourceOptions"
                                             [class.form-white]="!isReadOnly"></select2>
                                </div>
                                <div *ngIf="geoRegion.region.fir === ''" class="form-error">{{'GeoRegionSession.RequieredFIR' | translate:lang}}</div>
                            </div>
                        </div>
                        <div *ngIf="selectedSourceId === 3" class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'GeoRegionSession.Points' | translate:lang}}</label>
                                <div class="append-icon">
                                    <textarea id="geoRegionPoints" formControlName="geoRegionPoints" type="text"
                                              rows="5" cols="10"
                                              class="form-control"
                                              [class.form-white]="!isReadOnly"
                                              placeholder="{{'GeoRegionSession.Points' | translate:lang}}"></textarea>
                                </div>
                                <div *ngIf="!isValidLocation" class="form-error">{{'GeoRegionSession.InvalidLocation' | translate:lang}}</div>
                            </div>
                        </div>
                        <div *ngIf="selectedSourceId === 4">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">{{'GeoRegionSession.Location' | translate:lang}}</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                        <input id="geoRegionLocation"
                                               formControlName="geoRegionLocation" type="text" class="form-control"
                                               [ngClass]="{'form-error': !isValidLocation }"
                                               [class.form-white]="!isReadOnly"
                                               placeholder="{{'GeoRegionSession.Location' | translate:lang}}"
                                               style="text-transform:uppercase; font-size: 10px !important">
                                        <!--<i class="fa fa-map-marker"></i>-->
                                    </div>
                                    <div *ngIf="!isValidLocation" class="form-error">{{'GeoRegionSession.InvalidLocation' | translate:lang}}</div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group" style="margin-right: 20px;">
                                    <label class="form-label">{{'GeoRegionSession.Radius' | translate:lang}}</label>&nbsp;<span>(NM)</span>
                                    <div class="input-group">
                                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px;" (click)="decRadius()">-</span>
                                        <input id="geoRegionRadius" formControlName="geoRegionRadius" class="form-control"
                                               (keypress)="validateKeyPressNumber($event)"
                                               [ngClass]="{'form-error': !validateRadius('geoRegionRadius') }" [class.form-white]="!isReadOnly" type="text">
                                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px;" (click)="incRadius()">+</span>
                                    </div>
                                    <div *ngIf="!validateRadius('geoRegionRadius')" class="form-error">{{'DoasAdminSession.InvalidRadius' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="nav-tabs2">
                                <div class="tab-content">
                                    <div id="tab_map" class="_tab-pane" style="height: 300px; _background: transparent url(/content/images/loading.png) no-repeat center center">
                                        <div id="map" style="width:100%; _height:300px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center  m-t-20">
                        <button class="btn btn-embossed btn-primary" type="submit" [disabled]="disableSubmit()">{{'Common.Save' | translate:lang}}</button>
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToGeoRegionList()">{{'Common.Cancel' | translate:lang}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

