﻿<div class="app-header">
    <div *ngIf="action === 'view' ">
        <h2>
            <strong>{{'Common.View' | translate:lang}} {{'GeoRegionSession.PageTitleBold' | translate:lang}} </strong> 
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="geoShowForm" class="form" autocomplete="off" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-user-md"></i> <strong>{{'GeoRegionSession.GeoRegionDetails' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{'GeoRegionSession.GeoRegionName' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="geoName" formControlName="geoName" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'GeoRegionSession.GeoRegionName' | translate:lang}}"
                                           [class.form-white]="false"
                                           style="font-size: 10px !important"
                                           minlength="3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="nav-tabs2">
                                <div class="tab-content">
                                    <div id="tab_map" class="_tab-pane" style="height: 300px; _background: transparent url(/content/images/loading.png) no-repeat center center">
                                        <div id="map" style="width:100%; _height:300px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center  m-t-20">
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToGeoRegionList()">{{'Common.Close' | translate:lang}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

