﻿<div class="app-header">
    <h2>
        <strong>{{'Common.New' | translate:lang}} {{'IcaoSubjectSession.IcaoSubjects' | translate:lang}}</strong> 
    </h2>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="icaoSubjectForm" class="form" autocomplete="off" (ngSubmit)="onSubmit()" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-building-o"></i> <strong>{{'IcaoSubjectSession.IcaoSubjectDetails' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">{{'IcaoSubjectSession.Subject' | translate:lang}}</label>
                                <div class="append-icon">
                                    <select2 [data]="entityCodes" class="form-white"
                                             [options]="entityCodeOptions"
                                             [width]="500"
                                             [value]="selectedEntityCodeId"
                                             (valueChanged)="onSelectedEntityCodeChanged($event)"></select2>
                                    <div *ngIf="!validateEntityCode()" class="form-error m-t-10">{{'IcaoSubjectSession.ValidateEntityCode' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">{{'IcaoSubjectSession.Code23' | translate:lang}}</label>
                                <div class="append-icon">
                                    <div class="append-icon">
                                        <input id="code" formControlName="code" type="text"
                                               placeholder="{{'IcaoSubjectSession.Code23' | translate:lang}}"
                                               (keypress)="validateKeyPressLetter($event)"
                                               class="form-control form-white"
                                               minlenght="2" maxlength="2" style="text-transform:uppercase"
                                               [ngClass]="{'form-error': !validateCode23() }">
                                        <i class="fa fa-file-code-o"></i>
                                        <div *ngIf="!validateCode23()" class="form-error">{{'IcaoSubjectSession.ValidateEntityCode' | translate:lang}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">{{'IcaoSubjectSession.Scope' | translate:lang}}</label>
                                <div class="append-icon">
                                    <select2 [data]="scopes" class="form-white"
                                             [options]="scopeOptions"
                                             [width]="500"
                                             [value]="selectedScopeId"
                                             (valueChanged)="onSelectedScopeChanged($event)"></select2>
                                    <div *ngIf="!validateScope()" class="form-error m-t-10">{{'IcaoSubjectSession.ValidateEntityScope' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Allow Updates</label>
                                <br />
                                <div class="input-group">
                                    <div class="icheck-inline m-t-5">
                                        <label>
                                            <iCheck [isChecked]="icaoSubjectForm.get('requiresItemA').value" (change)="checkboxChanged('requiresItemA', $event)">{{'IcaoSubjectSession.ItemAUpdate' | translate:lang}}</iCheck>
                                        </label>
                                        <label>
                                            <iCheck [isChecked]="icaoSubjectForm.get('requiresSeries').value" (change)="checkboxChanged('requiresSeries', $event)">{{'IcaoSubjectSession.SeriesUpdate'| translate:lang}}</iCheck>
                                        </label>
                                        <label>
                                            <iCheck [isChecked]="icaoSubjectForm.get('requiresScope').value" (change)="checkboxChanged('requiresScope', $event)">{{'IcaoSubjectSession.ScopeUpdate' | translate:lang}}</iCheck>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'IcaoSubjectSession.Name' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="name" formControlName="name" type="text"
                                           placeholder="{{'IcaoSubjectSession.Name' | translate:lang}}"
                                           class="form-control form-white"
                                           [ngClass]="{'form-error': !validateName() }">
                                    <i class="fa fa-user"></i>
                                    <div *ngIf="!validateName() && icaoSubjectForm.controls.name.errors" class="form-error">{{'IcaoSubjectSession.ValidateName' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'IcaoSubjectSession.NameFrench' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="nameFrench" formControlName="nameFrench" type="text"
                                           placeholder="{{'IcaoSubjectSession.NameFrench' | translate:lang}}"
                                           class="form-control form-white"
                                           [ngClass]="{'form-error': !validateNameFrench() }">
                                    <i class="fa fa-user"></i>
                                    <div *ngIf="!validateNameFrench() && icaoSubjectForm.controls.nameFrench.errors" class="form-error">{{'IcaoSubjectSession.ValidateNameFrench' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    </div>

                    <div class="text-center  m-t-20">
                        <button class="btn btn-embossed btn-primary" type="submit" [disabled]="icaoSubjectForm.pristine || !icaoSubjectForm.valid || isSubmitting">{{'Common.Save' | translate:lang}}</button>
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToIcaoSubjectList()">{{'Common.Cancel' | translate:lang}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

