﻿@using Westwind.Globalization;

<style scoped>
    .k-button {
        width: 100px !important;
    }

    .allheight {
        height: calc(100% - 55px);
        height: -moz-calc(100% - 55px);
        height: -webkit-calc(100% - 55px);
    }
</style>

<h1>
    @DbRes.T("NOTAM Series Allocation", "SeriesAllocation")
</h1>
<hr>
<div id="seriesAllocationGrid" class="allheight"></div>

<div id="geoRegions" data-model='@Html.Raw(Json.Encode(ViewBag.GeoRegions))'></div>
<div id="disseminationLevels" data-model='@Html.Raw(Json.Encode(ViewBag.DisseminationLevels))'></div>


<script>
@section Scripts{
    require(["admin/Controllers/SeriesAllocation/Index"], function (index) {

        var labels = {
            displayMask1: '@DbRes.T("Showing {0}-{1} from {2} data items", "SeriesAllocation")',
            noData: '@DbRes.T("No Data", "SeriesAllocation")',
            enterPage: '@DbRes.T("Enter page", "SeriesAllocation")',
            ofMask: '@DbRes.T("of {0}", "SeriesAllocation")',
            dataItemsPerPage: '@DbRes.T("data items per page", "SeriesAllocation")',
            firstPage: '@DbRes.T("First page", "SeriesAllocation")',
            lastPage: '@DbRes.T("Last page", "SeriesAllocation")',
            nextPage: '@DbRes.T("Next page", "SeriesAllocation")',
            prevPage: '@DbRes.T("Previous page", "SeriesAllocation")',
            refreshGrid: '@DbRes.T("Refresh the grid", "SeriesAllocation")',
            morePages: '@DbRes.T("More pages", "SeriesAllocation")',
            regionLabel: '@DbRes.T("Region", "SeriesAllocation")',
            seriesLabel: '@DbRes.T("Series", "SeriesAllocation")',
            desseminationCategory: '@DbRes.T("Dissemination Category", "SeriesAllocation")',
            qCodeLabel: '@DbRes.T("QCode", "SeriesAllocation")',
            editLabel: '@DbRes.T("Edit", "SeriesAllocation")',
            saveLabel: '@DbRes.T("Save", "SeriesAllocation")',
            cancelLabel: '@DbRes.T("Cancel", "SeriesAllocation")',
            deleteLabel: '@DbRes.T("Delete", "SeriesAllocation")',
            confirmLabel: '@DbRes.T("Confirm", "SeriesAllocation")',
            deleteConfirmation: '@DbRes.T("This record will be deleted, Continue?", "SeriesAllocation")',
            addLabel: '@DbRes.T("Add", "SeriesAllocation")'
        };

        index.init(labels);
    })
    }
</script>
