﻿.iCheck-style {
    background: rgb(255, 255, 255); 
    margin: 0px; 
    padding: 0px; 
    border: 0px;
    border-image: none; 
    left: 0%; 
    top: 0%; 
    width: 100%; 
    height: 100%; 
    display: block;
    position: absolute; 
    opacity: 0;
}