﻿<div class="app-header">
    <h2>
        <strong>{{'Nsd.CreatePageTitle' | translate:lang}} {{model.displayName}} {{model.HelpLink}}</strong>
        <a href="../Content/help/NESUserGuide{{langCulture}}.pdf#{{model.helpLink}}" target="_blank" style="padding-left:10px;"><i class="icon-question"></i></a>
    </h2> 
</div>

<proposal-form [model]="model" [isReadOnly]="false"></proposal-form>

<div style="margin-top:100px">
</div>