﻿<div class="row">
    <div class="app-header">
        <h2>
            <strong>{{'Dashboard.BoldHeader' | translate:lang}} {{'Dashboard.Header' | translate:lang}}</strong>
            <a href="../Content/help/NESUserGuide{{langCulture}}.pdf#c_user_dashboard" target="_blank" style="padding-left:10px;"><i class="icon-question fa-2x"></i></a>
        </h2>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="m-t-10 m-b-10 no-print">
                <!--RESOLVE CATEGORIES IN CODE-->
                <div class="btn-group" style="vertical-align:top">
                    <button class="btn btn-success dropdown-toggle" aria-expanded="false" 
                            type="button" data-toggle="dropdown" [disabled]="isCreateButtonDisable()">
                        <i class="fa fa-plus"></i> {{'ActionButtons.BtnCreate' | translate:lang}}
                        <span class="caret"></span>
                    </button>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu" role="menu">
                        <li *ngIf="isNSDAllowed('CATCHALL')">
                            <a [routerLink]="['/dashboard/create', 2]">
                                <span class="bold" style="display:inline-block; width:75%">CATCHALL</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C C</span>
                            </a>
                        </li>
                        <li *ngIf="isNSDAllowed('CATCHALL')" class="divider"></li>
                        <li *ngIf="isNSDAllowed('OBST')">
                            <a [routerLink]="['/dashboard/create', 4]">
                                <span class="bold" style="display:inline-block; width:75%">OBST</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C O 1</span>
                            </a>
                        </li>
                        <li *ngIf="isNSDAllowed('OBST LGT U/S')">
                            <a [routerLink]="['/dashboard/create', 5]">
                                <span class="bold" style="display:inline-block; width:75%">OBST LGT U/S</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C O 2</span>
                            </a>
                        </li>
                        <li *ngIf="isNSDAllowed('MULT OBST')">
                            <a [routerLink]="['/dashboard/create', 14]">
                                <span class="bold" style="display:inline-block; width:75%">MULT OBST</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C O 3</span>
                            </a>
                        </li>
                        <li *ngIf="isNSDAllowed('MULT OBST LGT U/S')">
                            <a [routerLink]="['/dashboard/create', 15]">
                                <span class="bold" style="display:inline-block; width:75%">MULT OBST LGT U/S</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C O 4</span>
                            </a>
                        </li>
                        <li *ngIf="isNSDAllowed('OBST LGT U/S') || isNSDAllowed('OBST') || isNSDAllowed('MULT OBST') || isNSDAllowed('MULT OBST LGT U/S')" class="divider"></li>
                        <li *ngIf="isNSDAllowed('RWY CLSD')">
                            <a [routerLink]="['/dashboard/create', 7]">
                                <span class="bold" style="display:inline-block; width:75%">RWY CLSD</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C R 1</span>
                            </a>
                        </li>
                        <li *ngIf="isNSDAllowed('RWY CLSD')" class="divider"></li>
                        <li *ngIf="isNSDAllowed('TWY CLSD')">
                            <a [routerLink]="['/dashboard/create', 11]">
                                <span class="bold" style="display:inline-block; width:75%">TWY CLSD</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C T 1</span>
                            </a>
                        </li>
                        <li *ngIf="isNSDAllowed('TWY CLSD') && isNSDAllowed('CARS CLSD')" class="divider"></li>
                        <li *ngIf="isNSDAllowed('CARS CLSD')">
                            <a [routerLink]="['/dashboard/create', 13]">
                                <span class="bold" style="display:inline-block; width:75%">CARS CLSD</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C A 1</span>
                            </a>
                        </li>
                        <li *ngIf="isNSDAllowed('AREA DEFINITION')" class="divider"></li>
                        <li *ngIf="isNSDAllowed('AREA DEFINITION')">
                            <a [routerLink]="['/dashboard/create', 18]">
                                <span class="bold" style="display:inline-block; width:75%">{{'Nsd.AreaDefinition' | translate:lang}}</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C A 1</span>
                            </a>
                        </li>
                        
                        <li *ngIf="isNSDAllowed('TWY CLSD') && isNSDAllowed('RSC')" class="divider"></li>
                        <li *ngIf="isNSDAllowed('RSC')">
                            <a [routerLink]="['/dashboard/create/rsc', 18]">
                                <span class="bold" style="display:inline-block; width:75%">RSC</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C S 1</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="btn btn-primary m-r-10 m-b-10"
                        style="width:120px;"
                        [disabled]="isModifyButtonDisabled()"
                        (click)="modifyOrWithdrawProposal(selectedProposal)">
                    <i class="fa m-r-10" [ngClass]="iconWidthdrawModifyButtom"></i>{{txtWidthdrawModifyButtom}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="isReviewButtonDisabled()"
                        (click)="reviewProposal()">
                    <i class="fa fa-list-alt m-r-10"></i>{{'ActionButtons.BtnReview' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="isReplaceButtonDisabled()"
                        (click)="changeRoute(['/dashboard/replace', selectedProposal?.id])">
                        <!--[routerLink]="['/dashboard/replace', selectedProposal?.id]">-->
                    <i class="fa fa-code-fork m-r-10"></i>{{'ActionButtons.BtnReplace' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="isCancelButtonDisabled()"
                        (click)="changeRoute(['/dashboard/cancel', selectedProposal?.id])">
                        <!--[routerLink]="['/dashboard/cancel', selectedProposal?.id]">-->
                    <i class="fa fa-hand-paper-o m-r-10"></i>{{'ActionButtons.BtnCancel' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="isCloneButtonDisabled()"
                        (click)="runCloneAction()">
                    <i class="fa fa-clone m-r-10"></i>{{'ActionButtons.BtnClone' | translate:lang}}
                </button>
                <button class="btn btn-info m-r-10 m-b-10"
                        [disabled]="isHistoryButtonDisabled()"
                        (click)="showHistory(selectedProposal?.id)">
                    <i class="fa fa-history m-r-10"></i>{{'ActionButtons.BtnHistory' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="isDiscardButtonDisabled(selectedProposal?.status)"
                        (click)="confirmDiscardProposal()">
                    <i class="fa fa-trash-o m-r-10"></i>{{'ActionButtons.BtnDiscard' | translate:lang}}
                </button>
                <button *ngIf="expiringCount > 0 && !isFilterApplied" class="btn btn-transparent btn-warning pull-right" style="padding:1px 18px 2px 18px"
                        (click)="executeFilter()">
                    <i *ngIf="!expiringApplied" class="fa fa-bell-o faa-ring" [class.animated]="runExpiringBellAnimation" style="font-size:1.7em !important"></i>
                    <i *ngIf="expiringApplied" class="fa fa-check" style="font-size:1.7em !important"></i>
                    <b class="f-15">&nbsp;&nbsp;{{expiringCount}}</b>
                </button>
                <button *ngIf="isOrgAdmin" class="btn btn-info m-r-10 m-b-10"
                        [routerLink]="['/dashboard/reports']">
                    <i class="fa fa-bar-chart m-r-10"></i>Reports
                </button>

            </div>
        </div>
    </div>

    <div class="col-md-12" style="height:100%">
        <div class="row">
            <div class="col-md-12 portlets ui-sortable">
                <div class="panel">
                    <div class="panel-content">
                        <div class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel">
                                        <div class="panel-header" style="padding-bottom:11px;">
                                            <div class="control-btn">
                                                <a class="panel-close" href="#" *ngIf="isFilterApplied" (click)="runClearFilter($event)">
                                                    <i class="fa fa-trash filter-remove"></i>
                                                    <!--<span class="filter-remove"></span>-->
                                                </a>
                                                <a class="panel-toggle">
                                                    <i class="fa fa-filter" [class.filter-active]="isFilterApplied"></i>
                                                    <!--<span class="filter-active">Filter</span>-->
                                                    <i class="m-l-10 fa" [ngClass]="filterPannelOpen ? 'fa-angle-up' : 'fa-angle-down'" (click)="filterPannelOpen = !filterPannelOpen"></i>
                                                </a>
                                            </div>
                                            <div class="form-group">
                                                <span class="control-label" style="line-height:34px">{{'Dashboard.ItemsPerPage' | translate:lang}}:</span>
                                                <select2 [data]="tableHeaders.itemsPerPage"
                                                         [value]="queryOptions.pageSize"
                                                         [options]="{minimumResultsForSearch:-1}"
                                                         [width]="50"
                                                         (valueChanged)="itemsPerPageChanged($event)"></select2>
                                            </div>
                                            <div *ngIf="!expiringApplied && !isFilterApplied" class="form-group p-l-10">
                                                <span class="control-label" style="line-height:34px">{{'Dashboard.Categories' | translate:lang}}:</span>
                                                <select2 [data]="parentCategories"
                                                         [value]="categoryStartValue"
                                                         [disabled]="isFilterApplied"
                                                         [options]="{minimumResultsForSearch:-1}"
                                                         [width]="150"
                                                         (valueChanged)="onCategoryChanged($event)"></select2>
                                            </div>
                                            <div class="form-group p-l-10" *ngIf="childCategories.length > 0 && !expiringApplied && !isFilterApplied">
                                                <span class="control-label" style="line-height:34px">{{'Dashboard.Subcategories' | translate:lang}}:</span>
                                                <select2 [data]="childCategories"
                                                         [value]="subCategoryStartValue"
                                                         [disabled]="isFilterApplied && subCategoryStartValue == -1"
                                                         [options]="{minimumResultsForSearch:-1}"
                                                         (valueChanged)="onChildCategoryChanged($event)"></select2>
                                            </div>
                                        </div>
                                        <img src="../../../content/images/animated_loading.gif" [style.display]="loadingData ? 'inherit': 'none'"
                                             class="pull-right" style="width:150px; height:20px;" />
                                        <div class="panel-content" style="display:none; background-color:#edf6fb; min-height:200px;">
                                            <proposal-filter #proposalFilter [pageSize]="paging.pageSize" (onFilterChanged)="onFilterChanged($event)"></proposal-filter>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<hr />-->
                            <table class="table table-hover table-dynamic table-responsive filter-footer dataTable" role="grid">
                                <thead>
                                    <tr role="row">
                                        <th tabindex="1" [class]="sortingClass(0)" (click)="sort(0)" style="width: 6%;" rowspan="1" colspan="1">Id</th>
                                        <th tabindex="2" [class]="sortingClass(1)" (click)="sort(1)" style="width: 6%;" rowspan="1" colspan="1">{{'TableHeaders.Type' | translate:lang}}</th>
                                        <th tabindex="3" [class]="sortingClass(2)" (click)="sort(2)" style="width: 6%;" rowspan="1" colspan="1">{{'TableHeaders.Location' | translate:lang}}</th>
                                        <th tabindex="4" style="width: 4%;" rowspan="1" colspan="1" title="Site ID">SITE ID</th>
                                        <th tabindex="5" [class]="sortingClass(4)" (click)="sort(4)" style="width: 40%" rowspan="1" colspan="1">{{'TableHeaders.ItemE' | translate:lang}}</th>
                                        <th tabindex="6" [class]="sortingClass(5)" (click)="sort(5)" style="width: 5%" rowspan="1" colspan="1">{{'TableHeaders.StartActivity' | translate:lang}}</th>
                                        <th tabindex="7" [class]="sortingClass(6)" (click)="sort(6)" style="width: 5%" rowspan="1" colspan="1">{{'TableHeaders.EndValidity' | translate:lang}}</th>
                                        <th tabindex="8" [class]="sortingClass(7)" (click)="sort(7)" style="width: 3%" rowspan="1" colspan="1">{{'TableHeaders.Est' | translate:lang}}</th>
                                        <th tabindex="9" [class]="sortingClass(8)" (click)="sort(8)" style="width: 5%" rowspan="1" colspan="1">{{'TableHeaders.Received' | translate:lang}}</th>
                                        <!--<th tabindex="10" [class]="sortingClass(9)" (click)="sort(9)" style="width: 5%" rowspan="1" colspan="1">{{'TableHeaders.Operator' | translate:lang}}</th>-->
                                        <th tabindex="11" [class]="sortingClass(10)" (click)="sort(10)" style="width: 7%" rowspan="1" colspan="1">{{'TableHeaders.Originator' | translate:lang}}</th>
                                        <th tabindex="12" [class]="sortingClass(11)" (click)="sort(11)" style="width: 5%" rowspan="1" colspan="1">{{'TableHeaders.Approver' | translate:lang}}</th>
                                        <th tabindex="13" [class]="sortingClass(12)" (click)="sort(12)" style="width: 3%" rowspan="1" colspan="1"></th>
                                    </tr>
                                </thead>
                                <tbody id="data-response">
                                    <tr role="row" *ngFor="let proposal of proposals; let i = index;" id="p_{{proposal.id}}"
                                        (click)="selectProposal(proposal)"
                                        (dblclick)="modifyOrWithdrawProposal(proposal)"
                                        [class.success]="proposal.isSelected"
                                        [ngClass]="rowColor(proposal)">
                                        <td>{{proposal.notamId}}</td>
                                        <td>{{proposal.categoryName}}</td>
                                        <td>{{proposal.itemA}}</td>
                                        <td>{{proposal.siteId}}</td>
                                        <td title="{{proposal.itemE}}">{{getItemEString(proposal,false)}}</td>
                                        <td>{{proposal.startActivity}}</td>
                                        <td>{{proposal.endValidity}}</td>
                                        <td>
                                            <i *ngIf="proposal.estimated" class="fa fa-check"></i>
                                            <i *ngIf="!proposal.estimated"></i>
                                        </td>
                                        <td>{{proposal.received | datex: 'YYMMDDHHmm'}}</td>
                                        <!--<td>{{getOperatorString(proposal)}}</td>-->
                                        <td title="{{proposal.originator}}">{{getOriginatorString(proposal,false)}}</td>
                                        <td>{{getApproverString(proposal)}}</td>
                                        <td class="text-right">
                                            <i *ngIf="proposal.groupId" (click)="showGroup(i)" [ngClass]="proposal.groupOpen ? 'fa fa-minus-square-o' : 'fa fa-plus-square-o'" aria-hidden="true"></i>
                                            <i class="fa" [ngClass]="cssIcon(proposal)"><span></span></i>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="8">
                                            <span class="label label-default bg-saved"><i class="fa fa-save"></i>{{'NotamStatus.Draft' | translate:lang}}</span>|
                                            <span class="label label-default bg-submitted"><i class="fa fa-upload"></i>{{'NotamStatus.Submitted' | translate:lang}}</span>|
                                            <span class="label label-default bg-rejected"><i class="fa fa-ban"></i>{{'NotamStatus.Rejected' | translate:lang}}</span>|
                                            <span class="label label-default bg-widthdrawn"><i class="fa fa-download"></i>{{'NotamStatus.Withdrawn' | translate:lang}}</span>|
                                            <span class="label label-default bg-picked"><i class="fa fa-hourglass-half"></i>{{'NotamStatus.Picked' | translate:lang}}</span>|
                                            <span class="label label-default bg-white"><i class="fa fa-lock"></i>{{'NotamStatus.Parked' | translate:lang}}</span>|
                                            <span class="label label-default bg-white"><i class=" fa fa-hand-paper-o"></i>{{'NotamStatus.Cancelled' | translate:lang}}</span>|
                                            <span class="label label-default bg-white"><i class="fa fa-wifi"></i>{{'NotamStatus.Disseminated' | translate:lang}}</span>&amp;
                                            <span class="label label-default bg-white" style="color:orange !important">{{'NotamStatus.Modified' | translate:lang}}<i class="fa fa-wifi m-l-5"></i></span>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div *ngIf="!isFilterApplied">
                                <server-pagination [currentPage]="paging.currentPage"
                                                   [pageSize]="paging.pageSize"
                                                   [totalCount]="paging.totalCount"
                                                   [totalPages]="totalPages"
                                                   [sliderSize]="9"
                                                   (onPageChange)="onPageChange($event)"></server-pagination>
                            </div>
                            <div *ngIf="isFilterApplied">
                                <server-pagination [currentPage]="filterPaging.currentPage"
                                                   [pageSize]="filterPaging.pageSize"
                                                   [totalCount]="filterPaging.totalCount"
                                                   [totalPages]="filterTotalPages"
                                                   [sliderSize]="9"
                                                   (onPageChange)="onFilterPageChange($event)"></server-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-delete" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'Dashboard.DiscardProposal' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'Dashboard.DiscardProposalConfirmation' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="discardProposal()">{{'ActionButtons.BtnYes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'ActionButtons.BtnNo' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

<simple-modal modalId="proposal-history" title="{{'Dashboard.ProposalHistory' | translate:lang}}" btnClose="{{'ActionButtons.BtnClose' | translate:lang}}">
    <div>
        <table class="table table table-hover">
            <thead>
                <tr>
                    <th style="width: 7%;">ID</th>
                    <th style="width: 6%;">{{'TableHeaders.Location' | translate:lang}}</th>
                    <th style="width: 39%">{{'TableHeaders.ItemE' | translate:lang}}</th>
                    <th style="width: 7%;">{{'TableHeaders.StartActivity' | translate:lang}}</th>
                    <th style="width: 7%;">{{'TableHeaders.EndValidity' | translate:lang}}</th>
                    <th style="width: 7%;">{{'TableHeaders.Received' | translate:lang}}</th>
                    <th style="width: 7%;">{{'TableHeaders.Operator' | translate:lang}}</th>
                    <th style="width: 7%;">{{'TableHeaders.Originator' | translate:lang}}</th>
                    <th style="width: 7%;">{{'TableHeaders.Approver' | translate:lang}}</th>
                    <th style="width: 3%;">{{'TableHeaders.Status' | translate:lang}}</th>
                    <th style="width: 3%;"></th>
                </tr>
            </thead>
            <tbody>
                <tr role="row" *ngFor="let ph of proposalHistory" style="font-size:10px" [ngClass]="rowColor(ph)">
                    <td>{{ph.notamId}}</td>
                    <td>{{ph.itemA}}</td>
                    <td title="{{ph.itemE}}">{{getItemEString(ph,true)}}</td>
                    <td>{{ph.startActivity}}</td>
                    <td>{{ph.endValidity}}</td>
                    <td>{{ph.received | datex: 'YYMMDDHHmm'}}</td>
                    <td>{{getOperatorString(ph)}}</td>
                    <td title="{{ph.originator}}">{{getOriginatorString(ph,true)}}</td>
                    <td>{{getApproverString(ph)}}</td>
                    <td class="text-right"><i class="fa" [ngClass]="cssIcon(ph)"></i></td>
                    <td><a [routerLink]="['/dashboard/viewhistory', ph.id]" class="text-muted" title="Review Proposal"><i class="fa fa-external-link"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</simple-modal>

<audio id="estimated-queue-sound">
    <source src="../../../Content/sounds/{{currentEstimatedQueueSound.id}}.{{currentEstimatedQueueSound.ext}}" type="audio/mp3" />
</audio>
