﻿<div class="app-header">
    <h2>
        <strong> {{'UserSession.PageTitleBold' | translate:lang}} {{currentPageTitle}} </strong>
    </h2>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="userEditForm" class="form" autocomplete="off" (ngSubmit)="onSubmit()" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-user-md"></i> <strong>{{'UserSession.UserDetails' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Username' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="username" formControlName="username" type="text" class="form-control" [class.form-white]="!isReadOnly" >
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.FirstName' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="firstname" formControlName="firstName" type="text"
                                           class="form-control"
                                           [class.form-white]="!isReadOnly"
                                           placeholder="{{'UserSession.PlaceHolderFirstName' | translate:lang}}">
                                    <i class="fa fa-info"></i>
                                    <div *ngIf="!validateFirstName() && userEditForm.controls.firstName.errors && userEditForm.controls.firstName.errors.required" class="form-error">{{'UserSession.ValidateFirstName' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.LastName' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="firstname" formControlName="lastName" type="text"
                                           class="form-control"
                                           [class.form-white]="!isReadOnly"
                                           placeholder="{{'UserSession.PlaceHolderLastName' | translate:lang}}">
                                    <i class="fa fa-info"></i>
                                    <div *ngIf="!validateLastName() && userEditForm.controls.lastName.errors && userEditForm.controls.lastName.errors.required" class="form-error">{{'UserSession.ValidateLastName' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Position' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="position" formControlName="position" 
                                           type="text" 
                                           placeholder="{{'UserSession.PlaceHolderTitle' | translate:lang}}"
                                           class="form-control form-white" 
                                           [class.form-white]="!isReadOnly">
                                    <i class="fa fa-certificate"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Email' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="email" formControlName="email" type="email"
                                           class="form-control"
                                           [class.form-white]="!isReadOnly"
                                           placeholder="{{'UserSession.PlaceHolderEmail' | translate:lang}}"
                                           [ngClass]="{'form-error': !validateEmailAddress() }">
                                    <i class="fa fa-envelope-o"></i>
                                    <div *ngIf="!validateEmailAddress() && userEditForm.controls.email.errors && userEditForm.controls.email.errors.required" class="form-error">{{'UserSession.ValidateEmailRequired' | translate:lang}}</div>
                                    <div *ngIf="!validateEmailAddress() && userEditForm.controls.email.errors && userEditForm.controls.email.errors.pattern" class="form-error">{{'UserSession.ValidateEmailPattern' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Organization' | translate:lang}}</label>
                                <div class="append-icon">
                                    <select2 [data]="orgs"
                                             [options]="orgOptions"
                                             [width]="500"
                                             [disabled]="this.orgDisabled()"
                                             [value]="selectedOrgId"
                                             (valueChanged)="onOrgChanged($event)"></select2>
                                    <i class="fa fa-building-o"></i>
                                    <div *ngIf="!validateOrganization()" class="form-error" style="margin-top:10px;">{{'UserSession.ValidateOrganization' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Roles' | translate:lang}}</label>
                                <div class="append-icon">
                                    <select2 [data]="roles" [class.form-white]="!isReadOnly"
                                             [options]="roleOptions"
                                             [width]="500"
                                             [disabled]="this.rolesDisabled()"
                                             [value]="selectedRoleId"
                                             (valueChanged)="onRoleChanged($event)"
                                             [ngClass]="{'form-error': !validateRoles() }"></select2>
                                    <i class="fa fa-graduation-cap"></i>
                                    <div *ngIf="!validateRoles()" class="form-error" style="margin-top:10px;">{{'UserSession.ValidateRoles' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Address' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="address" formControlName="address" type="text"
                                           class="form-control"
                                           [class.form-white]="!isReadOnly"
                                           placeholder="{{'UserSession.PlaceHolderAddress' | translate:lang}}"
                                           [ngClass]="{'form-error': !validateAddress() }">
                                    <i class="fa fa-map-marker"></i>
                                    <div *ngIf="!validateAddress() && userEditForm.controls.address.errors && userEditForm.controls.address.errors.required" class="form-error">{{'UserSession.ValidateAddress' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Doas' | translate:lang}}</label>
                                <div class="append-icon">
                                    <select2 [data]="doas" [class.form-white]="!isReadOnly"
                                             [options]="doaOptions"
                                             [width]="500"
                                             [disabled]="this.doaDisabled()"
                                             [value]="selectedDoasIds"
                                             (valueChanged)="onDoaChanged($event)"></select2>
                                    <i class="fa fa-graduation-cap"></i>
                                    <div *ngIf="!validateDoas()" class="form-error" style="margin-top:10px;">{{'UserSession.ValidateDoas' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.PhoneNumber' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="phoneNumber" formControlName="phoneNumber" type="text"
                                           class="form-control"
                                           [class.form-white]="!isReadOnly"
                                           placeholder="{{'UserSession.PlaceHolderTelephone' | translate:lang}}"
                                           (blur)="phoneNumberBlur('phoneNumber')"
                                           (focus)="phoneNumberFocus('phoneNumber')"
                                           [ngClass]="{'form-error': !validatePhoneNumber() }">
                                    <i class="fa fa-phone"></i>
                                    <div *ngIf="!validatePhoneNumber() && userEditForm.controls.phoneNumber.errors && userEditForm.controls.phoneNumber.errors.required" class="form-error">{{'UserSession.ValidatePhoneNumberRequired' | translate:lang}}</div>
                                    <div *ngIf="!validatePhoneNumber() && userEditForm.controls.phoneNumber.errors && userEditForm.controls.phoneNumber.errors.pattern" class="form-error">{{'UserSession.ValidatePhoneNumberPattern' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Fax' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="fax" formControlName="fax" type="text"
                                           class="form-control"
                                           [class.form-white]="!isReadOnly"
                                           placeholder="{{'UserSession.PlaceHolderFax' | translate:lang}}"
                                           (blur)="phoneNumberBlur('fax')"
                                           (focus)="phoneNumberFocus('fax')"
                                           [ngClass]="{'form-error': !validateFax() }">
                                    <i class="fa fa-fax"></i>
                                    <div *ngIf="!validateFax() && userEditForm.controls.fax.errors && userEditForm.controls.fax.errors.pattern" class="form-error">{{'UserSession.ValidateFaxNumberPattern' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="form-label">{{'UserSession.Disabled' | translate:lang}}</label>
                                <div>
                                    <label class="switch m-r-20">
                                        <input id="disabled" class="switch-input" type="checkbox"
                                               [disabled]="disabledFieldDisabled()"
                                               (change)="onDisableChanged($event)"
                                               [checked]="userEditForm.get('disabled').value">
                                        <span class="switch-label" attr.data-off="{{'Common.No' | translate:lang}}" attr.data-on="{{'Common.Yes' | translate:lang}}"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="enableDelete === true" class="col-sm-2">
                            <div class="form-group">
                                <label class="form-label">{{'UserSession.Deleted' | translate:lang}}</label>
                                <div>
                                    <label class="switch m-r-20">
                                        <input id="deleted" class="switch-input" type="checkbox"
                                               [disabled]="!enableDelete"
                                               (change)="onDeletedChanged($event)"
                                               [checked]="userEditForm.get('deleted').value">
                                        <span class="switch-label" attr.data-off="{{'Common.No' | translate:lang}}" attr.data-on="{{'Common.Yes' | translate:lang}}"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div *ngIf="action === 'view'" class="text-center  m-t-20">
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToUserList()">{{'Common.Close' | translate:lang}}</button>
                    </div>
                    <div *ngIf="action === 'edit'" class="text-center  m-t-20">
                        <button class="btn btn-embossed btn-primary" type="submit" [disabled]="!canSave()">{{'Common.Save' | translate:lang}}</button>
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-10" type="reset" (click)="backToUserList()">{{'Common.Cancel' | translate:lang}}</button>
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="resendVerificationEmail()">{{'UserSession.ResetVerificationCode' | translate:lang}}</button>
                        <button *ngIf="winRef.appConfig.disasterRecoveryMode" class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="resetPasswordVerificationCode()">{{'UserSession.ResetPasswordCode' | translate:lang}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

