﻿<div class="app-header">
    <h2>
        <strong>{{'UserSession.Reset' | translate:lang}} {{'UserSession.Password' | translate:lang}} </strong>
    </h2>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="userForm" class="form" autocomplete="off" (ngSubmit)="onSubmit()" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-user-md"></i> <strong>{{'UserSession.ResetPassword' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Username' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="username" formControlName="username" type="text" class="form-control">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.FirstName' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="firstname" formControlName="firstName" type="text" class="form-control" placeholder="{{'UserSession.PlaceHolderFirstName' | translate:lang}}">
                                    <i class="fa fa-info"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.LastName' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="firstname" formControlName="lastName" type="text" class="form-control" placeholder="{{'UserSession.PlaceHolderLastName' | translate:lang}}">
                                    <i class="fa fa-info"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" formGroupName="grpPassword">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Password' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="firstname" formControlName="password" type="password"
                                           class="form-control form-white"
                                           placeholder="{{'UserSession.PlaceHolderPassword' | translate:lang}}"                                           
                                           [ngClass]="{'form-error': !validatePassword() }">
                                    <i class="fa fa-key"></i>
                                    <div *ngIf="!validatePassword() && userForm.get('grpPassword.password').errors && userForm.get('grpPassword.password').errors.pattern" class="form-error">{{'UserSession.ValidatePasswordPattern' | translate:lang}}</div>
                                    <div *ngIf="!validatePassword() && userForm.get('grpPassword.password').errors && userForm.get('grpPassword.password').errors.required" class="form-error">{{'UserSession.ValidatePasswordRequired' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.ConfirmPassword' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="confirmPassword" formControlName="confirmPassword" type="password"
                                           class="form-control form-white"
                                           placeholder="{{'UserSession.PlaceHolderConfirmPassword' | translate:lang}}"                                           
                                           [ngClass]="{'form-error': !validateConfirmPassword() }">
                                    <i class="fa fa-key"></i>
                                    <div *ngIf="!validateConfirmPassword() && userForm.get('grpPassword.confirmPassword').errors && userForm.get('grpPassword.confirmPassword').errors.required" class="form-error">{{'UserSession.ValidateConfirmPasswordRequired' | translate:lang}}</div>
                                    <div *ngIf="!validateConfirmPassword() && userForm.get('grpPassword.confirmPassword').errors && userForm.get('grpPassword.confirmPassword').errors.MatchPassword " class="form-error">{{'UserSession.ValidatePasswordMatch' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center  m-t-20">
                        <button class="btn btn-embossed btn-primary" type="submit" [disabled]="userForm.pristine || !userForm.valid">{{'Common.Save' | translate:lang}}</button>
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToUserList()">{{'Common.Cancel' | translate:lang}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




