﻿<div class="row">
    <div class="app-header">
        <h2>
            <strong>{{'UserSession.PageTitleBold' | translate:lang}} {{'UserSession.PageTitle' | translate:lang}} </strong>
            <a href="../Content/help/NESUserGuide{{langCulture}}.pdf#t_adm_user_management" target="_blank" style="padding-left:10px;"><i class="icon-question"></i></a>
        </h2>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="m-t-10 m-b-10 no-print">
                <button class="btn btn-primary m-r-10 m-b-10"
                        [routerLink]="['/administration/users/create']">
                    <i class="fa fa-plus m-r-10"></i>{{'Common.Add' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="isShowDisabled()"
                        [routerLink]="['/administration/users/view', selectedUser?.username]">
                    <i class="fa fa-list-alt m-r-10"></i>{{'Common.Show' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="isEditDisabled()"
                        [routerLink]="['/administration/users/edit', selectedUser?.username]">
                    <i class="fa fa-pencil-square-o m-r-10"></i>{{'Common.Edit' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="disableDeleteSelected()" (click)="confirmDeleteUser()">
                    <i class="fa fa-trash-o m-r-10"></i>{{'Common.Delete' | translate:lang}}
                </button>
            </div>
        </div>
    </div>
    <form [formGroup]="userListForm" class="form" autocomplete="off" novalidate="novalidate">
        <div class="col-md-12" style="height:100%">
            <div class="row">
                <div class="col-md-12 portlets ui-sortable" style="padding-left:0px">
                    <div class="panel">
                        <div class="panel-content">
                            <div class="dataTables_wrapper form-inline">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel" style="height: 60px">
                                            <div class="panel-header" style="padding-bottom:11px;">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <span class="control-label" style="line-height:34px">{{'Common.ItemPerPage' | translate:lang}}:</span>
                                                        <select2 [data]="tableHeaders.itemsPerPage"
                                                                 [value]="itemsPerPageStartValue"
                                                                 [options]="{minimumResultsForSearch:-1}"
                                                                 [width]="50"
                                                                 (valueChanged)="itemsPerPageChanged($event)"></select2>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <span class="control-label" style="line-height:34px">{{'UserSession.ShowDisabled' | translate:lang}}</span>
                                                        <label class="switch m-r-20">
                                                            <input class="switch-input" type="checkbox"
                                                                   (change)="switchDisabled()"
                                                                   [checked]="includeDisabled === true">
                                                            <span class="switch-label" attr.data-off="{{'Common.No' | translate:lang}}" attr.data-on="{{'Common.Yes' | translate:lang}}"></span>
                                                            <span class="switch-handle"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <span class="control-label" style="line-height:34px">{{'UserSession.ShowDeleted' | translate:lang}}</span>
                                                        <label class="switch m-r-20">
                                                            <input class="switch-input" type="checkbox"
                                                                   (change)="switchDeleted()"
                                                                   [checked]="includeDeleted === true">
                                                            <span class="switch-label" attr.data-off="{{'Common.No' | translate:lang}}" attr.data-on="{{'Common.Yes' | translate:lang}}"></span>
                                                            <span class="switch-handle"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <div class="append-icon">
                                                            <input id="searchUser" formControlName="searchUser" type="text"
                                                                   placeholder="{{'Common.Search' | translate:lang}}"
                                                                   class="form-control form-white"
                                                                   minlenght="2" maxlength="20" style="text-transform:uppercase">
                                                            <i class="fa fa-file-code-o"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-hover table-dynamic table-responsive filter-footer dataTable" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="1" [class]="sortingClass(0)" (click)="sort(0)" style="width: 20%;" rowspan="1" colspan="1">{{'UserSession.Username' | translate:lang}}</th>
                                            <th tabindex="2" [class]="sortingClass(1)" (click)="sort(1)" style="width: 15%;" rowspan="1" colspan="1">{{'UserSession.Organization' | translate:lang}}</th>
                                            <th tabindex="3" [class]="sortingClass(2)" (click)="sort(2)" style="width: 15%;" rowspan="1" colspan="1">{{'UserSession.Roles' | translate:lang}}</th>
                                            <th tabindex="4" [class]="sortingClass(3)" (click)="sort(3)" style="width: 17%;" rowspan="1" colspan="1">{{'UserSession.FirstName' | translate:lang}}</th>
                                            <th tabindex="5" [class]="sortingClass(4)" (click)="sort(4)" style="width: 17%;" rowspan="1" colspan="1">{{'UserSession.LastName' | translate:lang}}</th>
                                            <th tabindex="6" [class]="sortingClass(5)" (click)="sort(5)" style="width: 8%;" rowspan="1" colspan="1">{{'UserSession.Disabled' | translate:lang}}</th>
                                            <th tabindex="7" [class]="sortingClass(6)" (click)="sort(6)" style="width: 8%;" rowspan="1" colspan="1">{{'UserSession.Deleted' | translate:lang}}</th>
                                            <!--<th *ngIf="includeDisabled === true" tabindex="6" [class]="sortingClass(5)" (click)="sort(5)" style="width: 8%;" rowspan="1" colspan="1">{{'UserSession.Disabled' | translate:lang}}</th>
                                            <th *ngIf="includeDeleted === true" tabindex="7" [class]="sortingClass(6)" (click)="sort(6)" style="width: 8%;" rowspan="1" colspan="1">{{'UserSession.Deleted' | translate:lang}}</th>-->
                                        </tr>
                                    </thead>
                                    <tbody id="data-response">
                                        <tr role="row" *ngFor="let user of users; let i = index;" id="p_{{user.username}}"
                                            (click)="selectUser(user, $event)"
                                            [ngClass]="rowColor(user.disabled)"
                                            [class.success]="user.isSelected">
                                            <td>{{user.username}}</td>
                                            <td>{{user.organization}}</td>
                                            <td>{{user.roles}}</td>
                                            <td>{{user.firstName}}</td>
                                            <td>{{user.lastName}}</td>
                                            <td><i *ngIf="user.disabled === true" class="fa fa-check"></i></td>
                                            <td><i *ngIf="user.deleted === true" class="fa fa-check"></i></td>
                                            <!--<td *ngIf="includeDisabled === true"><i *ngIf="user.disabled === true" class="fa fa-check"></i></td>
                                            <td *ngIf="includeDeleted === true"><i *ngIf="user.deleted === true" class="fa fa-check"></i></td>-->
                                        </tr>
                                    </tbody>
                                </table>
                                <server-pagination [currentPage]="paging.currentPage"
                                                   [pageSize]="paging.pageSize"
                                                   [totalCount]="paging.totalCount"
                                                   [totalPages]="totalPages"
                                                   [sliderSize]="9"
                                                   (onPageChange)="onPageChange($event)"></server-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modal-delete" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'UserSession.DeleteUser' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{deleteUserWarning}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteUser()">{{'Common.Yes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

