﻿<div class="panel">
    <div class="panel-body">
        <h1>SYSTEM DIAGNOSTIC</h1>
    </div>
</div>

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()


    <a href="javascript:document.getElementById('logoutForm').submit()">

        <input type="button" value="@Resources.Logout" />
    </a>
}

@*<i></i><span>@Resources.Logout</span>*@
<hr class="line-separator" style="border-top: 3px solid #eee;" />

<a href="api/diagnostic/te">
    <input type="button" value="TaskEngine Health" />
</a>
<p></p>
<a href="api/diagnostic/logs/last">
    <input type="button" value="Last 1000 lines from log" />
</a>
<p></p>
<a href="api/diagnostic/system/status">
    <input type="button" value="Check system status" />
</a>
<p></p>

<div class="panel">
    <div class="panel-body">
        api/diagnostic/logs/from/{date}/{time}/{count:int?} // EG:  api/diagnostic/logs/from/2019-05-23/184500/10000
    </div>
</div>
