﻿<div class="app-header">
    <h2>
        <strong>{{'Nsd.AreaDefinition' | translate:lang}}</strong>
        <a href="../Content/help/NESUserGuide{{langCulture}}.pdf#{{model.helpLink}}" target="_blank" style="padding-left:10px;"><i class="icon-question"></i></a>
    </h2>
</div>

<!-- BLUE TITLE BAR AREA DEFINITION -->
<div class="panel bg-blue-dark" [formGroup]="nsdFrmGroup">
    <div class="panel-header">
        <h3><i class="fa fa-plane"></i> <strong>{{'Nsd.AerodromeLocationDescription' | translate:lang}}</strong></h3>
        <div class="control-btn">
            <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>
</div>

<!-- NSD  -->
<div class="panel-content bg-white">
    <!-- POLY/BUFFEREDLINE/P&R SELECTORS -->
    <div class="row">
        <div>
            <div class="input-group">
                <div class="icheck-inline m-t-5">
                    <label>
                        <iRadio [isChecked]="polygonEntry === true" (change)="polygonEntryChange($event)">{{'Nsd.Polygon' | translate:lang}}</iRadio>
                    </label>
                    <label>
                        <iRadio [isChecked]="pointAndRadiusEntry === true" (change)="pointAndRadiusEntryChange($event)">{{'GeoRefTool.PointAndRadius' | translate:lang}}</iRadio>
                    </label>
                    <label>
                        <iRadio [isChecked]="bufferedLineEntry === true" (change)="bufferedLineEntryChange($event)">{{'Nsd.BufferedLine' | translate:lang}}</iRadio>
                    </label>
                </div>
            </div>
        </div>

        <!-- ENTRY POINTS FOR VARIOUS OPTIONS  -->
        <!-- POLYGON ENTRY -->
        <div *ngIf="polygonEntry" class="row">
            <div class="form-group">
                <label class="control-label">{{'GeoRefTool.Points' | translate:lang}}</label>
                <div class="append-icon">
                    <textarea id="polygonPoints" type="text" [(ngModel)]="polygonPoints"
                              rows="5" cols="10" class="form-control" [class.form-white]="true"
                              style="text-transform:uppercase; resize:none"
                              spellcheck="false"
                              placeholder="{{'GeoRefTool.Points' | translate:lang}}"></textarea>
                </div>
                <!--<div *ngIf="isCalcError()" class="form-error">{{calcError}}</div>-->
            </div>
        </div>

        <!-- POINT AND RADIUS ENTRY -->
        <div *ngIf="pointAndRadiusEntry" class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label class="form-label">{{'GeoRefTool.Point' | translate:lang}}</label>
                    <div class="append-icon">
                        <i class="fa fa-map-marker"></i>
                        <input id="pointAndRadiusPoint" type="text" class="form-control" [(ngModel)]="pointAndRadiusPoint"
                               [class.form-white]="true"
                               placeholder="{{'GeoRefTool.Point' | translate:lang}}" style="text-transform:uppercase; font-size: 10px !important">
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    <label class="form-label">{{'GeoRefTool.Radius' | translate:lang}}: (NM)</label>
                    <div class="append-icon">
                        <i class="fa fa-map-marker"></i>
                        <input id="pointAndRadiusRadius" type="text" class="form-control" [(ngModel)]="pointAndRadiusRadius"
                               (keypress)="validateKeyPressNumber($event)"
                               [class.form-white]="true"
                               placeholder="{{'GeoRefTool.Radius' | translate:lang}}" style="text-transform:uppercase; font-size: 10px !important">
                    </div>
                </div>
            </div>
        </div>

        <!-- BUFFERED LINE ENTRY -->
        <div *ngIf="bufferedLineEntry" class="row">
            <div class="form-group">
                <label class="control-label">{{'GeoRefTool.Points' | translate:lang}}</label>
                <div class="append-icon">
                    <textarea id="bufferedLinePoints" type="text" [(ngModel)]="bufferedLinePoints"
                              rows="5" cols="10" class="form-control" [class.form-white]="true"
                              style="text-transform:uppercase; resize:none"
                              spellcheck="false"
                              placeholder="{{'GeoRefTool.Points' | translate:lang}}"></textarea>
                </div>
                <!--<div *ngIf="isCalcError()" class="form-error">{{calcError}}</div>-->
            </div>
            <label class="form-label">{{'Nsd.Buffer' | translate:lang}}: (NM)</label>
            <div class="append-icon">
                <i class="fa fa-map-marker"></i>
                <input id="bufferedLineBuffer" type="text" class="form-control" [(ngModel)]="bufferedLineBuffer"
                       (keypress)="validateKeyPressNumber($event)"
                       [class.form-white]="true"
                       placeholder="{{'GeoRefTool.Radius' | translate:lang}}" style="text-transform:uppercase; font-size: 10px !important">
            </div>
        </div>

        <div row>
            <!-- REASONS HERE -->
            <!-- UPPER AND LOWER LIMITS -->
            <div class="col-md-2 col-sm-offset">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.LowerLimit' | translate:lang}} <span class="f-8" style="font-weight:normal">(FL)</span></label>
                    <div class="input-group">
                        <input id="lowerLimit" formControlName="lowerLimit" class="form-control" type="text" />
                    </div>
                    <!--<div style="padding-left:20px">
                    <div *ngIf="nsdFrmGroup.get('lowerLimit').errors && nsdFrmGroup.get('lowerLimit').errors.required" class="form-error">{{'ErrorMsgs.LowerLimitRequired' | translate:lang}}</div>
                    <div *ngIf="nsdFrmGroup.get('lowerLimit').errors && nsdFrmGroup.get('lowerLimit').errors.invalid" class="form-error">{{'ErrorMsgs.LowerLimitInvalid' | translate:lang}}</div>
                    <div *ngIf="nsdFrmGroup.get('lowerLimit').errors && nsdFrmGroup.get('lowerLimit').errors.invalidLowerLimitRange" class="form-error">{{'ErrorMsgs.LowerLimitRangeError' | translate:lang}}</div>
                </div>-->
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.UpperLimit' | translate:lang}} <span class="f-8" style="font-weight:normal">(FL)</span></label>
                    <div class="input-group">
                        <input id="upperLimit" formControlName="upperLimit" class="form-control" type="text" />
                    </div>
                    <!--<div style="padding-left:20px">
                    <div *ngIf="nsdFrmGroup.get('upperLimit').errors && nsdFrmGroup.get('upperLimit').errors.required" class="form-error">{{'ErrorMsgs.UpperLimitRequired' | translate:lang}}</div>
                    <div *ngIf="nsdFrmGroup.get('upperLimit').errors && nsdFrmGroup.get('upperLimit').errors.invalid" class="form-error">{{'ErrorMsgs.UpperLimitInvalid' | translate:lang}}</div>
                    <div *ngIf="nsdFrmGroup.get('upperLimit').errors && nsdFrmGroup.get('upperLimit').errors.invalidUpperLimitRange" class="form-error">{{'ErrorMsgs.UpperLimitRangeError' | translate:lang}}</div>
                </div>-->
                </div>
            </div>
        </div>
        <!-- CALCULATE BUTTON -->
        <div class="row">
            <div class="col-md-2 col-sm-offset">
                <button class="btn btn-primary m-r-10 m-b-10" type="button" (click)="calculateGeoRef()" [disabled]="isGeoPointInputEmpty()" style="padding-left:20px">
                    <i class="fa fa-calculator m-r-10"></i> {{'GeoRefTool.Calculate' | translate:lang}}
                </button>
            </div>
        </div>

        <!-- MAP HERE -->
    </div>
</div>
