﻿<div class="app-header">
    <h2>
        <strong>Area Definition</strong>
        <a href="../Content/help/NESUserGuide{{langCulture}}.pdf#{{model.helpLink}}" target="_blank" style="padding-left:10px;"><i class="icon-question"></i></a>
    </h2>
</div>

<nsd-buttonbar [model]="model" [isNOF]="isNOF" [isReadOnly]="isReadOnly"></nsd-buttonbar>

<div class="col-md-12 portlets ui-sortable" style="padding-left:0 !important" *ngIf="isGroupingEnabled">
    <div class="panel" style="background:mintcream">
        <div class="panel-header panel-controls">
            <h3 style="margin-bottom:0 !important"><i class="fa fa-link"></i> <strong>{{'Nsd.Grouped' | translate:lang}}</strong> {{'Nsd.Proposals' | translate:lang}}</h3>
            <div *ngIf="isGroupingActionButtonEnabled()" class="control-btn" style="top:5px;">
                <a style="margin-left:0" (click)="addToGroup()" title="{{'Nsd.AddToGroup' | translate:lang}}"><i class="fa fa-2x fa-plus-square text-success"></i></a>
                <a style="margin-left:0" (click)="removeFromGroup()" title="{{'Nsd.RemoveFromGroup' | translate:lang}}"><i class="fa fa-2x fa-minus-square text-danger"></i></a>
            </div>
            <div *ngIf="!isGroupingActionButtonEnabled()" class="control-btn" style="top:5px;">
                <span style="margin-left:0" title="{{'Nsd.AddToGroup' | translate:lang}}"><i class="fa fa-2x fa-plus-square text-success-disabled"></i></span>
                <span style="margin-left:0" title="{{'Nsd.RemoveFromGroup' | translate:lang}}"><i class="fa fa-2x fa-minus-square text-danger-disabled"></i></span>
            </div>
        </div>
        <div class="panel-content" style="padding-top:0 !important">
            <div class="row">
                <div class="btn-group btn-group" style="padding-left:25px">
                    <button type="button" class="btn btn-sm btn-primary" *ngFor="let item of groupModel; let i = index;"
                            [class.active]="item.isSelected" (click)="onGroupItemSelected(i)">
                        {{i+1}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xlg87 col-lg-8">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel bg-yellow" *ngIf="model.rejectionReason">
                            <div class="panel-header">
                                <h3><i class="fa fa-ban"></i><strong>{{'Nsd.RejectedReason' | translate:lang}}</strong></h3>
                                <div class="control-btn">
                                    <a href="#" class="panel-toggle"><i class="fa fa-angle-down" style="color:#fff"></i></a>
                                </div>
                            </div>
                            <div class="panel-content bg-white">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="bg-gray-light p-10">{{model.rejectionReason}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form [(formGroup)]="nsdForm" class="form" autocomplete="off" novalidate="novalidate">
                            <div class="panel bg-blue-dark">
                                <div class="panel-header">
                                    <h3><i class="fa fa-user-o"></i><strong>{{'Nsd.ContactPerson' | translate:lang}}</strong></h3>
                                    <div class="control-btn">
                                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                                    </div>
                                </div>
                                <div class="panel-content bg-white">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label class="form-label">{{'Nsd.OriginatorName' | translate:lang}}</label>
                                                <div id="originator_select11">
                                                    <select2 [data]="originators"
                                                             [value]="seletedOriginatorId"
                                                             [disabled]="isReadOnly"
                                                             [options]="select2Options()"></select2>
                                                    <!--<i class="fa fa-user-circle-o"></i>-->
                                                </div>
                                                <div *ngIf="!validateOriginator() && nsdForm.controls.originator.errors && nsdForm.controls.originator.errors.required" class="form-error">{{'ErrorMsgs.OriginatorRequired' | translate:lang}}</div>
                                                <div *ngIf="!validateOriginator() && nsdForm.controls.originator.errors && nsdForm.controls.originator.errors.pattern" class="form-error">{{'ErrorMsgs.OriginatorFirstLetter' | translate:lang}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="btn-group m-t-20 pull-right">
                                                <button class="btn btn-sm btn-primary" type="button" style="height: 34px !important; width: 34px !important" (click)="addOriginator()" [disabled]="isReadOnly || isAddOriginatorButtonDisabled()">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                                <button class="btn btn-sm btn-info" type="button" style="height: 34px !important; width: 34px !important" (click)="removeOriginator()" [disabled]="isReadOnly || seletedOriginatorId === '-1'">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-label">{{'Nsd.Email' | translate:lang}}</label>
                                                <div class="append-icon">
                                                    <input formControlName="originatorEmail" type="text"
                                                           [disabled]="isReadOnly"
                                                           class="form-control" [class.form-white]="!isReadOnly"
                                                           [ngClass]="{'form-error': !this.nsdForm.pristine && nsdForm.get('originatorEmail').value && nsdForm.get('originatorEmail').value.length > 0 && nsdForm.controls.originatorEmail.errors && nsdForm.controls.originatorEmail.errors.email }"
                                                           placeholder="{{'Nsd.Email' | translate:lang}}" />
                                                    <i class="fa fa-envelope"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">{{'Nsd.Phone' | translate:lang}}</label>
                                                    <div class="append-icon">
                                                        <input formControlName="originatorPhone" type="text"
                                                               class="form-control"
                                                               [class.form-white]="!isReadOnly"
                                                               [disabled]="isReadOnly"
                                                               [ngClass]="{'form-error': !this.nsdForm.pristine && nsdForm.get('originatorPhone').value && nsdForm.get('originatorPhone').value.length > 0 && nsdForm.controls.originatorPhone.errors && nsdForm.controls.originatorPhone.errors.pattern }"
                                                               placeholder="{{'Nsd.Phone' | translate:lang}}" style="text-transform:uppercase;" />
                                                        <i class="fa fa-phone"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <nsd-buttonbar [model]="model" [isNOF]="isNOF" [isReadOnly]="isReadOnly"></nsd-buttonbar>
    </div>
    <div class="col-xlg-4 col-lg-4 col-visitors">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-header" style="margin-left:12px">
                    <h3>
                        <i class="fa fa-lightbulb-o"></i>
                        <strong>{{'Nsd.LocICAOPanel' | translate:lang}}</strong>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="nav-tabs2">
                        <ul class="nav nav-tabs" id="detailsTab">
                            <li [class.active]="tabActive === 1">
                                <a href="#tab_2" data-toggle="tab" (click)="activateTab('icao-text')">
                                    <i class="fa fa-list-alt"></i>{{'Nsd.ICAOText' | translate:lang}}
                                </a>
                            </li>
                            <li *ngIf="nsdForm.valid" [class.active]="tabActive === 2">
                                <a href="#tab_3" data-toggle="tab" (click)="activateTab('icao-format')">
                                    <i class="fa fa-list-alt"></i>{{'Nsd.ICAOFormat' | translate:lang}}
                                </a>
                            </li>
                            <li *ngIf="!nsdForm.valid" class="disabled" style="margin:0 2px; background-color: white;">
                                <div data-toggle="tab" style="color: #ccc; margin: 6px 10px">
                                    <i class="m-5 fa fa-list-alt"></i>{{'Nsd.ICAOFormat' | translate:lang}}
                                </div>
                            </li>
                            <li [class.active]="tabActive === 0" *ngIf="mapAvailable()">
                                <a href="#tab_1" (click)="activateTab('map')" data-toggle="tab">
                                    <i class="fa fa-map"></i>{{'Nsd.Location' | translate:lang}}
                                </a>
                                <div *ngIf="tabActive === 0">{{ this.validateMap() }}</div>
                            </li>
                            <li *ngIf="!isReadOnly" [class.active]="tabActive === 3">
                                <a href="#tab_geotool" (click)="activateTab('geoMap')" data-toggle="tab">
                                    <i class="fa fa-map-marker"></i>{{'GeoRefTool.TabTitle' | translate:lang}}
                                </a>
                                <div *ngIf="tabActive === 3">{{ this.validateGeoMap() }}</div>
                            </li>
                            <li *ngIf="isPrevIcaoTabVisible" [class.active]="tabActive === 4">
                                <a href="#tab_5" data-toggle="tab" (click)="activateTab('last-icao-format')">
                                    <i class="fa fa-list-alt"></i>{{'Nsd.PreviousICAOFormat' | translate:lang}}
                                </a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab_2" [class.active]="tabActive === 1" style="width:100%; height:620px;">
                                <icao [model]="model" [loading]="waitingForGeneratingIcao"></icao>
                            </div>
                            <div class="tab-pane" id="tab_3" [class.active]="tabActive === 2" style="width:100%; height:620px;">
                                <icaoformat [icaoText]="model.icaoText" [loading]="waitingForGeneratingIcao"></icaoformat>
                            </div>
                            <div id="tab_map" class="tab-pane" [class.active]="tabActive === 0"
                                 style="width:100%; height:620px; background: transparent url(/content/images/loading.png) no-repeat center center">
                                <div id="map" style="width:100%; height:620px"></div>
                            </div>
                            <div id="tab_geotool" class="tab-pane" [class.active]="tabActive === 3"
                                 style="width:100%; height:620px; background: transparent url(/content/images/loading.png) no-repeat center center">
                                <nsd-georeftool [model]="model"></nsd-georeftool>
                            </div>
                            <div class="tab-pane" id="tab_5" [class.active]="tabActive === 4" style="width:100%; height:620px;">
                                <icaoformat [icaoText]="prevIcaoText" [loading]="loadingPrevIcao"></icaoformat>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-unsave-changes" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'Nsd.UnsavedChanges' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'Nsd.LeavePage' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button id="btn-yes" type="button" class="btn btn-primary" data-dismiss="modal">{{'Switch.Yes' | translate:lang}}</button>
                <button id="btn-no" type="button" class="btn btn-dark" data-dismiss="modal">{{'Switch.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-remove-schedule" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'Common.Warning' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'Nsd.RemoveSchedule' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button id="btn-remove" type="button" class="btn btn-primary" data-dismiss="modal">{{'Switch.Yes' | translate:lang}}</button>
                <button id="btn-keep" type="button" class="btn btn-dark" data-dismiss="modal">{{'Switch.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-reject-reason" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">


        nt
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{'Nsd.RejectedReason' | translate:lang}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.RjcReason' | translate:lang}}</label>
                    <div class="append-icon">
                        <input id="reason" name="reason" type="text" class="form-control  form-white" [(ngModel)]="model.token.rejectionReason" placeholder="{{'Nsd.RejectedReason' | translate:lang}}">
                        <i class="icon-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-reject" type="button" class="btn btn-primary" data-dismiss="modal"
                        (click)="rejectProposal()"
                        [disabled]="model.token.rejectionReason == null || model.token.rejectionReason == ''">
                    {{'Nsd.Reject' | translate:lang}}
                </button>
                <button id="btn-close" type="button" class="btn btn-default" data-dismiss="modal">{{'Nsd.Close' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>



<div style="margin-top:100px">
</div>


