﻿@using Westwind.Globalization;
@model Dictionary<string, object>

@{
    Layout = "~/Views/Shared/_LayoutRegisteredUser.cshtml";
    ViewBag.Title = "[{Title}]";
}

<link href="~/Content/Views/Dashboard/index.css" rel="stylesheet" />
<style scoped>
    #detailGrid .k-button {
        margin: 5px;
        width: 200px;
    }

    #quickFindContainer {
        float: right;
        font-weight: bold;
    }

    #quickAccessId[placeholder] {
        background-image: url('/Images/system-search-4.png');
        background-repeat: no-repeat;
        background-position: right;
        background-position: right;
        background-size: contain;
    }

    :-moz-placeholder { /* older Firefox*/
        background-image: url('/Images/system-search-4.png');
        background-repeat: no-repeat;
        background-position: right;
        background-position: right;
        background-size: contain;
    }

    #quickAccessId[placeholder] { /* Firefox 19+ */
        background-image: url('/Images/system-search-4.png');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }

    #quickAccessId[placeholder] {
        background-image: url('/Images/system-search-4.png');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
</style>
<div class="nested-inner-west">
    <div class="pad5" id="subjectSearch">
        <input class="k-textbox" id="txtSearchString" type="text" />
        <button id="btnSearch">Search</button>
        <button id="btnClear">Clear</button>
    </div>
    <div id="subjectTree"></div>
</div>
<div class="nested-inner-center" id="commonWorkingArea1">
    <div id="NSDSelector-Popup"></div>
    <div id="NSDEditor-Popup" class="popupWindow" style="left:10px"></div>

    <div id="ReviewList"></div>

    <script id="notamProposalTemplate" type="text/kendo-tmpl">
        <div class="detailGrid"></div>
    </script>

    <script type="text/x-kendo-template" id="toolbar">
        <div>
            <input id="btnCreateNewNOTAMProposal" type="button" value='@DbRes.T("Create NOTAM Proposal", "ReviewList")' ,' class="k-button" disabled />
            <input id="btnViewNOTAM" type="button" value='@DbRes.T("View NOTAM Proposal", "ReviewList")' ,' class=" k-button" style="display:none" />
            <input id="btnCancelNOTAM" type="button" value='@DbRes.T("Cancel NOTAM Proposal", "ReviewList")' ,' class=" k-button" style="display:none" />
            <input id="btnReplaceNOTAM" type="button" value='@DbRes.T("Replace NOTAM Proposal", "ReviewList")' ,' class=" k-button" style="display:none" />
            <input id="btnEditDraft" type="button" value='@DbRes.T("Edit Draft", "ReviewList")' ,' class=" k-button" style="display:none" />
            <input id="btnWithdrawProposal" type="button" value='@DbRes.T("Withdraw Proposal", "ReviewList")' ,' class="k-button" style="display:none" />
            <input id="btnDeleteProposal" type="button" value='@DbRes.T("Delete Proposal", "ReviewList")' ,' class="k-button" style="display:none" />
            <input id="btnShowRejectionReason" type="button" value='@DbRes.T("Show Rejection Reason", "ReviewList")' ,' class="k-button" style="display:none" />
            <div id="quickFindContainer">
                <label for="quickAccessId">@DbRes.T("Quick Find:", "ReviewList")',</label>
                <input id="quickAccessId" type="text" class="k-input" placeholder='@DbRes.T("Notam Id", "ReviewList")' ,' />
            </div>

        </div>
    </script>
</div>

@*
<div id="subjectListModel" data-model='@Html.Raw(Json.Encode(ViewBag.SubjectListModel))'></div>
<div id="notamFirstSubjectModel" data-model='@Html.Raw(Json.Encode(ViewBag.NotamFirstSubjectModel))'></div>
*@

<script id="notamProposalTemplate" type="text/kendo-tmpl">
    <div class="detailGrid"></div>
</script>
<script>
@section Scripts
{
    require(["c/Dashboard/Index"], function (index) {

        var labels = {
            errorLabel: '@DbRes.T("Error", "Dasboard")',
            errorLoadingNSDList: '@DbRes.T("Error Loading NSD List", "Dasboard")',
            selectNotamScenario: '@DbRes.T("Select NOTAM Scenario...", "ReviewList")',
            notamId: '@DbRes.T("Notam Id", "ReviewList")',
            proposalType: '@DbRes.T("Proposal Type", "ReviewList")',
            locationLabel: '@DbRes.T("Location", "ReviewList")',
            nameLabel: '@DbRes.T("Name", "ReviewList")',
            conditionLabel: '@DbRes.T("Condition", "ReviewList")',
            startDate: '@DbRes.T("Start Date", "ReviewList")',
            endDate: '@DbRes.T("End Date", "ReviewList")',
            statusLabel: '@DbRes.T("Status", "ReviewList")',
            expiredLabel: '@DbRes.T("Expired", "ReviewList")',
            modifiedAndCaceled: '@DbRes.T("Modified and Cancelled", "ReviewList")',
            modifiedAndEnforced: '@DbRes.T("Modified and Enforced", "ReviewList")',
            canceledLabel: '@DbRes.T("Cancelled", "ReviewList")',
            enforcedLabel: '@DbRes.T("Enforced", "ReviewList")',
            endedLabel: '@DbRes.T("Ended", "ReviewList")',
            soonToExpired: '@DbRes.T("Soon To Expire", "ReviewList")',
            queuedLabel: '@DbRes.T("Queued", "ReviewList")',
            withdrawnPending: '@DbRes.T("Withdrawn Pending", "ReviewList")',
            withdrawnLabel: '@DbRes.T("Withdrawn", "ReviewList")',
            modifiedAndSubmitted: '@DbRes.T("Modified And Submitted", "ReviewList")',
            submittedLabel: '@DbRes.T("Submitted", "ReviewList")',
            rejectedLabel: '@DbRes.T("Rejected", "ReviewList")',
            pendingLabel: '@DbRes.T("Pending", "ReviewList")',
            draftLabel: '@DbRes.T("Draft", "ReviewList")',
            undefinedLabel: '@DbRes.T("Undefined", "ReviewList")',
            savedLabel: '@DbRes.T("Saved", "ReviewList")',
            messageLabel: '@DbRes.T("Message", "ReviewList")',
            typeLabel: '@DbRes.T("Type", "ReviewList")',
            rejectReason: '@DbRes.T("Reject Reason", "ReviewList")',
            confirmLabel: '@DbRes.T("Confirm", "ReviewList")',
            confirmProposalDelete: '@DbRes.T("Confirm Proposal Delete", "ReviewList")',
            errorDeletingProposal: '@DbRes.T("Error Deleting Proposal", "ReviewList")',
            confirmProposalWithdraw: '@DbRes.T("Confirm Proposal Withdraw", "ReviewList")',
            successLabel: '@DbRes.T("Success", "ReviewList")',
            errorWithdrawingProposal: '@DbRes.T("Error Withdrawing Proposal", "ReviewList")',
            cancelNotamNotification: '@DbRes.T("Are you sure you want to Cancel this NOTAM", "ReviewList")',
            errorLabelCol: '@DbRes.T("Error: ", "ReviewList")',
            errorCreatingCancelNotam: '@DbRes.T("Error Creating Cancel NOTAM Proposal.", "ReviewList")',
            errorLabel: '@DbRes.T("Error", "ReviewList")'
        };

        index.init(labels);
        //reviewList.init(labels);
    })
}
</script>