﻿@using Westwind.Globalization;
<style scoped>
    .k-button {
        width: 100px !important;
    }

    .allheight {
        height: 100%;
    }

    .k-tabstrip > .k-content, .k-panelbar .k-tabstrip > .k-content {
        height: calc(100% - 50px);
        height: -moz-calc(100% - 50px);
        height: -webkit-calc(100% - 50px);
    }

    .k-tabstrip-wrapper {
        height: calc(100% - 55px);
        height: -moz-calc(100% - 55px);
        height: -webkit-calc(100% - 55px);
    }

    #tabStrip {
        height: 100%;
        display: none;
    }

    #mapView {
        height: calc(100% - 30px);
        height: -moz-calc(100% - 30px);
        height: -webkit-calc(100% - 30px);
    }

    #mapLegend {
        position: fixed;
        right: 30px;
        bottom: 60px;
        outline: none;
        background-color: rgba(0,0,0,0.5);
        color: white;
        text-shadow: 1px 1px #000000;
    }

        #mapLegend > table, #mapLegend > table > tbody > tr > td {
            border: 1px solid black;
        }

            #mapLegend > table > thead > tr > th {
                background-color: rgba(0,0,0,0.6);
            }
</style>

<h1>
    @DbRes.T("NAVAIDs Dissemination Category", "NavAidDisseminationCategory")
</h1>
<hr />
<div id="tabStrip">
    <ul>
        <li>@DbRes.T("Grid View", "NavAidDisseminationCategory")</li>
        <li id="mapViewTab" class="k-state-active">@DbRes.T("Map View", "NavAidDisseminationCategory")</li>
    </ul>
    <div>
        <div id="NavAidDisseminationCategoryGrid" class="allheight"></div>
    </div>
    <div>
        <div id="actionPanel" style="display: none;margin:3px">
            <input id="selectAhp" style="width:50%" />
            <input id="selectDisseminationCategory" />

        </div>

        <div id="mapView"></div>
        <div id="mapLegend">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">
                            @DbRes.T("Legend", "AerodromeDisseminationCategory")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@DbRes.T("National", "AerodromeDisseminationCategory")</td>
                        <td width="20px">
                            <img src="~/Images/pushpinRed.png" style="width:10px;height:auto" />
                        </td>
                    </tr>
                    <tr>
                        <td>@DbRes.T("US", "AerodromeDisseminationCategory")</td>
                        <td>
                            <img src="~/Images/pushpinBlue.png" style="width:10px;height:auto" />
                        </td>
                    </tr>
                    <tr>
                        <td>@DbRes.T("International", "AerodromeDisseminationCategory")</td>
                        <td>
                            <img src="~/Images/pushpinGreen.png" style="width:10px;height:auto" />
                        </td>
                    </tr>

                </tbody>
            </table>
            <span>

            </span>
        </div>
    </div>

</div>
<div id="menuContainer" style="display:none">
    <ul id="menu">
        <li class="_i_">@DbRes.T("Set Dissemination Category to International", "NavAidDisseminationCategory")</li>
        <li class="_u_">@DbRes.T("Set Dissemination Category to US", "NavAidDisseminationCategory")</li>
        <li class="_n_">@DbRes.T("Set Dissemination Category to National", "NavAidDisseminationCategory")</li>
    </ul>
</div>

<div id="disseminationLevels" data-model='@Html.Raw(Json.Encode(ViewBag.DisseminationLevels))'></div>

<script>
@section Scripts{

    require(["admin/Controllers/NavAidDisseminationCategory/Index"], function (index) {
        var labels = {
            National: '@DbRes.T("National", "NavAidDisseminationCategory")',
            US: '@DbRes.T("US", "NavAidDisseminationCategory")',
            International: '@DbRes.T("International", "NavAidDisseminationCategory")',
            displayLabel: '@DbRes.T("Showing {0}-{1} from {2} data items", "NavAidDisseminationCategory")',
            noData: '@DbRes.T("No data", "NavAidDisseminationCategory")',
            enterPage: '@DbRes.T("Enter page", "NavAidDisseminationCategory")',
            ofLabel: '@DbRes.T("of {0}", "NavAidDisseminationCategory")',
            firstPage: '@DbRes.T("First page", "NavAidDisseminationCategory")',
            lastPage: '@DbRes.T("Last page", "NavAidDisseminationCategory")',
            nextPage: '@DbRes.T("Next page", "NavAidDisseminationCategory")',
            previousPage: '@DbRes.T("Previous page", "NavAidDisseminationCategory")',
            refreshTheGrid: '@DbRes.T("Refresh the grid", "NavAidDisseminationCategory")',
            morePages: '@DbRes.T("More pages", "NavAidDisseminationCategory")',
            aerodromeCode: '@DbRes.T("Aerodrome Code", "NavAidDisseminationCategory")',
            aerodromeName: '@DbRes.T("Aerodrome Name", "NavAidDisseminationCategory")',
            disseminationCategory: '@DbRes.T("Dissemination Category", "NavAidDisseminationCategory")',
            addLabel: '@DbRes.T("Add", "NavAidDisseminationCategory")',
            saveLabel: '@DbRes.T("Save", "NavAidDisseminationCategory")',
            cancelLabel: '@DbRes.T("Cancel", "NavAidDisseminationCategory")',
            couldNotLoadData: '@DbRes.T("Could not load data for", "NavAidDisseminationCategory")',
            selectAD: '@DbRes.T("Select AD...", "NavAidDisseminationCategory")'
        };

        index.init(labels);
    })

    }
</script>

