﻿@using Westwind.Globalization
@inherits WebViewPage
<link href="~/Content/Font-Awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Font-Awesome/css/bootstrap-checkboxes.css" rel="stylesheet" />
<div style="margin-left: 5px; margin-top: 5px; width: 95%;">
    <div class="col-lg-12" id="rwy-clsd">
        <div class="row">
            <form class="form" id="frm-navaids" role="form">
                <div class="panel panel-info">
                    <div class="panel-heading">@DbRes.T("Select a NAVAID type From the dropdown list", "NSD-NavaIds")</div>
                    <div class="panel-body" style="width: 94%">
                        <form class="form-horizontal" id="frm-reason" role="form">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-1 control-label text-info" for="cbx-navatype">@DbRes.T("Type:", "NSD-NavaIds")</label>
                                    <div class="col-lg-10">
                                        <select data-bind="value: navaType" id="cbx-navatype" type="text" style="width: 150px"></select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-heading">
                        @DbRes.T("Options", "NSD-NavaIds")
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-1 control-label text-info" for="cbx-navaoption">@DbRes.T("Options:", "NSD-NavaIds")</label>
                                <div class="col-lg-10">
                                    <select data-bind="value: navaOption" id="cbx-navaoption" type="text" style="width:280px"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="navaTypes" data-navas="@Html.Encode(Html.Raw(Json.Encode(ViewBag.NavaIdTypes)))"></div>
<div id="navaOptions" data-options="@Html.Encode(Html.Raw(Json.Encode(ViewBag.NavaIdOptions)))"></div>