﻿@using NavCanada.Applications.NotamWiz.Web
@using Westwind.Globalization;

<span style="color:gold">
    &copy;
</span>
<span>
    2013-@DateTime.Now.Year 
</span>
<span style="color:gold">
    @DbRes.T("NAVCANADA - AIS Systems Engineering","Home")
</span>
<span style="color:lightgray">
    @DbRes.T("Version", "Home")
</span>
<span>
    @typeof(WebApp).Assembly.GetName().Version
</span>
<span style="color:lightgray">
    @DbRes.T("Built On:", "Home")
</span>
<span>
    @File.GetCreationTime(typeof(WebApp).Assembly.Location)
</span>
