﻿@using Microsoft.AspNet.Identity
@using Westwind.Globalization;

@if (Request.IsAuthenticated)
{
    using (@Html.BeginForm("Logoff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    
        <ul class="nodecoration">
            @if (User.IsInRole("Organization Administrator") || User.IsInRole("User"))
            {
                <li class="pad10"><a href="/Dashboard">@DbRes.T("Dashboard", "Home")</a></li>
                <li class="pad10">|</li>
            }
            @if (User.IsInRole("Organization Administrator") || User.IsInRole("Administrator") || User.IsInRole("CCS"))
            {
                <li class="pad10"><a href="/Admin/AdminHome">@DbRes.T("Administrator Area", "Home")</a></li>
                <li class="pad10">|</li>
            }

            @if (ViewBag.HideManageLink == null)
            {
                <li class="pad10">
                    @Html.ActionLink(User.Identity.Name + " " + DbRes.T("Profile", "Home"), "Manage", "Account", new
                        /*
                        @Html.ActionLink(DbRes.T("Logged", "Home") + " " + User.Identity.Name + "!", "Manage", "Account", new
                    */
                    {
                        area = ""
                    }, htmlAttributes : new
                    {
                        title = DbRes.T("Manage", "Home")
                    })
                </li>
                <li class="pad10">|</li>
            }
            <li class="pad10"><a href="javascript:document.getElementById('logoutForm').submit()">@DbRes.T( "Logoff", "Home")</a></li>
            <li class="pad10">@Html.Partial("_CultureChooserUserControl")</li>
        </ul>
    }
}
else
{
    <ul class="nodecoration">
        @if (ViewBag.HideRegisterLink == null)
        {
            <li class="pad10">@Html.ActionLink(DbRes.T("Register", "Home"), "Register", "Account", routeValues : null, htmlAttributes : new { area = "", id = "registerLink" })</li>
        }
        <li class="pad10">@Html.ActionLink(DbRes.T("Login","Home"), "Login", "Account", routeValues: null, htmlAttributes: new { area = "", id = "loginLink" })</li>
        <li class="pad10">@Html.Partial("_CultureChooserUserControl")</li>
    </ul>
}
