﻿<div class="row">
    <div class="app-header">
        <h2>
            <strong>{{'ADCSession.PageTitleBold' | translate:lang}} {{'ADCSession.PageTitle' | translate:lang}} </strong>
            <a href="../Content/help/NESUserGuide{{langCulture}}.pdf#c_adm_dissemination_category" target="_blank" style="padding-left:10px;"><i class="icon-question"></i></a>
        </h2>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="m-t-10 m-b-10 no-print">
                <div *ngIf="currentTab === 'withdc'">
                    <button class="btn btn-primary m-r-10 m-b-10"
                            [disabled]="selectedADC === null"
                            [routerLink]="['/administration/adc/edit', selectedADC?.id]">
                        <i class="fa fa-pencil-square-o m-r-10"></i>{{'Common.Edit' | translate:lang}}
                    </button>
                </div>
                <div *ngIf="currentTab === 'withoutdc'">
                    <button class="btn btn-primary m-r-10 m-b-10"
                            [disabled]="selectedAhp === null"
                            [routerLink]="['/administration/adc/add', selectedAhp?.mid]">
                        <i class="fa fa-pencil-square-o m-r-10"></i>{{'Common.Edit' | translate:lang}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <form [formGroup]="adcListForm" class="form" autocomplete="off" novalidate="novalidate">
        <div>
            <div class="col-lg-7" style="padding-left:0px; z-index:5000">
                <ul class="nav nav-tabs nav-primary" style="border-bottom: 0">
                    <li [class.active]="currentTab === 'withdc'" [class.tabs-disabled]="tabsDisabled">
                        <a id="withdc" href="#with-dc-queue" data-toggle="tab" (click)="onTabClick('withdc')" style="cursor: pointer;">
                            <i class="icon icon-layers" (click)="onTabClick('withdc')"></i>{{'ADCSession.AssignedDC' | translate:lang}}
                        </a>
                    </li>
                    <li [class.active]="currentTab === 'withoutdc'" [class.tabs-disabled]="tabsDisabled">
                        <a id="withoutdc" href="#without-dc-queue" data-toggle="tab" (click)="onTabClick('withoutdc')" style="cursor: pointer;">
                            <i class="icon icon-docs" (click)="onTabClick('withoutdc')"></i>{{'ADCSession.UnassignedDC' | translate:lang}}&nbsp;
                            <span class="badge badge-warning bd-full m-l-10 m-r-5" (click)="onTabClick('withoutdc')">{{withoutdcCount}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div style="margin-top:10px">
                <div class="tab-pane fade" [class.in]="currentTab === 'withdc'" id="with-dc-queue">
                    <div *ngIf="currentTab === 'withdc'">
                        <div class="col-md-12" style="height:100%">
                            <div class="row">
                                <div class="col-md-12 portlets ui-sortable" style="padding-left:0px">
                                    <div class="panel">
                                        <div class="panel-content">
                                            <div class="dataTables_wrapper form-inline">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="panel">
                                                            <div class="panel-header" style="padding-bottom:11px;">
                                                                <div class="form-group">
                                                                    <span class="control-label" style="line-height:34px">{{'Common.ItemPerPage' | translate:lang}}:</span>
                                                                    <select2 [data]="withTableHeaders.itemsPerPage"
                                                                             [value]="withQueryOptions.pageSize"
                                                                             [options]="{minimumResultsForSearch:-1}"
                                                                             [width]="50"
                                                                             (valueChanged)="itemsPerPageChanged($event)"></select2>
                                                                </div>

                                                                <div class="pull-right">
                                                                    <div class="form-group">
                                                                        <div class="append-icon">
                                                                            <input id="searchWithDC" formControlName="searchWithDC" type="text"
                                                                                   placeholder="{{'Common.Search' | translate:lang}}"
                                                                                   class="form-control form-white"
                                                                                   minlenght="2" maxlength="20" style="text-transform:uppercase">
                                                                            <i class="fa fa-file-code-o"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <table class="table table-hover table-dynamic table-responsive filter-footer dataTable" role="grid">
                                                    <thead>
                                                        <tr role="row">
                                                            <th tabindex="1" [class]="sortingClass(0)" (click)="sort(0)" style="width: 4%;" rowspan="1" colspan="1">{{'ADCSession.AerodromeCode' | translate:lang}}</th>
                                                            <th tabindex="2" [class]="sortingClass(1)" (click)="sort(1)" style="width: 25%;" rowspan="1" colspan="1">{{'ADCSession.AerodromeName' | translate:lang}}</th>
                                                            <th tabindex="3" [class]="sortingClass(2)" (click)="sort(2)" style="width: 6%;" rowspan="1" colspan="1">{{'ADCSession.DisseminationName' | translate:lang}}</th>
                                                            <th tabindex="4" style="width: 15%;" rowspan="1" colspan="1">{{'ADCSession.ServedCity' | translate:lang}}</th>
                                                            <th tabindex="5" style="width: 6%;" rowspan="1" colspan="1">{{'ADCSession.Latitude' | translate:lang}}</th>
                                                            <th tabindex="6" style="width: 6%;" rowspan="1" colspan="1">{{'ADCSession.Longitude' | translate:lang}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="data-response">
                                                        <tr role="row" *ngFor="let adc of adcs; let i = index;" id="p_{{adc.id}}"
                                                            (click)="selectADC(adc)"
                                                            [class.success]="adc.isSelected">
                                                            <td>{{adc.ahpCodeId}}</td>
                                                            <td>{{adc.ahpName}}</td>
                                                            <td>{{adc.disseminationCategoryName}}</td>
                                                            <td>{{adc.servedCity}}</td>
                                                            <td>{{getLatitude(adc.latitude)}}</td>
                                                            <td>{{getLongitude(adc.longitude)}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <server-pagination [currentPage]="withPaging.currentPage"
                                                                   [pageSize]="withPaging.pageSize"
                                                                   [totalCount]="withPaging.totalCount"
                                                                   [totalPages]="withTotalPages"
                                                                   [sliderSize]="9"
                                                                   (onPageChange)="onPageChange($event)"></server-pagination>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" [class.in]="currentTab === 'withoutdc'" id="without-dc-queue">
                    <div *ngIf="currentTab === 'withoutdc'">
                        <div class="col-md-12" style="height:100%">
                            <div class="row">
                                <div class="col-md-12 portlets ui-sortable" style="padding-left:0px">
                                    <div class="panel">
                                        <div class="panel-content">
                                            <div class="dataTables_wrapper form-inline">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="panel">
                                                            <div class="panel-header" style="padding-bottom:11px;">
                                                                <div class="form-group">
                                                                    <span class="control-label" style="line-height:34px">{{'Common.ItemPerPage' | translate:lang}}:</span>
                                                                    <select2 [data]="withoutTableHeaders.itemsPerPage"
                                                                             [value]="withoutQueryOptions.pageSize"
                                                                             [options]="{minimumResultsForSearch:-1}"
                                                                             [width]="50"
                                                                             (valueChanged)="itemsPerPageChanged($event)"></select2>
                                                                </div>

                                                                <div class="pull-right">
                                                                    <div class="form-group">
                                                                        <div class="append-icon">
                                                                            <input id="searchWithoutDC" formControlName="searchWithoutDC" type="text"
                                                                                   placeholder="{{'Common.Search' | translate:lang}}"
                                                                                   class="form-control form-white"
                                                                                   minlenght="2" maxlength="20" style="text-transform:uppercase">
                                                                            <i class="fa fa-file-code-o"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <table class="table table-hover table-dynamic table-responsive filter-footer dataTable" role="grid">
                                                    <thead>
                                                        <tr role="row">
                                                            <th tabindex="1" [class]="sortingClass(0)" (click)="sort(0)" style="width: 4%;" rowspan="1" colspan="1">{{'ADCSession.AerodromeCode' | translate:lang}}</th>
                                                            <th tabindex="2" [class]="sortingClass(1)" (click)="sort(1)" style="width: 20%;" rowspan="1" colspan="1">{{'ADCSession.SdoName' | translate:lang}}</th>
                                                            <th tabindex="3" [class]="sortingClass(2)" (click)="sort(2)" style="width: 15%;" rowspan="1" colspan="1">{{'ADCSession.ServedCity' | translate:lang}}</th>
                                                            <th tabindex="4" [class]="sortingClass(3)" (click)="sort(3)" style="width: 6%;" rowspan="1" colspan="1">{{'ADCSession.SdoFir' | translate:lang}}</th>
                                                            <th tabindex="5" style="width: 6%;" rowspan="1" colspan="1">{{'ADCSession.Latitude' | translate:lang}}</th>
                                                            <th tabindex="6" style="width: 6%;" rowspan="1" colspan="1">{{'ADCSession.Longitude' | translate:lang}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="data-response">
                                                        <tr role="row" *ngFor="let sdo of ahpNoDcs; let i = index;" id="p_{{sdo.id}}"
                                                            (click)="selectAhp(sdo)"
                                                            [class.success]="sdo.isSelected">
                                                            <td>{{sdo.designator}}</td>
                                                            <td>{{sdo.name}}</td>
                                                            <td>{{sdo.servedCity}}</td>
                                                            <td>{{sdo.fir}}</td>
                                                            <td>{{getLatitude(sdo.latitude)}}</td>
                                                            <td>{{getLongitude(sdo.longitude)}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <server-pagination [currentPage]="withoutPaging.currentPage"
                                                                   [pageSize]="withoutPaging.pageSize"
                                                                   [totalCount]="withoutPaging.totalCount"
                                                                   [totalPages]="withoutTotalPages"
                                                                   [sliderSize]="9"
                                                                   (onPageChange)="onPageChange($event)"></server-pagination>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </form>

</div>

