﻿<div class="app-header">
    <h2>
        <strong>{{'Common.Edit' | translate:lang}} {{'ADCSession.PageTitleBold' | translate:lang}} </strong> 
    </h2>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="addAdcForm" class="form" autocomplete="off" (ngSubmit)="onSubmit()" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-user-md"></i> <strong>{{'ADCSession.ADCDetails' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{'ADCSession.AerodromeCode' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="designator" formControlName="designator" type="text"
                                           class="form-control form-white"
                                           [disabled]="true"
                                           style="text-transform:uppercase; font-size: 10px !important">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{'ADCSession.AerodromeName' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="name" formControlName="name" type="text"
                                           class="form-control form-white"
                                           [disabled]="true"
                                           style="text-transform:uppercase; font-size: 10px !important">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'ADCSession.DisseminationName' | translate:lang}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-map"></i></span>
                                    <select2 [value]="selectedDisseminationCategory"
                                             [data]="disseminationCategories"
                                             (valueChanged)="onDisseminationChanged($event)"
                                             [disabled]="isReadOnly"
                                             [options]="disseminationCategoriesOptions"
                                             [class.form-white]="!isReadOnly"></select2>
                                </div>
                                <div *ngIf="!validateDissemination()" class="form-error" style="margin-top:10px;">{{'ADCSession.ValidateDissCat' | translate:lang}}</div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="action === 'view'" class="text-center  m-t-20">
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToADCList()">{{'Common.Close' | translate:lang}}</button>
                    </div>
                    <div *ngIf="action === 'edit'" class="text-center  m-t-20">
                        <button class="btn btn-embossed btn-primary" type="submit" [disabled]="addAdcForm.pristine || !addAdcForm.valid || isSubmitting">{{'Common.Save' | translate:lang}}</button>
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToADCList()">{{'Common.Cancel' | translate:lang}}</button>
                    </div>
                </div>
            </div>
            <input id="disseminationCategoryName" formControlName="disseminationCategoryName" type="hidden" />
        </form>
    </div>
</div>

