﻿@model NavCanada.Utils.Apps.InoMock.Models.NotamProposal

@{
    ViewBag.Title = "Submit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>NotamProposal</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <table>
            <tr>
                <td valign="top">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NOF)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NOF, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NOF, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Series)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Series, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Series, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Number)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Year)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Type)
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(model => model.Type, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ReferredSeries)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ReferredSeries, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ReferredSeries, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ReferredNumber)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ReferredNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ReferredNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ReferredYear)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ReferredYear, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ReferredYear, "", new { @class = "text-danger" })
                        </div>
                    </div><div class="form-group">
                        @Html.LabelFor(model => model.QLine.FIR)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.QLine.FIR, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QLine.FIR, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td valign="top">


                    @*<div class="form-group">
                            @Html.LabelFor(model => model.QLine)
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.QLine, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.QLine, "", new { @class = "text-danger" })
                            </div>
                        </div>*@


                    <div class="form-group">
                        @Html.LabelFor(model => model.QLine.Code23)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.QLine.Code23, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QLine.Code23, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.QLine.Code45)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.QLine.Code45, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QLine.Code45, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.QLine.Traffic)
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(model => model.QLine.Traffic, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QLine.Traffic, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.QLine.Purpose)
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(model => model.QLine.Purpose, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QLine.Purpose, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.QLine.Scope)
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(model => model.QLine.Scope, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QLine.Scope, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.QLine.Lower)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.QLine.Lower, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QLine.Lower, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.QLine.Upper)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.QLine.Upper, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QLine.Upper, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Coordinates)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Coordinates, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Coordinates, "", new { @class = "text-danger" })
                        </div>
                    </div><div class="form-group">
                        @Html.LabelFor(model => model.Radius)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Radius, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Radius, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ItemA)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ItemA, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ItemA, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td valign="top">



                    <div class="form-group">
                        @Html.LabelFor(model => model.StartValidity)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StartValidity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StartValidity, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EndValidity)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EndValidity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EndValidity, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Estimated)
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Estimated)
                                @Html.ValidationMessageFor(model => model.Estimated, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ItemD)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ItemD, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ItemD, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ItemE)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ItemE, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ItemE, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ItemEFrench)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ItemEFrench, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ItemEFrench, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ItemF)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ItemF, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ItemF, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ItemG)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ItemG, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ItemG, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ItemX)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ItemX, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ItemX, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </td>



            </tr>
        </table>
        <hr />


        <div class="form-group" style="float:right">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default k-button" />
            </div>
        </div>

    </div>
}
