﻿<div class="app-header">
    <h2>
        <strong>{{'Common.Modify' | translate:lang}} {{'BilingualRegionSession.PageTitleBold' | translate:lang}}</strong>
        <a href="../Content/help/NESUserGuide{{langCulture}}.pdf#c_adm_billingual_region" target="_blank" style="padding-left:10px;"><i class="icon-question"></i></a>
    </h2>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="bRegionForm" class="form" autocomplete="off" (ngSubmit)="onSubmit()" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-user-md"></i> <strong>{{'BilingualRegionSession.BRDetails' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <!--Name-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'BilingualRegionSession.Name' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="doaName" formControlName="doaName" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'BilingualRegionSession.Name' | translate:lang}}"
                                           style="font-size: 10px !important"
                                           minlength="3">
                                </div>
                            </div>
                        </div>
                        <!--Description-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'BilingualRegionSession.Description' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="doaDescription" formControlName="doaDescription" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'BilingualRegionSession.Description' | translate:lang}}"
                                           style="font-size: 10px !important"
                                           minlength="3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!--Creation Source Listbox-->
                            <div class="form-group">
                                <label class="control-label">{{'BilingualRegionSession.CreationSource' | translate:lang}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-map"></i></span>
                                    <select2 [value]="selectedSourceId"
                                             [data]="doaSources"
                                             (valueChanged)="onSourceChanged($event)"
                                             [disabled]="isReadOnly"
                                             [options]="doaSourceOptions"
                                             [class.form-white]="!isReadOnly"></select2>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="selectedSourceId === 1">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">{{'BilingualRegionSession.FileContent' | translate:lang}}</label>
                                    <div class="file">
                                        <div class="input-group">
                                            <button class="file-button btn btn-sm btn-primary"
                                                    style="height: 25px; line-height: 15px">
                                                <i class="fa fa-upload"></i>&nbsp;&nbsp;{{'DoasAdminSession.ChooseFile' | translate:lang}}
                                            </button>
                                            <input type="file" class="custom-file" name="attachments" id="attachments"
                                                   (change)="saveDoaFile()" required="" aria-required="true">
                                            <input type="text" class="" id="uploader" placeholder="" readonly=""
                                                   style="height: 25px; width:100px; line-height: 15px; opacity:0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label">&nbsp;&nbsp;</label>
                                <div class="form-group">
                                    <textarea id="doaGeo" formControlName="doaGeo" type="text"
                                              rows="4" cols="20" class="form-control"
                                              [class.form-white]="true" readonly></textarea>

                                </div>
                            </div>
                        </div>
                        <div *ngIf="selectedSourceId === 2" class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'DoasAdminSession.FIR' | translate:lang}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-upload"></i></span>
                                    <select2 [value]="selectedFirId"
                                             [data]="firSources"
                                             (valueChanged)="onFirChanged($event)"
                                             [disabled]="isReadOnly"
                                             [options]="firSourceOptions"
                                             [class.form-white]="!isReadOnly"></select2>
                                </div>
                                <div *ngIf="bRegion.region.fir === ''" class="form-error">{{'DoasAdminSession.RequieredFIR' | translate:lang}}</div>
                            </div>
                        </div>
                        <div *ngIf="selectedSourceId === 3" class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'DoasAdminSession.Points' | translate:lang}}</label>
                                <div class="append-icon">
                                    <textarea id="doaPoints" formControlName="doaPoints" type="text"
                                              rows="5" cols="10"
                                              class="form-control"
                                              [class.form-white]="!isReadOnly"
                                              placeholder="{{'DoasAdminSession.Points' | translate:lang}}"></textarea>
                                </div>
                                <div *ngIf="!isValidDoaLocation" class="form-error">{{'DoasAdminSession.InvalidLocation' | translate:lang}}</div>
                            </div>
                        </div>
                        <div *ngIf="selectedSourceId === 4">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">{{'DoasAdminSession.Location' | translate:lang}}</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                        <input id="doaLocation"
                                               formControlName="doaLocation" type="text" class="form-control"
                                               [ngClass]="{'form-error': !isValidDoaLocation }"
                                               [class.form-white]="!isReadOnly"
                                               placeholder="{{'DoasAdminSession.Location' | translate:lang}}"
                                               style="text-transform:uppercase; font-size: 10px !important">
                                    </div>
                                    <div *ngIf="!isValidDoaLocation" class="form-error">{{'DoasAdminSession.InvalidLocation' | translate:lang}}</div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group" style="margin-right: 20px;">
                                    <label class="form-label">{{'DoasAdminSession.Radius' | translate:lang}}</label>&nbsp;<span>(NM)</span>
                                    <div class="input-group">
                                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px;" (click)="decRadius('doaRadius')">-</span>
                                        <input id="doaRadius" formControlName="doaRadius" class="form-control"
                                               (keypress)="validateKeyPressNumber($event)"
                                               [ngClass]="{'form-error': !validateRadius('doaRadius') }" [class.form-white]="!isReadOnly" type="text">
                                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px;" (click)="incRadius('doaRadius')">+</span>
                                    </div>
                                    <div *ngIf="!validateRadius('doaRadius')" class="form-error">{{'DoasAdminSession.InvalidRadius' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--Modify Location processing-->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{'BilingualRegionSession.Location' | translate:lang}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                    <input id="modifyLocation"
                                           formControlName="modifyLocation" type="text" class="form-control"
                                           [ngClass]="{'form-error': !validModifyLocation() }"
                                           [class.form-white]="true"
                                           placeholder="{{'BilingualRegionSession.Location' | translate:lang}}"
                                           style="text-transform:uppercase; font-size: 10px !important">
                                </div>
                                <div *ngIf="!validModifyLocation()" class="form-error">{{'BilingualRegionSession.InvalidLocation' | translate:lang}}</div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group" style="margin-right: 20px;">
                                <label class="form-label">{{'BilingualRegionSession.Radius' | translate:lang}}</label>&nbsp;<span>(NM)</span>
                                <div class="input-group">
                                    <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px;" (click)="decRadius('modifyRadius')">-</span>
                                    <input id="modifyRadius" formControlName="modifyRadius" class="form-control"
                                           [ngClass]="{'form-error': !validateRadius('modifyRadius') }" [class.form-white]="true" type="text">
                                    <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px;" (click)="incRadius('modifyRadius')">+</span>
                                </div>
                                <div *ngIf="!validateRadius('modifyRadius')" class="form-error">{{'DoasAdminSession.InvalidRadius' | translate:lang}}</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'BilingualRegionSession.Actions' | translate:lang}}</label>
                                <div class="input-group">
                                    <button type="button" class="btn btn-embossed btn-primary"
                                            (click)="prepareModifyLocationData()"
                                            [disabled]="!includeLocationEnabled()">
                                        <i class="icon-plus"></i> {{'BilingualRegionSession.Include' | translate:lang}}
                                    </button>
                                    <button type="button" class="btn btn-embossed btn-primary"
                                            (click)="prepareModifyLocationData()"
                                            [disabled]="!excludeLocationEnabled()">
                                        <i class="icon-minus"></i> {{'BilingualRegionSession.Exclude' | translate:lang}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--Table for Location-->
                        <div class="col-sm-6">
                            <div class="row" style="width: 100%; height: 300px; overflow-y: scroll;">
                                <table class="table table-hover table-dynamic table-responsive filter-footer dataTable" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="1" style="width: 30%;">{{'BilingualRegionSession.THeaderLocation' | translate:lang}}</th>
                                            <th tabindex="2" style="width: 20%;">{{'BilingualRegionSession.THeaderRadius' | translate:lang}}</th>
                                            <th tabindex="3" style="width: 20%;">{{'BilingualRegionSession.THeaderAction' | translate:lang}}</th>
                                            <th tabindex="4" style="width: 30%;">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr role="row" *ngFor="let location of doaChangesList;"
                                            (click)="pickLocation(location)"
                                            [ngClass]="rowColor(location)">
                                            <td style="width: 30%;" rowspan="1" colspan="1">
                                                <label class="form-label">{{location.source}}</label>
                                            </td>
                                            <td style="width: 20%;" rowspan="1" colspan="1">
                                                <label class="form-label">{{location.radius}}</label>
                                            </td>
                                            <td style="width: 20%;" rowspan="1" colspan="1">
                                                <label class="form-label">{{getAction(location.inDoa)}}</label>
                                            </td>
                                            <td style="width: 30%;" rowspan="1" colspan="1">
                                                <button type="button" class="btn btn-xs btn-primary"
                                                        (click)="deletePoint(location)">
                                                    <i class="icon-minus"></i> {{'BilingualRegionSession.BtnDelete' | translate:lang}}
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>

                        </div>
                        <!--MAP-->
                        <div class="col-sm-6">
                            <div class="nav-tabs2">
                                <div class="tab-content">
                                    <div id="tab_map" class="_tab-pane" style="height: 300px; _background: transparent url(/content/images/loading.png) no-repeat center center">
                                        <div id="map" style="width:100%; _height:300px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Form Buttons-->
                    <div class="text-center  m-t-20">
                        <button class="btn btn-embossed btn-primary" type="submit" [disabled]="disableSubmit()">{{'Common.Save' | translate:lang}}</button>
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="onCancel()" [disabled]="disableSubmit()">{{'Common.Cancel' | translate:lang}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

