﻿<div class="app-header">
    <h2>
        <strong> {{'RSC.CreateRSC' | translate:lang}}</strong>
        <a href="../Content/help/NESUserGuide{{langCulture}}.pdf#{{model.helpLink}}" target="_blank" style="padding-left:10px;"><i class="icon-question"></i></a>
    </h2>
</div>

<nsd-buttonbar [model]="model" [isNOF]="isNOF" [isReadOnly]="isReadOnly"></nsd-buttonbar>

<div class="row">

    <div class="col-xlg-8 col-lg-8">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form [(formGroup)]="nsdForm" class="form" autocomplete="off" novalidate="novalidate">
                            <div class="row">
                                <div class="panel bg-blue-dark">
                                    <div class="panel-header">
                                        <h3><i class="fa fa-plane"></i> <strong>{{'Nsd.AerodromeLocationDescription' | translate:lang}}</strong></h3>
                                        <div class="control-btn">
                                            <a href="#" class="panel-toggle"><i class="fa fa-angle-down fg-white"></i></a>
                                        </div>
                                    </div>
                                    <div class="panel-content bg-white">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-label">{{'RSC.ItemA' | translate:lang}}</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                        <select2 [value]="nsdForm.get('subjectId').value"
                                                                 [data]="subjects"
                                                                 [disabled]="isReadOnly"
                                                                 [options]="sdoSubjectWithTwysOptions()"></select2>
                                                    </div>
                                                    <!--<div *ngIf="!validateSubjectId() && nsdFrmGroup.controls.subjectId.errors.required" class="form-error">{{'ErrorMsgs.SubjectRequired' | translate:lang}}</div>-->
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label class="form-label">{{'RSC.ConditionsChangingRapidly' | translate:lang}}</label>
                                                    <div class="input-group">
                                                        <label class="switch m-r-20">
                                                            <input id="changingconditions" class="switch-input" type="checkbox"
                                                                   [checked]="nsdForm.get('conditionsChanging').value === true"
                                                                   (change)="conditionsChangingClick()"
                                                                   [disabled]="nsdForm.get('subjectId').value === ''">
                                                            <span class="switch-label"
                                                                  attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                                            <span class="switch-handle"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="nsdForm.get('conditionsChanging').value === true">
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label class="control-label">{{'RSC.Telephone' | translate:lang}}</label>
                                                        <div class="append-icon">
                                                            <input id="telephone" formControlName="telephone" type="text"
                                                                   class="form-control form-white"
                                                                   placeholder="{{'RSC.EnterTelephoneHere' | translate:lang}}"
                                                                   (blur)="phoneNumberBlur()"
                                                                   (focus)="phoneNumberFocus()"
                                                                   [ngClass]="{'form-error': !validateTelephone() }"
                                                                   tabindex="12">
                                                            <i class="fa fa-phone"></i>
                                                            <div *ngIf="!validateTelephone() && nsdForm.controls.telephone.errors && nsdForm.controls.telephone.errors.required" class="form-error">{{'RSC.Required' | translate:lang}}</div>
                                                            <div *ngIf="!validateTelephone() && nsdForm.controls.telephone.errors && nsdForm.controls.telephone.errors.pattern" class="form-error">{{'RSC.NotValidPhone' | translate:lang}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label class="control-label">{{'RSC.Extension' | translate:lang}}</label>
                                                        <div class="append-icon">
                                                            <input id="extension" formControlName="extension" type="text"
                                                                   class="form-control form-white"
                                                                   placeholder="{{'RSC.EnterExtensionHere' | translate:lang}}"
                                                                   tabindex="12">
                                                            <i class="fa fa-phone"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                        <div *ngIf="nsdForm.get('conditionsChanging').value === false">
                                            <div class="row">
                                                <div class="panel bg-aero">
                                                    <div class="panel-header">
                                                        <h3><i class="fa fa-edit"></i> <strong>{{'RSC.RunwayConditions' | translate:lang}}</strong></h3>
                                                        <div class="control-btn">
                                                            <a href="#" class="panel-toggle"><i class="fa fa-angle-down fg-black"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="panel-content bg-white">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label class="form-label">{{'RSC.Runways' | translate:lang}}</label>
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                                        <select2 [value]="nsdForm.get('runwayId').value"
                                                                                    [data]="runwayComboList"
                                                                                    (valueChanged)="selectedRunwayChanged($event)"
                                                                                    [disabled]="isRunwaySelectorDisabled"
                                                                                    [options]="runwaysOptions"></select2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <div class="form-group">
                                                                    <label class="form-label">{{'RSC.Maintenance' | translate:lang}}</label>
                                                                    <div class="input-group">
                                                                        <label class="switch m-r-20">
                                                                            <input id="maintenance" class="switch-input" type="checkbox"
                                                                                    [checked]="nsdForm.get('maintenance').value === true"
                                                                                    (change)="maintenanceChange()"
                                                                                    [disabled]="nsdForm.get('subjectId').value === '' || nsdForm.get('runwayId').value === '' || nsdForm.get('runwayId').value === '-1'">
                                                                            <span class="switch-label"
                                                                                    attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                                                            <span class="switch-handle"></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div *ngIf="nsdForm.get('maintenance').value === true">
                                                                <div class="col-sm-2">
                                                                    <div class="form-group">
                                                                        <label class="form-label">{{'RSC.GRF' | translate:lang}}</label>
                                                                        <div class="input-group">
                                                                            <label class="switch m-r-20">
                                                                                <input id="grf" class="switch-input" type="checkbox"
                                                                                        [checked]="nsdForm.get('grf').value === true"
                                                                                        (change)="grfChange()"
                                                                                        [disabled]="nsdForm.get('subjectId').value === '' || this.nsdForm.get('runwayId').value === '' || this.nsdForm.get('runwayId').value === '-1'">
                                                                                <span class="switch-label"
                                                                                        attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                                                                <span class="switch-handle"></span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <div class="form-group">
                                                                        <label class="form-label">{{'RSC.ObservationTime' | translate:lang}}</label>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon">
                                                                                <i class="fa fa-calendar-plus-o" *ngIf="isCalendarActive()"
                                                                                   [(dateTimePicker)]="observationDateMoment"
                                                                                   (dateTimePickerChange)="setObservationDate($event)"
                                                                                   (click)="setObservationDate(null)"
                                                                                   [theme]="'gray'"
                                                                                   [hourTime]="'24'"
                                                                                   [mode]="'dropdown'"></i>
                                                                                <i class="fa fa-calendar-plus-o" *ngIf="!isCalendarActive()"></i>
                                                                            </span>
                                                                            <input class="form-control" placeholder="{{'Schedule.Format' | translate:lang}}"
                                                                                   formControlName="observationDate"
                                                                                   [class.form-white]="!isReadOnly"
                                                                                   [ngClass]="{'form-error': !validateObservationDate() }"
                                                                                   (ngModelChange)="onObservationDateInputChange($event)"
                                                                                   datetimeformat>
                                                                            <span *ngIf="observationDateText" class="input-group-addon f-10 bold">{{observationDateText}}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="nsdForm.get('maintenance').value === true">
                                                            <!--cleared width-->
                                                            <div *ngIf="nsdForm.get('runwayId').value && nsdForm.get('runwayId').value !== '-1'">
                                                                <div class="row">
                                                                    <div class="panel bg-blue-light">
                                                                        <div class="panel-header" style="padding-top: 1px; padding-bottom: 1px;">
                                                                            <h3><i class="fa fa-truck"></i> <strong>{{'ClearedWidthComponent.ClearedWidthTitle' | translate:lang}}</strong></h3>
                                                                            <div class="control-btn" style="top: 10px; right:40px">
                                                                                <i class="fa fa-recycle fg-black" (click)="clearClearedWidthValues()"></i>
                                                                            </div>
                                                                            <div class="control-btn" style="top: 6px">
                                                                                <a href="#" class="panel-toggle"><i class="fa fa-angle-down fg-black"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-content bg-white">
                                                                            <rsc-cleared-width [model]="model.clearedWidth" [form]="nsdForm" [isReadOnly]="isReadOnly" ></rsc-cleared-width>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- GRF data entry -->
                                                            <div *ngIf="nsdForm.get('grf').value === true && nsdForm.get('runwayId').value && nsdForm.get('runwayId').value !== '-1'">
                                                                <div class="row">
                                                                    <div class="panel bg-blue-light">
                                                                        <div class="panel-header" style="padding-top: 1px; padding-bottom: 1px;">
                                                                            <h3><i class="fa fa-road"></i> <strong>{{'RSC.Touchdown' | translate:lang}}</strong></h3>
                                                                            <div class="control-btn" style="top: 10px; right:80px">
                                                                                <i class="fa fa-copy fg-black" (click)="populateContaminantValues('Touchdown')"></i>
                                                                            </div>
                                                                            <div class="control-btn" style="top: 10px; right:40px">
                                                                                <i class="fa fa-recycle fg-black" (click)="clearContaminantValues('Touchdown')"></i>
                                                                            </div>
                                                                            <div class="control-btn" style="top: 6px">
                                                                                <a href="#" class="panel-toggle"><i class="fa fa-angle-down fg-black"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-content bg-white">
                                                                            <rsc-contaminants [model]="model.contaminants[0]" [form]="nsdForm" [isReadOnly]="isReadOnly" [isAverage]="false"></rsc-contaminants>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="panel bg-blue-light">
                                                                        <div class="panel-header" style="padding-top: 1px; padding-bottom: 1px;">
                                                                            <h3><i class="fa fa-road"></i> <strong>{{'RSC.Midpoint' | translate:lang}}</strong></h3>
                                                                            <div class="control-btn" style="top: 10px; right:80px">
                                                                                <i class="fa fa-copy fg-black" (click)="populateContaminantValues('Midpoint')"></i>
                                                                            </div>
                                                                            <div class="control-btn" style="top: 10px; right:40px">
                                                                                <i class="fa fa-recycle fg-black" (click)="clearContaminantValues('Midpoint')"></i>
                                                                            </div>
                                                                            <div class="control-btn" style="top: 6px">
                                                                                <a href="#" class="panel-toggle"><i class="fa fa-angle-down fg-black"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-content bg-white">
                                                                            <rsc-contaminants [model]="model.contaminants[1]" [form]="nsdForm" [isReadOnly]="isReadOnly" [isAverage]="false"></rsc-contaminants>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="panel bg-blue-light">
                                                                        <div class="panel-header" style="padding-top: 1px; padding-bottom: 1px;">
                                                                            <h3><i class="fa fa-road"></i> <strong>{{'RSC.Rollout' | translate:lang}}</strong></h3>
                                                                            <div class="control-btn" style="top: 10px; right:40px">
                                                                                <i class="fa fa-recycle fg-black" (click)="clearContaminantValues('Rollout')"></i>
                                                                            </div>
                                                                            <div class="control-btn" style="top: 6px">
                                                                                <a href="#" class="panel-toggle"><i class="fa fa-angle-down fg-black"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-content bg-white">
                                                                            <rsc-contaminants [model]="model.contaminants[2]" [form]="nsdForm" [isReadOnly]="isReadOnly" [isAverage]="false"></rsc-contaminants>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- NON GRF data entry (Average) -->
                                                            <div *ngIf="nsdForm.get('grf').value !== true && nsdForm.get('runwayId').value && nsdForm.get('runwayId').value !== '-1'">
                                                                <div class="row">
                                                                    <div class="panel bg-blue-light">
                                                                        <div class="panel-header" style="padding-top: 1px; padding-bottom: 1px;">
                                                                            <h3><i class="fa fa-road"></i> <strong>{{'RSC.Average' | translate:lang}}</strong></h3>
                                                                            <div class="control-btn" style="top: 10px; right:40px">
                                                                                <i class="fa fa-recycle fg-black" (click)="clearContaminantValues('Average')"></i>
                                                                            </div>
                                                                            <div class="control-btn" style="top: 6px">
                                                                                <a href="#" class="panel-toggle"><i class="fa fa-angle-down fg-black"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-content bg-white">
                                                                            <rsc-contaminants [model]="model.contaminants[0]" [form]="nsdForm" [isReadOnly]="isReadOnly" [isAverage]="true"></rsc-contaminants>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!--rwy friction component -->
                                                            <div *ngIf="nsdForm.get('runwayId').value && nsdForm.get('runwayId').value !== '-1'">
                                                                <div class="row">
                                                                    <div class="panel bg-blue-light">
                                                                        <div class="panel-header" style="padding-top: 1px; padding-bottom: 1px;">
                                                                            <h3><i class="fa fa-truck"></i> <strong>{{'RwyFrictionComponent.RwyFrictionComponentTitle' | translate:lang}}</strong></h3>
                                                                            <div class="control-btn" style="top: 10px; right:40px">
                                                                                <i class="fa fa-recycle fg-black" (click)="clearAverageRunwayCRFIValues()"></i>
                                                                            </div>
                                                                            <div class="control-btn" style="top: 6px">
                                                                                <a href="#" class="panel-toggle"><i class="fa fa-angle-down fg-black"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-content bg-white">
                                                                            <rsc-rwyfriction [model]="model.rwyFriction" [form]="nsdForm" [isReadOnly]="isReadOnly" [isAverage]="nsdForm.get('grf').value !== true"></rsc-rwyfriction>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!--runway remaining width remarks-->
                                                            <div *ngIf="nsdForm.get('runwayId').value && nsdForm.get('runwayId').value !== '-1'">
                                                                <div class="row">
                                                                    <div class="panel bg-blue-light">
                                                                        <div class="panel-header" style="padding-top: 1px; padding-bottom: 1px;">
                                                                            <h3><i class="fa fa-file-text-o"></i> <strong>{{'RSC.RemainingWidthRemarksTitle' | translate:lang}}</strong></h3>
                                                                            <div class="control-btn" style="top: 10px; right:40px">
                                                                                <i class="fa fa-recycle fg-black" (click)="clearRemainingWidthRemarksValues()"></i>
                                                                            </div>
                                                                            <div class="control-btn" style="top: 6px">
                                                                                <a href="#" class="panel-toggle"><i class="fa fa-angle-down fg-black"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-content bg-white">
                                                                            <rsc-remaining-width-remarks [model]="model.remainingWidthRemarks" [form]="nsdForm" [isReadOnly]="isReadOnly"></rsc-remaining-width-remarks>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!--clearing operations-->
                                                            <div *ngIf="nsdForm.get('runwayId').value && nsdForm.get('runwayId').value !== '-1'">
                                                                <div class="row">
                                                                    <div class="panel bg-blue-light">
                                                                        <div class="panel-header" style="padding-top: 1px; padding-bottom: 1px;">
                                                                            <h3><i class="fa fa-hourglass-half"></i> <strong>{{'ClearingOperationsComponent.ClearingOperationsTitle' | translate:lang}}</strong></h3>
                                                                            <div class="control-btn" style="top: 10px; right:40px">
                                                                                <i class="fa fa-recycle fg-black" (click)="clearClearingOperationsValues()"></i>
                                                                            </div>
                                                                            <div class="control-btn" style="top: 6px">
                                                                                <a href="#" class="panel-toggle"><i class="fa fa-angle-down fg-black"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-content bg-white">
                                                                            <rsc-clearing-operations [model]="model.clearingOperations" [form]="nsdForm" [isReadOnly]="isReadOnly"></rsc-clearing-operations>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Here will be the component dealing with SnowBanks -->
                                                            <div *ngIf="nsdForm.get('runwayId').value && nsdForm.get('runwayId').value !== '-1'">
                                                                <div class="row">
                                                                    <div class="panel bg-blue-light">
                                                                        <div class="panel-header" style="padding-top: 1px; padding-bottom: 1px;">
                                                                            <h3><i class="fa fa-snowflake-o"></i> <strong>{{'SnowBanksComponent.SnowBanksComponentTitle' | translate:lang}}</strong></h3>
                                                                            <div class="control-btn" style="top: 10px; right:40px">
                                                                                <i class="fa fa-recycle fg-black" (click)="clearSnowbanksValues()"></i>
                                                                            </div>
                                                                            <div class="control-btn" style="top: 6px">
                                                                                <a href="#" class="panel-toggle"><i class="fa fa-angle-down fg-black"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-content bg-white">
                                                                            <rsc-snowbanks [model]="model.snowbanks" [form]="nsdForm" [isReadOnly]="isReadOnly"></rsc-snowbanks>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Here will be the component dealing with Treatments -->
                                                            <div *ngIf="nsdForm.get('runwayId').value && nsdForm.get('runwayId').value !== '-1'">
                                                                <div class="row">
                                                                    <div class="panel bg-blue-light">
                                                                        <div class="panel-header" style="padding-top: 1px; padding-bottom: 1px;">
                                                                            <h3><i class="fa fa-flask"></i> <strong>{{'TreatmentsComponents.TreatmentsComponentsTitle' | translate:lang}}</strong></h3>
                                                                            <div class="control-btn" style="top: 10px; right:40px">
                                                                                <i class="fa fa-recycle fg-black" (click)="clearTreatmentsValues()"></i>
                                                                            </div>
                                                                            <div class="control-btn" style="top: 6px">
                                                                                <a href="#" class="panel-toggle"><i class="fa fa-angle-down fg-black"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-content bg-white">
                                                                            <rsc-treatments [model]="model.treatments" [form]="nsdForm" [isReadOnly]="isReadOnly"></rsc-treatments>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Here will be the component dealing with Windrows and other conditions -->
                                                            <div *ngIf="nsdForm.get('runwayId').value && nsdForm.get('runwayId').value !== '-1'">
                                                                <div class="row">
                                                                    <div class="panel bg-blue-light">
                                                                        <div class="panel-header" style="padding-top: 1px; padding-bottom: 1px;">
                                                                            <h3><i class="fa fa-reorder"></i> <strong>{{'RSC.WindrowsTitle' | translate:lang}}</strong></h3>
                                                                            <div class="control-btn" style="top: 10px; right:40px">
                                                                                <i class="fa fa-recycle fg-black" (click)="clearWindrowsRemarksValues()"></i>
                                                                            </div>
                                                                            <div class="control-btn" style="top: 6px">
                                                                                <a href="#" class="panel-toggle"><i class="fa fa-angle-down fg-black"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-content bg-white">
                                                                            <rsc-windrows [model]="model.windrowsRemarks" [form]="nsdForm" [isReadOnly]="isReadOnly"></rsc-windrows>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- TAXIWAYS REMARKS -->
                                                            <div *ngIf="nsdForm.get('subjectId').value && nsdForm.get('subjectId').value !== ''">
                                                                <div class="row">
                                                                    <div class="panel bg-blue-light">
                                                                        <div class="panel-header" style="padding-top: 1px; padding-bottom: 1px;">
                                                                            <h3><i class="fa fa-sign-out"></i> <strong>{{'RSC.TwyRemarksTitle' | translate:lang}}</strong></h3>
                                                                            <div class="control-btn" style="top: 10px; right:40px">
                                                                                <i class="fa fa-recycle fg-black" (click)="clearTaxiwaysRemarksValues()"></i>
                                                                            </div>
                                                                            <div class="control-btn" style="top: 6px">
                                                                                <a href="#" class="panel-toggle"><i class="fa fa-angle-down fg-black"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-content bg-white">
                                                                            <rsc-taxiways-remarks [model]="model.taxiwaysRemarks" [form]="nsdForm" [isReadOnly]="isReadOnly"></rsc-taxiways-remarks>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <!-- APRON REMARKS -->
                                                            <div *ngIf="nsdForm.get('subjectId').value && nsdForm.get('subjectId').value !== ''">
                                                                <div class="row">
                                                                    <div class="panel bg-blue-light">
                                                                        <div class="panel-header" style="padding-top: 1px; padding-bottom: 1px;">
                                                                            <h3><i class="fa fa-plane"></i> <strong>{{'RSC.ApronRemarksTitle' | translate:lang}}</strong></h3>
                                                                            <div class="control-btn" style="top: 10px; right:40px">
                                                                                <i class="fa fa-recycle fg-black" (click)="clearApronRemarksValues()"></i>
                                                                            </div>
                                                                            <div class="control-btn" style="top: 6px">
                                                                                <a href="#" class="panel-toggle"><i class="fa fa-angle-down fg-black"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-content bg-white">
                                                                            <rsc-apron-remarks [model]="model.apronRemarks" [form]="nsdForm" [isReadOnly]="isReadOnly"></rsc-apron-remarks>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!--NEXT SCHEDULED OBSERVATION-->
                                                            <div *ngIf="nsdForm.get('subjectId').value && nsdForm.get('subjectId').value !== ''">
                                                                <div class="row">
                                                                    <div class="panel bg-blue-light">
                                                                        <div class="panel-header" style="padding-top: 1px; padding-bottom: 1px;">
                                                                            <h3><i class="fa fa-edit"></i> <strong>{{'RSC.GeneralRemarks' | translate:lang}}</strong></h3>
                                                                            <div class="control-btn" style="top: 10px; right:40px">
                                                                                <i class="fa fa-recycle fg-black" (click)="clearNextScheduleObservationValues()"></i>
                                                                            </div>
                                                                            <div class="control-btn" style="top: 6px">
                                                                                <a href="#" class="panel-toggle"><i class="fa fa-angle-down fg-black"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-content bg-white">
                                                                            <rsc-nextobservation [model]="model.nextObservation" [form]="nsdForm" [isReadOnly]="isReadOnly"></rsc-nextobservation>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- End of RSC specific data zone -->
                                                        </div>

                                                        <div class="row">
                                                            <!-- Buttons to Add the runway-->
                                                            <div class="text-center m-t-20 pull-right">
                                                                <button class="btn btn-info m-r-10 m-b-10" type="button" (click)="excludeRunway()" [disabled]="isExcludeButtonDisabled()">
                                                                    <i class="fa fa-arrow-up m-r-10"></i> {{'ActionButtons.BtnExclude' | translate:lang}}
                                                                </button>
                                                                <button class="btn m-r-10 m-b-10" [ngClass]="buttonColor()" type="button" (click)="modifyRunway()" [disabled]="isModifyButtonDisabled()">
                                                                    <i class="fa fa-download m-r-10"></i> {{'ActionButtons.BtnModify' | translate:lang}}
                                                                </button>
                                                                <button class="btn btn-info m-r-10 m-b-10" type="button" (click)="includeRunway()" [disabled]="isIncludeButtonDisabled()">
                                                                    <i class="fa fa-arrow-down m-r-10"></i> {{'ActionButtons.BtnInclude' | translate:lang}}
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="panel bg-aero">
                                                    <div class="panel-header">
                                                        <h3><i class="fa fa-edit"></i> <strong>{{'RSC.RunwaysInReport' | translate:lang}}</strong></h3>
                                                        <div class="control-btn">
                                                            <a href="#" class="panel-toggle"><i class="fa fa-angle-down fg-black"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="panel-content bg-white">
                                                        <div class="row">
                                                            <div class="row" style="width: 100%; height: 31px;">
                                                                <table class="table" role="grid">
                                                                    <thead>
                                                                        <tr role="row">
                                                                            <th tabindex="1" style="width: 15%;">{{'RSC.Designator' | translate:lang}}</th>
                                                                            <th tabindex="2" style="width: 85%;">{{'RSC.Description' | translate:lang}}</th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>

                                                            <div class="row" style="width: 100%; height: 190px; overflow-y: scroll;">
                                                                <table class="table table-hover table-dynamic table-responsive filter-footer dataTable" role="grid">
                                                                    <tbody>
                                                                        <tr role="row" *ngFor="let runway of runwaysSelectedData;"
                                                                            (click)="pickRunway(runway.runwayId)"
                                                                            [ngClass]="rowColor(runway.runwayId)">
                                                                            <td style="width: 15%;" rowspan="1" colspan="1">
                                                                                <label class="form-label">{{runway.designator}}</label>
                                                                            </td>
                                                                            <td style="width: 85%;" rowspan="1" colspan="1">
                                                                                <label class="form-label">{{getRunwayInfoToShow(runway)}}</label>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input id="refreshIcao" formControlName="refreshIcao" type="hidden" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <nsd-buttonbar [model]="model" [isNOF]="isNOF" [isReadOnly]="isReadOnly"></nsd-buttonbar>
    </div>

    <div class="col-xlg-4 col-lg-4 col-visitors">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-header" style="margin-left:12px">
                    <h3>
                        <i class="fa fa-lightbulb-o"></i>
                        <strong>{{'Nsd.LocICAOPanel' | translate:lang}}</strong>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="nav-tabs2">
                        <ul class="nav nav-tabs" id="detailsTab">
                            <li [class.active]="tabActive === 1">
                                <a href="#tab_2" data-toggle="tab" (click)="activateTab('icao-text')">
                                    <i class="fa fa-list-alt"></i>{{'Nsd.ICAOText' | translate:lang}}
                                </a>
                            </li>
                            <li *ngIf="nsdForm.valid" [class.active]="tabActive === 2">
                                <a href="#tab_3" data-toggle="tab" (click)="activateTab('icao-format')">
                                    <i class="fa fa-list-alt"></i>{{'Nsd.ICAOFormat' | translate:lang}}
                                </a>
                            </li>
                            <li *ngIf="!nsdForm.valid" class="disabled" style="margin:0 2px; background-color: white;">
                                <div data-toggle="tab" style="color: #ccc; margin: 6px 10px">
                                    <i class="m-5 fa fa-list-alt"></i>{{'Nsd.ICAOFormat' | translate:lang}}
                                </div>
                            </li>
                            <li [class.active]="tabActive === 0" *ngIf="mapAvailable()">
                                <a href="#tab_1" (click)="activateTab('map')" data-toggle="tab">
                                    <i class="fa fa-map"></i>{{'Nsd.Location' | translate:lang}}
                                </a>
                                <div *ngIf="tabActive === 0">{{ this.validateMap() }}</div>
                            </li>
                            <!--<li *ngIf="!isReadOnly && mapAvailable()" [class.active]="tabActive === 3">
                                <a href="#tab_geotool" (click)="activateTab('geoMap')" data-toggle="tab">
                                    <i class="fa fa-map-marker"></i>{{'GeoRefTool.TabTitle' | translate:lang}}
                                </a>
                                <div *ngIf="tabActive === 3">{{ this.validateGeoMap() }}</div>
                            </li>-->
                            <!--<li *ngIf="isPrevIcaoTabVisible" [class.active]="tabActive === 4">
                                <a href="#tab_5" data-toggle="tab" (click)="activateTab('last-icao-format')">
                                    <i class="fa fa-list-alt"></i>{{'Nsd.PreviousICAOFormat' | translate:lang}}
                                </a>
                            </li>-->

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab_2" [class.active]="tabActive === 1" style="width:100%; height:620px;">
                                <icao [model]="model" [loading]="waitingForGeneratingIcao"></icao>
                            </div>
                            <div class="tab-pane" id="tab_3" [class.active]="tabActive === 2" style="width:100%; height:620px;">
                                <icaoformat [icaoText]="model.icaoText" [loading]="waitingForGeneratingIcao"></icaoformat>
                            </div>
                            <div id="tab_map" class="tab-pane" [class.active]="tabActive === 0"
                                 style="width:100%; height:620px; background: transparent url(/content/images/loading.png) no-repeat center center">
                                <div id="map" style="width:100%; height:620px"></div>
                            </div>
                            <!--<div id="tab_geotool" class="tab-pane" [class.active]="tabActive === 3"
                                 style="width:100%; height:620px; background: transparent url(/content/images/loading.png) no-repeat center center">
                                <nsd-georeftool [model]="model"></nsd-georeftool>
                            </div>-->
                            <!--<div class="tab-pane" id="tab_5" [class.active]="tabActive === 4" style="width:100%; height:620px;">
                                <icaoformat [icaoText]="prevIcaoText" [loading]="loadingPrevIcao"></icaoformat>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-unsave-changes" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'Nsd.UnsavedChanges' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'Nsd.LeavePage' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button id="btn-yes" type="button" class="btn btn-primary" data-dismiss="modal">{{'Switch.Yes' | translate:lang}}</button>
                <button id="btn-no" type="button" class="btn btn-dark" data-dismiss="modal">{{'Switch.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-remove-schedule" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'Common.Warning' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'Nsd.RemoveSchedule' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button id="btn-remove" type="button" class="btn btn-primary" data-dismiss="modal">{{'Switch.Yes' | translate:lang}}</button>
                <button id="btn-keep" type="button" class="btn btn-dark" data-dismiss="modal">{{'Switch.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-reject-reason" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">


        nt
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{'Nsd.RejectedReason' | translate:lang}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.RjcReason' | translate:lang}}</label>
                    <div class="append-icon">
                        <input id="reason" name="reason" type="text" class="form-control  form-white" [(ngModel)]="model.token.rejectionReason" placeholder="{{'Nsd.RejectedReason' | translate:lang}}">
                        <i class="icon-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-reject" type="button" class="btn btn-primary" data-dismiss="modal"
                        (click)="rejectProposal()"
                        [disabled]="model.token.rejectionReason == null || model.token.rejectionReason == ''">
                    {{'Nsd.Reject' | translate:lang}}
                </button>
                <button id="btn-close" type="button" class="btn btn-default" data-dismiss="modal">{{'Nsd.Close' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>



<div style="margin-top:100px">
</div>


