﻿@{
    ViewBag.Title = "Confirmation of your NOTAM Entry System account / Confirmation de votre compte du système de saisie NOTAM.";
    ViewBag.ShowHome = true;
    ViewBag.CopyrightBilingual = true;
}

<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div>
    <p>
        Your account setup for the NOTAM Entry System is now complete
    </p>
    <p>
        To access the system, click @Html.ActionLink("here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
    </p>
    <hr/>
    <p>
        La configuration de votre compte pour le système de saisie NOTAM est maintenant terminée
    </p>
    <p>
        Pour accéder au système, cliquez  @Html.ActionLink("ici", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
    </p>
</div>
	
