﻿@using NAVTAM.ViewModels
@model ConfirmRegistrationViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Welcome to the NES user account setup page / Bienvenue sur la page de configuration du compte utilisateur NES";
    ViewBag.CopyrightBilingual = true;
}
<script>
</script>
<div class="row">
    <!-- centered content -->
    <div class="col-md-12">
        <div class="container">
            <div>
                <div>
                    <h4><strong>Welcome to the NES user account setup page / Bienvenue sur la page de configuration du compte utilisateur NES.</strong></h4>
                    <hr />
                    <p class="f-14">
                        To complete the setup process for your NOTAM Entry System user account, create a password (below).
                    <p />
                    <p class="f-14">
                        Pour terminer le processus de configuration de votre compte utilisateur du système de saisie NOTAM (NES), créez un mot de passe (ci-dessous).
                    </p>
                </div>
                <div class="panel-content home-top-panel">
                    <div class="row">
                        <div class="col-xlg-6 col-lg-6">
                            <div class="row">
                                <div class="col-md-10">
                                    <img src="~/Content/Images/NavCanada.png" class="img-responsive img-rounded center-block">
                                </div>
                            </div>
                        </div>
                        <div class="col-xlg-6 col-lg-6">
                            <div style="padding-left: 25px; padding-right: 25px;">
                                <div class="row">
                                    <div style="float: right;">
                                        <a href="~/UserGuide" target="_blank"><i class="icon-question"></i></a>
                                    </div>
                                </div>
                                @using (Html.BeginForm("ConfirmRegistration", "Account", FormMethod.Post, new { @class = "x-form-signin", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                <h3 style="margin-top: 10px;">Create Your Password / Créez votre mot de passe</h3>
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="append-icon m-b-10">
                                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control form-white username", @placeholder = "Username / Nom d'utilisateur" })
                                        <i class="icon-user"></i>
                                    </div>
                                    <div class="append-icon m-b-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-white password", @placeholder = "Password / Mot de passe" })
                                        <i class="icon-lock"></i>
                                    </div>
                                    <div class="append-icon m-b-10">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-white password", @placeholder = "Confirm Password / Confirmez le mot de passe" })
                                        <i class="icon-lock"></i>
                                    </div>

                                    <div class="m-b-20">
                                        <button type="submit" id="submit-form-submit" class="btn btn-blue home-button pull-right" data-style="expand-left">Ok</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-t-20 m-b-40">
                <div class="col-md-6">
                    <h4 class="f-14">The password must conform to the following rules:</h4>
                    <ul class="f-12">
                        <li>Must have 8 to 20 characters</li>
                        <li>Contain at least one capital letter, and one lower case letter</li>
                        <li>Include at least one digit</li>
                        <li>Contain at least one special character</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4 class="f-14">Le mot de passe doit être conforme aux règles suivantes:</h4>
                    <ul class="f-12">
                        <li>Doit comporter entre 8 et 20 caractères</li>
                        <li>Contenir au moins une lettre majuscule et une lettre minuscule</li>
                        <li>Inclure au moins un chiffre</li>
                        <li>Contenir au moins un de ces caractères spéciaux</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
