﻿@{
    ViewBag.Title = "Confirmation of your NOTAM Entry System account. / Confirmation de votre compte du système de saisie NOTAM.";
    ViewBag.ShowHome = true;
    ViewBag.CopyrightBilingual = true;
}

<h3><strong>@ViewBag.Title</strong></h3>
<div class="m-b-40 m-t-20">
    <p class="f-14">
        Your account setup for the <strong>NOTAM Entry System</strong> is now complete. To access the system, click @Html.ActionLink("here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
    </p>
    <p class="f-14">
        La configuration de votre compte pour le <strong>système de saisie NOTAM</strong> est maintenant terminée. Pour accéder au système, cliq  @Html.ActionLink("ici", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
        </P>
</div>
	
