﻿@{
    ViewBag.Title = "Forgot Password Confirmation / Confirmation de mot de passe oublié";
    ViewBag.ShowHome = true;
    ViewBag.CopyrightBilingual = true;
}

<h3><strong>@ViewBag.Title</strong></h3>
<div class="m-b-40 m-t-20">
    <p class="f-14">
        Check your email for a message from NES@navcanada.ca. To reset your password, open the email and click the link.
    </p>
    <p class="f-14">
        Consultez votre courriel pour un message de NES@navcanada.ca. Pour réinitialiser votre mot de passe, ouvrez l'email et cliquez sur le lien.
    </p>
</div>

