﻿@using NAVTAM.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = Resources.LoginPageTitle;
}

<div class="row">
    <!-- centered content -->
    <div class="col-md-12">
        <div class="container">
            <div class="panel">
                <div class="panel-content home-top-panel">
                    <div class="row">
                        <div class="col-xlg-6 col-lg-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="~/Content/Images/NavCanada.png" class="img-responsive img-rounded center-block">
                                </div>
                            </div>
                        </div>
                        <div class="col-xlg-6 col-lg-6">
                            <div style="padding-left: 25px; padding-right: 25px;">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "x-form-signin", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <h3 style="margin-top: 10px;"><strong>Log in</strong> to your account</h3>
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="append-icon">
                                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control form-white username", @placeholder = "Username" })
                                        <i class="icon-user"></i>
                                    </div>
                                    <div class="append-icon m-b-20">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-white password", @placeholder = "Password" })
                                        <i class="icon-lock"></i>
                                    </div>
                                    <div class="terms option-group">
                                        <div class="icheckbox_square-blue" style="position: relative;">
                                            @Html.CheckBoxFor(m => m.RememberMe, new { style = "position: absolute; opacity: 0;", data_checkbox = "icheckbox_square-blue" })
                                            <ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins>
                                        </div>
                                        <label class="m-t-10" for="terms">
                                            Remember me
                                        </label>
                                    </div>
                                    <div class="append-icon m-b-20"></div>
                                    <button type="submit" id="submit-form" class="btn btn-lg btn-blue pull-right" data-style="expand-left">Login</button>
                                    <span class="forgot-password">@Html.ActionLink("Forgot password?", "ForgotPassword")</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
}