﻿@using NAVTAM.ViewModels
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.LoginPageTitle;
    var isRuningOnProduction = System.Configuration.ConfigurationManager.AppSettings["ProductionEnviroment"] ?? "1";
}
<script>
    function registerButtonClick() {
        location.href = "@Url.Content("~")Account/Register";
    }
</script>
<div class="row">
    <!-- centered content -->
    <div class="col-md-12">
        <div class="container">
            <div class="panel">
                @if (isRuningOnProduction != "1")
                {
                    <div class="non-production-bar">
                        <label style="margin-left:5px; margin-top:2px; margin-bottom:2px"><i class="fa fa-arrow-circle-o-right"></i>&nbsp;&nbsp; TEST ENVIROMENT</label>
                    </div>
                }
                <div class="panel-content home-top-panel">
                    <div class="row">
                        <div class="col-xlg-6 col-lg-6">
                            <div class="row">
                                <div class="col-md-10">
                                    <img src="~/Content/Images/NavCanada.png" class="img-responsive img-rounded center-block">
                                </div>
                            </div>
                        </div>
                        <div class="col-xlg-6 col-lg-6">
                            <div style="padding-left: 25px; padding-right: 25px;">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "x-form-signin", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <h3 style="margin-top: 10px;">@Html.Raw(Resources.LoginHeader)</h3>
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="append-icon m-b-10">
                                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control form-white username", @placeholder = @Resources.Username })
                                        <i class="icon-user"></i>
                                    </div>
                                    <div class="append-icon m-b-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-white password", @placeholder = @Resources.Password })
                                        <i class="icon-lock"></i>
                                    </div>

                                    <div class="row">
                                        <div class="terms option-group m-b-10">
                                            @if (ViewBag.DisasterRecoveryMode)
                                            {
                                                <span class="forgot-password pull-left">@Html.ActionLink(Resources.ResetPassword, "ResetPassword")</span>
                                            }
                                            else
                                            {
                                                <span class="forgot-password pull-left">@Html.ActionLink(Resources.ForgotPaswordQuestion, "ForgotPassword")</span>
                                            }
                                        </div>
                                        <div class="m-b-20">
                                            @if (ViewBag.DisasterRecoveryMode)
                                            {
                                                <button type="button" class="btn btn-blue home-button pull-right" data-style="expand-left" onclick="@("window.location.href='" + @Url.Action("ConfirmRegistration", "Account") + "'");">@Resources.ActivateAccount</button>
                                            }
                                            <button type="submit" id="submit-form-submit" class="btn btn-blue home-button pull-right" data-style="expand-left">@Resources.LoginButtonLabel</button>
                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- center container -->
        @*<div class="container">
                <div class="panel">
                    <div class="panel-content home-mid-panel">
                        <div class="row">
                            <div class="text-center">
                                <h2 style="margin-top: 0px">@Resources.HowItWorks</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div style="padding: 10px">
                                        <img class="center-block" src="~/Content/images/create_notams_icon.png" />
                                        <div class="text-center">
                                            <h4>@Resources.CreateNOTAMs</h4>
                                        </div>
                                        <div class="text-center">
                                            @Resources.CreateNOTAMDescription
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div style="padding: 10px">
                                        <img class="center-block" src="~/Content/images/review_notam_icon.png" />
                                        <div class="text-center">
                                            <h4>@Resources.ReviewNOTAMs</h4>
                                        </div>
                                        <div class="text-center">
                                            @Resources.ReviewNOTAMDescription
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div style="padding: 10px">
                                        <img class="center-block" src="~/Content/images/run_reports_icon.png" />
                                        <div class="text-center">
                                            <h4>@Resources.RunReports</h4>
                                        </div>
                                        <div class="text-center">
                                            @Resources.RunResportsDescription
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</div>


@section Scripts {
}