﻿@{
    ViewBag.Title = "Password Reset Confirmation / Confirmation de réinitialisation du mot de passe";
    ViewBag.ShowHome = true;
    ViewBag.CopyrightBilingual = true;
}

<h3><strong>@ViewBag.Title</strong></h3>
<div class="m-b-40 m-t-20">
    <p class="f-14">
        Your password has been reset. To log in to the NOTAM Entry System, @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
    </p>
    <p class="f-14">
        Votre mot de passe a été réinitialisé. Pour vous connecter au système de saisie NOTAM, @Html.ActionLink("cliquez ici", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
        </p>
</div>
