﻿@{
    ViewBag.Title = "Email confirmation / Email Confirmation-Fr";
    Layout = "~/Views/Shared/_LayoutPublicUser.cshtml";
}

<link href="~/Content/Font-Awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet"/>

<style>
    .alert .glyphicon{
        float:left;
        margin-right:9px;
    }

    .alert div{
        overflow:hidden;
    }
    .vcenter {
        display: inline-block;
        padding: 25px;
        height:75px;
    }
</style>

<div style="margin-left: 30px; margin-right:30px">
    @if (ViewBag.ConfirmationStatus == "Unconfirmed")
    {
        <div class="row" style="margin-top:20px;">
            <h1>
                <b>You haven't been authorized to use this application!</b>
            </h1>
        </div>
        <div class="row">
            <div class="alert alert-danger vcenter">
                <div class="glyphicon glyphicon-warning-sign"></div>
                <strong>Not authorized yet! </strong>You will hear from us soon. Please wait for another email informing that the resistration is completed.
            </div>
        </div>
        <div class="row">
            <hr class="divider" />
        </div>
        <div class="row">
            <h1>
                <b>You haven't been authorized use this application (FR)!</b>
            </h1>
        </div>
    <div class="row">
        <div class="alert alert-danger vcenter">
            <div class="glyphicon glyphicon-warning-sign"></div>
            <strong>Not authorized yet (FR)!</strong>You will hear from us soon. Please wait for another email informing that the resistration is completed. (FR)
        </div>
    </div>
    }
    else
    {
        if (ViewBag.ConfirmationStatus == "Succeeded")
        {
            <div class="row">
                <h1>
                    <b>Thank You.</b>
                </h1>
            </div>
            <div class="row">
                <h4>Your email has been <code>confirmed</code>. A request has been sent to our customer service representative to complete the registration process.</h4>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="alert alert-warning vcenter" >
                    <div class="glyphicon glyphicon-exclamation-sign"></div>
                    <strong>Note! </strong>You will hear from us soon. Another email will be sent to you when the resistration is completed.
                </div>
            </div>
            <div class="row">
                <hr class="divider"/>
            </div>
            <div class="row">
                <h1>
                    <b>Je Vous Remercie.</b>
                </h1>
            </div>
            <div class="row">
                <h4>Your email has been <code>confirmed</code> (FR). A request has been sent to our customer service representative to complete the registration process. You will hear from us soon.</h4>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="alert alert-warning vcenter">
                    <div class="glyphicon glyphicon-exclamation-sign"></div>
                    <strong>Remarque! </strong>You will hear from us soon. Another email will be sent to you when the resistration is completed (FR).
                </div>
            </div>
        }
        else //"Failed"
        {
            <div class="row">
                <h1>
                    <b>Confirmation Error!</b>
                </h1>
            </div>
            <div class="row">
                <div class="alert alert-danger vcenter">
                    <div class="glyphicon glyphicon-exclamation-sign"></div>
                    <strong>Error! </strong>We couldn't validate your email. Please contact support or try to register again.
                </div>
            </div>
            <div class="row">
                <hr class="divider" />
            </div>
            <div class="row">
                <h1>
                    <b>Confirmation Error! (FR)</b>
                </h1>
            </div>
            <div class="row">
                <div class="alert alert-danger vcenter">
                    <div class="glyphicon glyphicon-exclamation-sign"></div>
                    <strong>Error! </strong>We couldn't validate your email. Please contact support or try to register again. (FR)
                </div>
            </div>
        }
    }
</div>

