﻿@using Westwind.Globalization;
@using Recaptcha;

@model NavCanada.Applications.NotamWiz.Web.Models.Register
@{
    ViewBag.Title = @DbRes.T("Register", "Register");
}

@section styles {
    <link href="@Url.Content("~/Content/Views/RegisterForm.css")" rel="stylesheet" type="text/css"/>
}

<script src='https://www.google.com/recaptcha/api.js'></script>

<div id="registerForm" class="middle-center">
    <div class="form-center" style="position: relative; top: -30px;">
        @ViewBag.errMessage

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <fieldset>
                <legend>@DbRes.T("Registration Form", "Register")</legend>
                <p class="required" id="required">* Required</p>
                <fieldset class="user">
                    <legend>@DbRes.T("User Information", "Register")</legend>
                    <table>
                        <tr>
                            <td><label for="UserName" class="k-label">@DbRes.T("User name *", "Register")</label></td>
                            <td>@Html.TextBoxFor(m => m.UserName, new {@class = "k-textbox k-valid", @style = "width: 450px", @required = "required", data_available = "data-available"})</td>
                        </tr>
                        <tr>
                            <td><label for="FirstName" class="k-label">@DbRes.T("First name *", "Register")</label></td>
                            <td>@Html.TextBoxFor(m => m.FirstName, new {@class = "k-textbox k-valid", @style = "width: 450px", @required = "required"})</td>
                        </tr>
                        <tr>
                            <td><label for="LastName" class="k-label">@DbRes.T("Last name *", "Register")</label></td>
                            <td>@Html.TextBoxFor(m => m.LastName, new {@class = "k-textbox k-valid", @style = "width: 450px", @required = "required"})</td>
                        </tr>
                        <tr>
                            <td><label for="Position" class="k-label">@DbRes.T("Title/Position *", "Register")</label></td>
                            <td>@Html.TextBoxFor(m => m.Position, new {@class = "k-textbox k-valid", @style = "width: 450px", @required = "required"})</td>
                        </tr>
                        <tr>
                            <td><label for="EmailAddress" class="k-label">@DbRes.T("Email address *", "Register")</label></td>
                            <td>@Html.TextBoxFor(m => m.EmailAddress, new {@class = "k-textbox k-valid", @style = "width: 450px", @type = "email", @required = "required"})</td>
                        </tr>
                        <tr>
                            <td><label for="Telephone" class="k-label">@DbRes.T("Telephone *", "Register")</label></td>
                            <td>@Html.TextBoxFor(m => m.Telephone, new {@class = "k-textbox k-valid", @style = "width: 450px", @required = "required"})</td>
                        </tr>
                        <tr>
                            <td><label for="Fax" class="k-label">@DbRes.T("Fax number", "Register")</label></td>
                            <td> @Html.TextBoxFor(m => m.Fax, new {@class = "k-textbox k-valid", @style = "width: 450px"})</td>
                        </tr>
                        <tr>
                            <td><label for="Address" class="k-label">@DbRes.T("Address (if different from Organization)", "Register")</label></td>
                            <td>@Html.TextBoxFor(m => m.Address, new {@class = "k-textbox k-valid", @style = "width: 450px"})</td>
                        </tr>
                        <tr>
                            <td><label for="Password" class="k-label">@DbRes.T("Password *", "Register")</label></td>
                            <td>@Html.PasswordFor(m => m.Password, new {@class = "k-textbox k-valid", @style = "width: 450px", @required = "required"})</td>
                        </tr>
                        <tr>
                            <td><label for="ConfirmPassword" class="k-label">@DbRes.T("Confirm password *", "Register")</label></td>
                            <td>@Html.PasswordFor(m => m.ConfirmPassword, new {@class = "k-textbox k-valid", @style = "width: 450px", @required = "required"})</td>
                        </tr>
                        <tr>
                            <td><label for="Reason" class="k-label">@DbRes.T("Why you need access to the application", "Register")</label></td>
                            <td>@Html.TextBoxFor(m => m.Reason, new {@class = "k-textbox k-valid", @style = "width: 450px"})</td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset class="organization">
                    <legend>Organization Information</legend>
                    <table>
                        <tr>
                            <td><label for="OrgName" class="k-label">@DbRes.T("Name of Organization *", "Register")</label></td>
                            <td>@Html.TextBoxFor(m => m.OrgName, new {@class = "k-textbox k-valid", @style = "width: 450px", @required = "required"})</td>
                        </tr>
                        <tr>
                            <td><label for="OrgAddress" class="k-label">@DbRes.T("Address of Organization *", "Register")</label></td>
                            <td>@Html.TextBoxFor(m => m.OrgAddress, new {@class = "k-textbox k-valid", @style = "width: 450px", @required = "required"})</td>
                        </tr>
                        <tr>
                            <td><label for="OrgEmailAddress" class="k-label">@DbRes.T("Email of Organization *", "Register")</label></td>
                            <td> @Html.TextBoxFor(m => m.OrgEmailAddress, new {@class = "k-textbox k-valid", @style = "width: 450px", @type = "email", @required = "required"})</td>
                        </tr>
                        <tr>
                            <td><label for="OrgTelephone" class="k-label">@DbRes.T("Telephone number of Organization *", "Register")</label></td>
                            <td>@Html.TextBoxFor(m => m.OrgTelephone, new {@class = "k-textbox k-valid", @style = "width: 450px", @type = "telephone", @required = "required"})</td>
                        </tr>
                        <tr>
                            <td><label for="TypeOfOperation" class="k-label">@DbRes.T("Type of Operation *", "Register")</label></td>
                            <td>@Html.TextBoxFor(m => m.TypeOfOperation, new {@class = "k-textbox k-valid", @style = "width: 450px", @required = "required"})</td>
                        </tr>
                        <tr>
                            <td><label for="HeadOffice" class="k-label">@DbRes.T("Head office information (if different from above)", "Register")</label></td>
                            <td> @Html.TextBoxFor(m => m.HeadOffice, new {@class = "k-textbox k-valid", @style = "width: 450px"})</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.TextArea("Termandcondition", (string) ViewBag.DigitalSla, new {@id = "txtcondition"})
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.CheckBox("Condition", false, new {@id = "chkcondition", @required = "required"})
                                @Html.Label(DbRes.T("Terms and conditions *", "Manage"))
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="width:300px">
                                <div class="g-recaptcha" data-theme="light" data-sitekey="@ViewBag.RecaptchaKey"
                                     style="width:400px"></div>                                
                            </td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td></td>
                            <td>
                                <fieldset class="submit">
                                    <table>
                                        <tr>
                                            <td>
                                                <input id="CancelButton" type="reset" value='@DbRes.T("Cancel", "Register")' class="k-button" style="width: 150px"/></td>
                                            <td>
                                                <input id="RegisterButton" type="submit" value='@DbRes.T("Register", "Register")' class="k-button" style="width: 150px"/>
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </fieldset>
        }
    </div>
</div>
<script>
    @section Scripts{
    require(["admin/Controllers/RegisterUser/Register"], function (register) {
            var labels = {
                passwordsMustMatch: '@DbRes.T("Password and Confirm Password need to match", "Register")',
                invalidEmail: '@DbRes.T("That does not appear to be a valid email address", "Register")',
                invalidPassword: '@DbRes.T("Password must be at least 8 characters long including a combination of lower, upper, digit and special characters", "Register")',
                invalidPhoneNumber: '@DbRes.T("Phone number is not completed", "Register")',
                invalidFaxNumber: '@DbRes.T("Phone number is not completed", "Register")',
                userNameRequired: '@DbRes.T("First name is required!", "Register")',
                firstNameRequired: '@DbRes.T("First name is required!", "Register")',
                lastNameRequired: '@DbRes.T("First name is required!", "Register")',
                positionRequired: '@DbRes.T("Position is required!", "Register")',
                emailRequired: '@DbRes.T("Email is required!", "Register")',
                telephoneRequired: '@DbRes.T("Telephone is required!", "Register")',
                passwordRequired: '@DbRes.T("Password is required!", "Register")',
                mustConfirmPassword: '@DbRes.T("You must confirm your password!", "Register")',
                orgNameRequired: '@DbRes.T("Organization name is required!", "Register")',
                orgAddressRequired: '@DbRes.T("Organization address is required!", "Register")',
                orgEmailRequired: '@DbRes.T("Organization email is required!", "Register")',
                orgTelephoneRequired: '@DbRes.T("Organization telephone is required!", "Register")',
                orgTypeRequired: '@DbRes.T("Organization type is required!", "Register")',
                mustCheckTerms: '@DbRes.T("Must check terms and conditions!", "Register")',
            };
            register.init(labels);
        })
    }
</script>
