﻿@using Westwind.Globalization;
@model NavCanada.Applications.NotamWiz.Web.Models.ResetPasswordModel

@section styles {
    <link href="@Url.Content("~/Content/Views/Form.css")" rel="stylesheet" type="text/css" />
}

<div class="middle-center">
    <div class="form-center">
        <h2>Reset Password Form</h2>
        @if (Model.PasswordHasExpired)
        {
            <h3>
                Your password has expired. In order to get access to NOTAMWIz you must change your password. 
            </h3>
        }

        <div id="loginForm">
            @using (Html.BeginForm())
            {
                //@Html.ValidationSummary(false)
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>Reset Password Form</legend>
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.Password)
                        </li>
                        <li>
                            @Html.PasswordFor(m => m.Password, new { id = "txtUserName", @class = "userName" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </li>
                        <li>
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </li>
                        <li>
                            @Html.PasswordFor(m => m.ConfirmPassword, new {id = "txtEmailAddress", @class = "userName"})
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </li>
                        @Html.ValidationMessage("InvalidResetPasswordRequest")
                    </ol>
                    <input id="resetPasswordButton" type="submit" value="Submit" class="k-button"/>
                </fieldset>
                @Html.HiddenFor(m => m.ConfirmationToken)
            }
        </div>
    </div>
</div>
