﻿@using Westwind.Globalization;
@model NavCanada.Core.Domain.Model.Entitities.DigitalSla

@section styles {
    <link href="@Url.Content("~/Content/Views/Form.css")" rel="stylesheet" type="text/css" />
}

<div style="margin: 10px 50px;">
    <link href="~/Content/Views/NSDEditor/TimeSchedule.css" rel="stylesheet" />
    <div id="DigitalSLAcontainer" style="height: 98%; overflow: auto;">
        <h1>service-level agreement</h1>
        <p>
            @Html.TextAreaFor(model => model.Content, 10, 100, new
            {
                style = "width:98%; padding:10px"
            })
        </p>
        <div>
            @using (@Html.BeginForm("SlaClientResponse", "Account", FormMethod.Post, new { @id = "sla-form" }))
            {
                <p class="_k-group _k-popup ob-group" id="blog">
                    <label>
                        Accept:&nbsp;<input type="checkbox" name="chk-accepted"/>
                    </label>
                </p>
                <button type="submit" name="SubmitButton" class="k-button landingPageButton" style="width: 150px">Submit</button>
            }            
        </div>
    </div>
</div>
<script>

@section scripts
{
}
</script>
