﻿<div>
    <div class="row" [formGroup]="frmGroup">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="form-label">{{'TreatmentsComponents.Sand' | translate:lang}}</label>
                    <div class="input-group">
                        <label class="switch m-r-20">
                            <input id="sandTreated" class="switch-input" type="checkbox"
                                   [checked]="frmGroup.get('sandTreated').value === true"
                                   (change)="sandTreatedChangingClick()"
                                   [disabled]="isReadOnly">
                            <span class="switch-label"
                                  attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="form-label">{{'TreatmentsComponents.TimeApplied' | translate:lang}} (UTC):</label>
                    <div class="input-group">
                        <input id="sandTimeApplied" formControlName="sandTimeApplied"
                               class="form-control" (keypress)="validateKeyPressHours($event,'sandTimeApplied')"
                               [class.form-white]="isSandTimeAppliedEnabled()" type="text" placeholder="HHMM" maxlength="4" size="5"
                               (change)="setSandTimeApplied()">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="form-label">{{'TreatmentsComponents.ChemicallyTreated' | translate:lang}}</label>
                    <div class="input-group">
                        <label class="switch m-r-20">
                            <input id="chemicallyTreated" class="switch-input" type="checkbox"
                                   [checked]="frmGroup.get('chemicallyTreated').value === true"
                                   (change)="chemicallyTreatedChangingClick()"
                                   [disabled]="isReadOnly">
                            <span class="switch-label"
                                  attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="form-label">{{'TreatmentsComponents.TimeApplied' | translate:lang}} (UTC):</label>
                    <div class="input-group">
                        <input id="chemicalTimeApplied" formControlName="chemicalTimeApplied"
                               class="form-control" (keypress)="validateKeyPressHours($event,'chemicalTimeApplied')"
                               [class.form-white]="isChemicalTimeAppliedEnabled()" type="text" placeholder="HHMM" maxlength="4" size="5"
                               (change)="setChemicalTimeApplied()">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="append-icon">
                        <textarea cols="20" rows="5" formControlName="remarks"
                                  class="form-control itemEFont" placeholder="{{'RSC.TextPlaceHolder' | translate:lang}}"
                                  [class.form-white]="!isReadOnly"
                                  style="text-transform:uppercase; resize:vertical"></textarea>
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>