﻿<div>
    <div class="row" [formGroup]="frmGroup">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <div class="icheck-inline m-t-5">
                        <label>
                            <iRadio [isChecked]="clearedType === 0" (change)="clearedTypeChanged(0)">{{'ClearedWidthComponent.FULL' | translate:lang}}</iRadio>
                        </label>
                        <label>
                            <iRadio [isChecked]="clearedType === 1" (change)="clearedTypeChanged(1)">{{'ClearedWidthComponent.CENTRED' | translate:lang}}</iRadio>
                        </label>
                        <label>
                            <iRadio [isChecked]="clearedType === 2" (change)="clearedTypeChanged(2)">{{'ClearedWidthComponent.OFFSET' | translate:lang}}</iRadio>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-8" *ngIf="clearedType === 1">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon horizontal-label"><strong>{{'ClearedWidthComponent.Width' | translate:lang}}:</strong></span>
                            <input formControlName="centredClearedWidth" style="text-transform:uppercase; font-size: 10px !important"
                                   [class.form-white]="!isReadOnly"
                                   class="form-control" type="number">
                            <span class="input-group-addon horizontal-label"><strong>{{'ClearedWidthComponent.Feet' | translate:lang}}</strong></span>
                            <div *ngIf="!validaClearedWidth()" class="form-error">{{'ClearedWidthComponent.ErrorRunwayWidth' | translate:lang}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="clearedType === 2">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div formGroupName="grpFirstOffset">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input formControlName="offsetFT" style="text-transform:uppercase; font-size: 10px !important"
                                           [class.form-white]="!isReadOnly" (change)="onOffsetFTChange('first')"
                                           class="form-control" type="number">
                                    <span class="input-group-addon horizontal-label">{{'ClearedWidthComponent.FeetOn' | translate:lang}}</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-compass"></i></span>
                                    <select2 [value]="frmGroup.get('grpFirstOffset.offsetSide').value"
                                             [disabled]="isReadOnly"
                                             [data]="cardinalValues"
                                             (valueChanged)="onOffsetSideChanged('first', $event)"
                                             [options]="cardinalOptions"></select2>
                                    <span class="input-group-addon horizontal-label">{{'ClearedWidthComponent.SideTo' | translate:lang}}</span>
                                </div>
                            </div>
                        </div>
                        <div formGroupName="grpSecondOffset">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input formControlName="offsetFT" style="text-transform:uppercase; font-size: 10px !important"
                                           [class.form-white]="!isReadOnly" (change)="onOffsetFTChange('second')"
                                           class="form-control" type="number">
                                    <span class="input-group-addon horizontal-label">{{'ClearedWidthComponent.FeetOn' | translate:lang}}</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-compass"></i></span>
                                    <select2 [value]="frmGroup.get('grpSecondOffset.offsetSide').value"
                                             [disabled]="isReadOnly"
                                             [data]="cardinalValues"
                                             (valueChanged)="onOffsetSideChanged('second', $event)"
                                             [options]="cardinalOptions"></select2>
                                    <span class="input-group-addon horizontal-label">{{'ClearedWidthComponent.Side' | translate:lang}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>