﻿<div>
	<div class="row" [formGroup]="frmGroup">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label class="form-label">{{'RSC.NextScheduledObservation' | translate:lang}}</label>
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-calendar-plus-o" *ngIf="isCalendarActive()"
							   [(dateTimePicker)]="nextScheduledObservationMoment"
							   (dateTimePickerChange)="setNextScheduledObservation($event)"
							   (click)="setNextScheduledObservation(null)"
							   [theme]="'gray'"
							   [hourTime]="'24'"
							   [mode]="'dropdown'"></i>
							<i class="fa fa-calendar-plus-o" *ngIf="!isCalendarActive()"></i>
						</span>
						<input class="form-control" placeholder="{{'Schedule.Format' | translate:lang}}"
							   formControlName="nextScheduledObservation"
							   [class.form-white]="!isReadOnly"
							   [ngClass]="{'form-error': !validateNextScheduledObservation() }"
							   (ngModelChange)="onNextScheduledObservationInputChange($event)"
							   datetimeformat>
						<span *ngIf="nextScheduledObservationText" class="input-group-addon f-10 bold">{{nextScheduledObservationText}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12>">
				<div class="form-group">
					<label class="form-label">{{'RSC.GeneralRemarks' | translate:lang}}</label>
					<div class="append-icon">
						<textarea cols="80" rows="5" formControlName="generalRemarks"
								  class="form-control itemEFont" placeholder="{{'RSC.TextPlaceHolder' | translate:lang}}"
								  [class.form-white]="!isReadOnly"
								  style="text-transform:uppercase; resize:vertical"></textarea>
						<i class="fa fa-pencil-square-o"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
