﻿<div>
    <div class="row" [formGroup]="frmGroup">
        <div class="form-horizontal">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon horizontal-label"><strong>{{'RwyFrictionComponent.Coefficient' | translate:lang}}:</strong></span>
                            <span class="input-group-addon"><i class="fa fa-list-ol"></i></span>
                            <select2 [value]="frmGroup.get('coefficient').value"
                                     [data]="coefficients"
                                     (valueChanged)="onCoefficientChanged($event)"
                                     [options]="coefficientsOptions"></select2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon horizontal-label"><strong>{{'RwyFrictionComponent.Temperature' | translate:lang}}:</strong></span>
                            <span class="input-group-addon"><i class="fa fa-thermometer-empty"></i></span>
                            <input formControlName="temperature" class="form-control" type="number"
                                   (keypress)="validateKeyPressNumberTemperature($event)"
                                   [ngClass]="{'form-error': !validateTempeture() }" [class.form-white]="!isReadOnly">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon horizontal-label"><strong>{{'RwyFrictionComponent.TimeUTC' | translate:lang}}:</strong> </span>
                        <span class="input-group-addon">
                            <i class="fa fa-calendar-plus-o" *ngIf="isCalendarActive()"
                               [(dateTimePicker)]="measureDateMoment"
                               (dateTimePickerChange)="setMeasureDate($event)"
                               (click)="setMeasureDate(null)"
                               [theme]="'gray'"
                               [hourTime]="'24'"
                               [mode]="'dropdown'"></i>
                            <i class="fa fa-calendar-plus-o" *ngIf="!isCalendarActive()"></i>
                        </span>
                        <input class="form-control" placeholder="{{'Schedule.Format' | translate:lang}}"
                               formControlName="measureDate"
                               [class.form-white]="!isReadOnly"
                               [ngClass]="{'form-error': !validateMeasureDate() }"
                               (ngModelChange)="onMeasureDateInputChange($event)"
                               datetimeformat>
                        <span *ngIf="measureDateText" class="input-group-addon f-10 bold">{{measureDateText}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

