﻿<div>
    <div class="row" [formGroup]="frmGroup">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="form-label">{{'ClearingOperationsComponent.ClearingUnderway' | translate:lang }}?</label>
                    <div class="input-group">
                        <label class="switch m-r-20">
                            <input id="clearingUnderway" formControlName="clearingUnderway" class="switch-input" type="checkbox"
                                   [checked]="isClearingUnderway === true"
                                   (change)="clearingUnderwayClick()">
                            <span class="switch-label"
                                  attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div *ngIf="isClearingUnderway">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="form-label">{{'ClearingOperationsComponent.StartAt' | translate:lang}}:</label>
                        <div class="input-group">
                            <input id="clearingOpsStart" formControlName="startAt"
                                   class="form-control" (keypress)="validateKeyPressHours($event,'startAt')"
                                   [class.form-white]="!isReadOnly" type="text" placeholder="HHMM" maxlength="4" size="5"
                                   (change)="setClearingStartBy()">
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="form-label">{{'ClearingOperationsComponent.CompletedBy' | translate:lang}}:</label>
                        <div class="input-group">
                            <input id="clearingOpsCompleted" formControlName="completedBy"
                                   class="form-control" (keypress)="validateKeyPressHours($event,'completedBy')"
                                   [class.form-white]="!isReadOnly" type="text" placeholder="HHMM" maxlength="4" size="5"
                                   (change)="setClearingCompletedBy()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12>">
                <div class="form-group">
                    <div class="append-icon">
                        <textarea cols="80" rows="5" formControlName="remarks"
                                  class="form-control itemEFont" placeholder="{{'RSC.TextPlaceHolder' | translate:lang}}"
                                  [class.form-white]="!isReadOnly"
                                  style="text-transform:uppercase; resize:vertical"></textarea>
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>