﻿<div>
    <div class="row" [formGroup]="frmGroup">
        <div class="row">
            <div class="col-sm-12>">
                <div class="form-group">
                    <div class="append-icon">
                        <textarea cols="80" rows="5" formControlName="windrowsRemarks"
                                  class="form-control itemEFont" placeholder="{{'RSC.TextPlaceHolder' | translate:lang}}"
                                  [class.form-white]="!isReadOnly"
                                  style="text-transform:uppercase; resize:vertical"></textarea>
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

