﻿<div>
    <div class="row" [formGroup]="frmGroup">
        <div class="row">
            <div formGroupName="grpFirstSnowbank">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon horizontal-label">{{'SnowBanksComponent.Height' | translate:lang}}</span>
                            <input formControlName="bankHeightFt" style="text-transform:uppercase; font-size: 10px !important"
                                   [class.form-white]="!isReadOnly" (change)="onBankHeightFtChange('first')"
                                   class="form-control" type="number">
                            <span class="input-group-addon horizontal-label">{{'SnowBanksComponent.Feet' | translate:lang}}</span>
                            <input formControlName="bankHeightInch" style="text-transform:uppercase; font-size: 10px !important"
                                   [class.form-white]="!isReadOnly" (change)="onBankHeightInchChange('first')"
                                   class="form-control" type="number">
                            <span class="input-group-addon horizontal-label">{{'SnowBanksComponent.Inches' | translate:lang}}</span>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon horizontal-label">{{'SnowBanksComponent.Distance' | translate:lang}}</span>
                        <input formControlName="bankEdgeFt" style="text-transform:uppercase; font-size: 10px !important"
                               [class.form-white]="!isReadOnly" (change)="onBankEdgeFtChange('first')"
                               class="form-control" type="number">
                        <span class="input-group-addon horizontal-label">{{'SnowBanksComponent.Feet' | translate:lang}}</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-compass"></i></span>
                        <select2 [value]="frmGroup.get('grpFirstSnowbank.bankSide').value"
                                 [disabled]="isReadOnly"
                                 [data]="cardinalValues"
                                 (valueChanged)="onBankSideChanged('first', $event)"
                                 [options]="cardinalOptions"></select2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div formGroupName="grpSecondSnowbank">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon horizontal-label">{{'SnowBanksComponent.Height' | translate:lang}}</span>
                            <input formControlName="bankHeightFt" style="text-transform:uppercase; font-size: 10px !important"
                                   [class.form-white]="!isReadOnly" (change)="onBankHeightFtChange('first')"
                                   class="form-control" type="number">
                            <span class="input-group-addon horizontal-label">{{'SnowBanksComponent.Feet' | translate:lang}}</span>
                            <input formControlName="bankHeightInch" style="text-transform:uppercase; font-size: 10px !important"
                                   [class.form-white]="!isReadOnly" (change)="onBankHeightInchChange('first')"
                                   class="form-control" type="number">
                            <span class="input-group-addon horizontal-label">{{'SnowBanksComponent.Inches' | translate:lang}}</span>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon horizontal-label">{{'SnowBanksComponent.Distance' | translate:lang}}</span>
                        <input formControlName="bankEdgeFt" style="text-transform:uppercase; font-size: 10px !important"
                               [class.form-white]="!isReadOnly" (change)="onBankEdgeFtChange('first')"
                               class="form-control" type="number">
                        <span class="input-group-addon horizontal-label">{{'SnowBanksComponent.Feet' | translate:lang}}</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-compass"></i></span>
                        <select2 [value]="frmGroup.get('grpSecondSnowbank.bankSide').value"
                                 [disabled]="isReadOnly"
                                 [data]="cardinalValues"
                                 (valueChanged)="onBankSideChanged('first', $event)"
                                 [options]="cardinalOptions"></select2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>