﻿<div class="sidebar" style="background-color:#f2f4f7 !important">
    <div style="background:#fff">
        <div style="margin-top: -30px; height:40px; background-image: url('content/images/logo/NESNavEN1.png'); background-repeat:no-repeat;">&nbsp;</div>
    </div>
    <div class="sidebar-inner">
        <div class="menu-title">
            {{txtNavigationHeader}}
        </div>
        <ul class="nav nav-sidebar">
            <li *ngIf="isSysAdmin() || isCCS()" routerLinkActive="nav-active active"><a routerLink="/administration/doas"><i class="fa fa-globe"></i><span>{{txtDoasManagement}}</span></a></li>
            <li *ngIf="isSysAdmin() || isCCS()" routerLinkActive="nav-active active"><a routerLink="/administration/orgs"><i class="fa fa-building-o"></i><span>{{txtOrgManagment}}</span></a></li>
            <li routerLinkActive="nav-active active"><a routerLink="/administration/users"><i class="icon-user"></i><span>{{txtUserManagment}}</span></a></li>
            <li *ngIf="isSysAdmin() || isNofAdmin()" routerLinkActive="nav-active active"><a routerLink="/administration/icaosubjects"><i class="fa fa-bookmark"></i><span>{{txtIcaoSubCond}}</span></a></li>
            <li *ngIf="isSysAdmin() || isNofAdmin()" routerLinkActive="nav-active active"><a routerLink="/administration/series"><i class="fa fa-download"></i><span>{{txtSeriesManagement}}</span></a></li>
            <li *ngIf="isSysAdmin() || isNofAdmin()" routerLinkActive="nav-active active"><a routerLink="/administration/adc-tab"><i class="fa fa-clipboard"></i><span>{{txtADCManagement}}</span></a></li>
            <li *ngIf="isSysAdmin()" routerLinkActive="nav-active active"><a routerLink="/administration/nsds"><i class="fa fa-stack-exchange"></i><span>{{txtNsdsManagement}}</span></a></li>
            <li *ngIf="isSysAdmin()" routerLinkActive="nav-active active"><a routerLink="/administration/bregion/edit"><i class="icon-speech"></i><span>{{txtBilingualManagement}}</span></a></li>
            <li *ngIf="isSysAdmin()" routerLinkActive="nav-active active"><a routerLink="/administration/nregion/edit"><i class="icon-globe"></i><span>{{txtNorthernManagement}}</span></a></li>
            <li *ngIf="isSysAdmin()" routerLinkActive="nav-active active"><a routerLink="/administration/georegion"><i class="icon-map"></i><span>{{txtGeoRegionManagement}}</span></a></li>
            <li *ngIf="isSysAdmin()" routerLinkActive="nav-active active"><a routerLink="/administration/config"><i class="fa fa-cogs"></i><span>{{txtConfigManagement}}</span></a></li>
            <li *ngIf="isSysAdmin() || isNofAdmin()" routerLinkActive="nav-active active"><a routerLink="/administration/checklist"><i class="fa fa-check-square"></i><span>{{txtCheckList}}</span></a></li>
            <li *ngIf="isSysAdmin() || isNofAdmin()" routerLinkActive="nav-active active"><a routerLink="/administration/subscription"><i class="fa fa-address-card-o"></i><span>{{txtSubscriptionManagement}}</span></a></li>
            <li *ngIf="isSysAdmin()" routerLinkActive="nav-active active"><a routerLink="/administration/aerords"><i class="fa fa-cloud-download"></i><span>{{txtAeroRDSSync}}</span></a></li>
        </ul>
    </div>
</div>
