﻿<!DOCTYPE html>
<html ng-app="app" ng-controller="LayoutCtrl">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{siteName}</title>

    <link href="/content/assests/global/css/lato-font.css" rel="stylesheet" />
    <link href="/content/assests/global/css/open-sans.css" rel="stylesheet" />

    <link href="/content/assests/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/content/assests/global/css/style.css" rel="stylesheet" />
    <link href="/content/assests/global/css/ui.css" rel="stylesheet">
    <link href="/content/assests/global/plugins/bootstrap-loading/lada.min.css" rel="stylesheet">
    <link href="/content/assests/global/css/icons/line-icons/line-icons.css" rel="stylesheet" />
</head>

<body lang="en" class="account separate-inputs">

    <div class='container page-login' ng-cloak>
        <!--<div class="page-header">
            <h1>Login</h1>
        </div>-->
        <!--
        <div class="row" ng-show="model.errorMessage">
            <div class="col-md-12 col-sm-12">
                <div class="alert alert-danger">
                    <strong>Error:</strong>
                    {{model.errorMessage}}
                </div>
            </div>
        </div>
        -->

        <div class="container" id="login-block" ng-show="model.loginUrl">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <div class="account-wall">
                        <i class="user-img icons-faces-users-03"></i>

                        <form name="form" method="post" class="form-signin" action="{{model.loginUrl}}" role="form">
                            <anti-forgery-token token="model.antiForgery"></anti-forgery-token>
                            <div class="append-icon">
                                <input autofocus type="text" name="username" id="username" class="form-control form-white username" placeholder="Username" ng-model="model.username" required>
                                <i class="icon-user"></i>
                            </div>
                            <div class="append-icon m-b-20">
                                <input type="password" id="password" name="password" class="form-control form-white password" placeholder="Password" ng-model="model.password" autocomplete="off" required>
                                <i class="icon-lock"></i>
                            </div>

                            <button type="submit" id="submit-form" ng-disabled="form.$invalid" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left">Sign In</button>

                            <div class="form-group login-remember" ng-show="model.allowRememberMe">
                                <label for="rememberMe">
                                    <input type="checkbox" id="rememberMe" name="rememberMe" ng-model="model.rememberMe" value="true">
                                    <strong>Remember me</strong>
                                </label>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <p class="account-copyright">
                <span>Copyright © 2016 </span><span>NavCanada</span>.<span>All rights reserved.</span>
            </p>
        </div>

        <!-- old form -->
        <!--<div class="row">
            <div class="col-md-6 col-sm-6" ng-show="model.loginUrl">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{siteName}</h3>
                    </div>
                    <div class="panel-body">
                        <form name="form" method="post" action="{{model.loginUrl}}">
                            <anti-forgery-token token="model.antiForgery"></anti-forgery-token>
                            <fieldset>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input required name="username" autofocus id="username" type="text" class="form-control" placeholder="Username" ng-model="model.username" maxlength="100">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input required id="password" name="password" type="password" class="form-control" placeholder="Password" ng-model="model.password" maxlength="100" autocomplete="off">
                                </div>
                                <div class="form-group login-remember" ng-show="model.allowRememberMe">
                                    <label for="rememberMe">
                                        <input type="checkbox" id="rememberMe" name="rememberMe" ng-model="model.rememberMe" value="true">
                                        <strong>Remember My Login</strong>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" ng-disabled="form.$invalid">Login</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <ul class="list-unstyled">
                        <li ng-repeat="link in model.additionalLinks"><a ng-href="{{link.href}}">{{link.text}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 external-providers" ng-show="model.externalProviders">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">External Login</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-inline">
                            <li ng-repeat="provider in model.externalProviders">
                                <a class="btn btn-default" href="{{provider.href}}">{{provider.text}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>-->
    </div>

    <script id='modelJson' type='application/json'>
        {model}
    </script>

    <script src="/content/assests/global/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="/content/assests/global/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="/content/assests/global/plugins/gsap/main-gsap.min.js"></script>
    <script src="/content/assests/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/content/assests/global/plugins/backstretch/backstretch.min.js"></script>
    <script src="/content/assests/global/plugins/bootstrap-loading/lada.min.js"></script>
    <script src="/content/assests/global/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/content/assests/global/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="/content/assests/global/js/pages/login-v1.js"></script>
    <script src="/content/libs/angular/angular.1.2.13.min.js"></script>
    <script src="/content/libs/encoder/encoder.min.js"></script>
    <script src="/content/app/app.js"></script>
</body>
</html>

