﻿@using Westwind.Globalization
@model NavCanada.Applications.NotamWiz.Web.Models.NsdEditorViewModel
<link href="@Url.Content("~/Content/Views/NSDEditor/NSDEditor.css")" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
    <script src="http://demos.telerik.com/kendo-ui/kendo-ui/content/integration/bootstrap-integration/html5shiv.js"></script>
    <script src="http://demos.telerik.com/kendo-ui/kendo-ui/content/integration/bootstrap-integration/respond.min.js"></script>
<![endif]-->
<style scoped>
    #modifiedNOTAMLabel
    {
        font-weight: 900;
    }

    

</style>
<div id="container" style="visibility: hidden">
    <div id="notamProposalForm">
        <div class="float-left full" id="horizontal">
            <div id="left-pane" style="overflow-x: hidden; overflow-y: scroll">
                <div class="pane-content" id="proposalEditor">
                    <ul id="tabStrip">
                        <!-- <span id="reviewTab"><img class="tabStatusIcon" id="reviewSectionIcon" src="~/Images/no.png" />@DbRes.T("Review", "NSDEditor")</span>-->
                        @*<li class="tabpanel">
                            <span id="subjectTab"><img class="tabStatusIcon" id="subjectSectionIcon" src="~/Images/no.png" />@DbRes.T("NOTAMSubject", "NSDEditor")</span>
                            <div id="subjectSelectorContainer" style="height: 100%; position: relative;">

                            </div>
                          
                        </li>*@
                        <li class="tabpanel">
                            <span id="activePeriodTab"><img class="tabStatusIcon" id="datesSectionIcon" src="~/Images/no.png" />@DbRes.T("Active Period", "NSDEditor")</span>
                            <div id="activePeriodContainer" style="height: 100%; position: relative;">
                                <table>
                                    <tr>
                                        <td></td>
                                        <td class="hideOnCancelNOTAM">
                                            <div style="font-size: 9px">
                                                <span style="padding-left: 5px">@DbRes.T("Day", "NSDEditor")</span>
                                                <span style="padding-left: 3px">@DbRes.T("Month", "NSDEditor")</span>
                                                <span style="padding-left: 5px">@DbRes.T("Year", "NSDEditor")</span>
                                                <span style="padding-left: 12px">@DbRes.T("HHMM", "NSDEditor")</span>
                                            </div>
                                        </td>
                                        <td style="width: auto"></td>
                                        <td></td>
                                        <td class="hideOnCancelNOTAM">
                                            <div style="font-size: 9px">
                                                <span style="padding-left: 5px">@DbRes.T("Day", "NSDEditor")</span>
                                                <span style="padding-left: 3px">@DbRes.T("Month", "NSDEditor")</span>
                                                <span style="padding-left: 5px">@DbRes.T("Year", "NSDEditor")</span>
                                                <span style="padding-left: 12px">@DbRes.T("HHMM", "NSDEditor")</span>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr style="height: 40px">
                                        <td>
                                            <label class="hideOnCancelNOTAM" for="beginDatetime" id="startDateLable">@DbRes.T("From", "NSDEditor")</label>
                                        </td>
                                        <td>
                                            <input class="hideOnCancelNOTAM" data-bind="value: StartValidity" data-parse-formats="YYYY-MM-DDTHH:mm:ss" id="beginDatetime" name="beginDatetime" style="width: 200px" />
                                            <input data-bind="checked: SetBeginDateAtSubmit" id="chkSetBeginDateAtSubmit" type="checkbox" />
                                            <label class="" for="chkSetBeginDateAtSubmit">@DbRes.T("Immediate", "NSDEditor")</label>
                                        </td>
                                        <td></td>
                                        <td class="hideOnCancelNOTAM">
                                            <label for="expiryDatetime">
                                                @DbRes.T("To", "NSDEditor")
                                            </label>
                                        </td>
                                        <td class="hideOnCancelNOTAM">
                                            <input data-bind="value: EndValidity" id="expiryDatetime" name="expiryDatetime" style="width: 200px" />
                                            <input data-bind="checked: Estimated" id="cbEstimated" name="expiryType" type="checkbox" value="EST" />
                                            <label for="cbEstimated"> @DbRes.T("Estimated", "NSDEditor")</label>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr class="hideOnCancelNOTAM">
                                        <td>
                                            <label for="cbPermanent"> @DbRes.T("Permanent", "NSDEditor")</label>
                                        </td>
                                        <td>
                                            <input data-bind="checked: Permanent" id="cbPermanent" name="expiryType" type="checkbox" value="PERM" />
                                        </td>
                                    </tr>
                                    <tr class="hideOnCancelNOTAM" style="height: 100%" id="scheduleTr">
                                        <td>
                                            <label for="scheduleText">@DbRes.T("Schedule", "NSDEditor")</label>
                                        </td>
                                        <td colspan="4">
                                            <textarea class="k-textbox textAreaFill upperCase" cols="100" data-bind="value:ItemD" id="scheduleText" name="scheduleText" placeholder="Define Schedule..." readonly rows="2"></textarea>
                                        </td>
                                        <td>
                                            <input class="k-button" id="btnTimeScheduleAPI" style="height: 100%" type="button" value="Add Schedule" />
                                            <div id="TimeScheduleAPI-Popup"></div>
                                        </td>
                                    </tr>
                                    <!--<tr>
                                        <td></td>
                                        <td>
                                            @DbRes.T("Ex: 'SR-SS', '1130-1700' or 'JAN 11-23'...", "NSDEditor")
                                        </td>
                                    </tr>-->
                                    <tr>
                                        <td colspan="99" style="width: 100%">
                                            <div id="activePeriodTabStatus" style="color: red; width: 100%;">
                                                <span class="k-invalid-msg" data-for="beginDatetime"></span>
                                                <span class="k-invalid-msg" data-for="chkSetBeginDateAtSubmit"></span>
                                                <span class="k-invalid-msg" data-for="expiryDatetime"></span>
                                                <span class="k-invalid-msg" data-for="scheduleText"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <li class="tabpanel">
                            <span id="conditionTab"><img class="tabStatusIcon" id="conditionSectionIcon" src="~/Images/no.png" />@DbRes.T("Subject and Condition", "NSDEditor")</span>
                            <div id="conditionContainerView" style="height: 100%; overflow: auto; width: 100%;">
                            </div>
                            <div id="conditionContainerGrammar" style="display: none; height: 100%; width: 100%;">
                                <div id="wizardTopContainer">
                                    <div id="userActionView"></div>
                                    <div id="ne-input"></div>
                                </div>
                            </div>
                           
                        </li>
                        <li class="tabpanel">
                            <span id="NotesToNOFTab"><img class="tabStatusIcon" id="NotesToNOFIcon" src="~/Images/yes.png" />@DbRes.T("Notes To NOF", "NSDEditor")</span>
                            <div>
                                <textarea rows="5" id="notesToNOFText" name="notesToNOFText" class="k-textbox textAreaFill" placeholder=@DbRes.T("Notes To NOF", "NSDEditor") data-bind="value:NoteToNof"></textarea>
                            </div>
                        </li>
                        <li class="tabpanel" id="originatorPanel">
                            <span id="OnBehalfOfTab"><img class="tabStatusIcon" id="OnBehalfOfIcon" src="~/Images/no.png" />@DbRes.T("On behalf of", "NSDEditor")</span>
                            <div style="padding-top: 5px">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="originator" class="col-lg-2 control-label">@DbRes.T("Originator Name", "NSDEditor")</label>
                                        <div class="col-lg-20">
                                            <input data-bind="value: OriginatorName" id="originator" name="originator" class="k-textbox " type="text" />
                                        </div>
                                    </div>
                                </form>
                                

                            </div>
                        </li>
                        <li class="tabpanel">
                            <span id="additionalInfoTab"><img class="tabStatusIcon" id="additionalInfoIcon" src="~/Images/yes.png" />@DbRes.T("Additional Info", "NSDEditor")</span>
                            <div>
                                <div id="additionalInfoGrid"></div>
                            </div>
                        </li>
                        <li class="tabpanel">
                            <span id="attachmentsTab"><img class="tabStatusIcon" id="attachmentsIcon" src="~/Images/yes.png" />@DbRes.T("Attachments", "NSDEditor")</span>
                            <div>
                                <label for="attachmentsFiles">@DbRes.T("Attachments", "NSDEditor")</label> <input id="attachmentsFiles" name="attachmentsFiles" type="file" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="right-pane" style="height: 100%; overflow: hidden;">
                <div class="pane-content" id="proposalReview" style="height: 100%; overflow: hidden;">
                    <div id="verticalSplitter" style="height: 100%; overflow: hidden;">
                        <div id="subjectLocationContainer">
                            <div id="subjectLocationMap" style="height: 100%"></div>
                        </div>
                        <div id="reviewTab" style="height: 100%">
                            <ul>
                                <li class="k-state-active">
                                    @DbRes.T("Plain-Text Review", "NSDEditor")
                                </li>
                                <li>
                                    @DbRes.T("ICAO Review", "NSDEditor")
                                </li>
                                <li>
                                    <span id="modifiedNOTAMLabel"> @DbRes.T("NOF Modified NOTAM", "NSDEditor")</span> <img src="~/Images/warning.png" style="padding-left: 10px; width: 16px;" />
                                </li>
                            </ul>
                            <div id="notamSimpleViewForm">
                                <table cellpadding="2" style="padding: 10px">
                                    <tr>
                                        <td align="right" style="width: 150px">
                                            <span style="font-weight: 600">@DbRes.T("Location Identifier:", "NSDEditor")</span></td>
                                        <td>
                                            <span data-bind="text: ItemA" style="padding-left: 5px;"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" id="reviewStartDateLabel">
                                            <span style="font-weight: 600">@DbRes.T("From:", "NSDEditor")</span></td>
                                        <td>
                                            <span data-bind="text: StartValidityText[0]"></span>
                                            <span data-bind="text: StartValidityText[1]"></span>
                                            <span data-bind="text: StartValidityText[2]"></span>
                                            <span data-bind="text: StartValidityText[3]"></span>
                                            <span data-bind="text: StartValidityText[4]"></span>
                                            <span data-bind="text: StartValidityText[5]"></span>
                                            <span data-bind="text: StartValidityText[6]"></span>
                                            <span data-bind="text: StartValidityText[7]"></span>
                                            <span data-bind="text: StartValidityText[8]"></span>
                                            <span data-bind="text: StartValidityText[9]"></span>
                                        </td>
                                    </tr>
                                    <tr class="hideOnCancelNOTAM">
                                        <td align="right">
                                            <span style="font-weight: 600">@DbRes.T("To:", "NSDEditor")</span></td>
                                        <td>
                                            <span data-bind="text: EndValidityText[0]"></span>
                                            <span data-bind="text: EndValidityText[1]"></span>
                                            <span data-bind="text: EndValidityText[2]"></span>
                                            <span data-bind="text: EndValidityText[3]"></span>
                                            <span data-bind="text: EndValidityText[4]"></span>
                                            <span data-bind="text: EndValidityText[5]"></span>
                                            <span data-bind="text: EndValidityText[6]"></span>
                                            <span data-bind="text: EndValidityText[7]"></span>
                                            <span data-bind="text: EndValidityText[8]"></span>
                                            <span data-bind="text: EndValidityText[9]"></span>
                                            <span data-bind="text: EstimatedText"></span>
                                        </td>
                                    </tr>
                                    <tr class="hideOnCancelNOTAM">
                                        <td align="right">
                                            <span style="font-weight: 600">@DbRes.T("Schedule Text:", "NSDEditor")</span></td>
                                        <td>
                                            <span data-bind="text: ItemD"></span></td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            <span style="font-weight: 600">@DbRes.T("English Text:", "NSDEditor")</span></td>
                                        <td>
                                            <span data-bind="text: ItemE" id="ne-NOTAMPreview" style="font-weight: 200"></span></td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            <div class="eFieldFrench">
                                                <span style="font-weight: 600">@DbRes.T("French Text:", "NSDEditor")</span></div>
                                        </td>
                                        <td>
                                            <div class="eFieldFrench">
                                                <span data-bind="text: ItemEFrench" id="ne-NOTAMPreviewFrench" style="font-weight: 100"></span></div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="notamForm">
                                <table >
                                    <tr>
                                        <td>
                                            <table cellpadding="0" class="NOTAMTable" width="100%">
                                                <tr>
                                                    <td class="cell Heading lastCell" colspan="99">Qualifiers</td>
                                                </tr>
                                                <tr>
                                                    <td class="cell Heading2" />
                                                    <td class="cell Heading2" colspan="5">FIR</td>
                                                    <td class="cell Heading2" colspan="6">NOTAM Code</td>
                                                    <td class="cell Heading2" colspan="3">Traffic</td>
                                                    <td class="cell Heading2" colspan="4">Purpose</td>
                                                    <td class="cell Heading2" colspan="3">Scope</td>
                                                    <td class="cell Heading2" colspan="4">Lower</td>
                                                    <td class="cell Heading2" colspan="4">Upper</td>
                                                    <td class="cell Heading2" colspan="14">Coordinates, Radius</td>
                                                    <td class="cell Heading lastCell"></td>
                                                </tr>
                                                <tr>
                                                    <td class="cell charWidth">Q)</td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Fir[0]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Fir[1]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Fir[2]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Fir[3]"></span></td>
                                                    <td class="cell charWidth">/</td>
                                                    <td class="cell charWidth">Q</td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Code23[0]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Code23[1]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Code45[0]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Code45[1]"></span></td>
                                                    <td class="cell charWidth ">/</td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Traffic[0]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Traffic[1]"></span></td>
                                                    <td class="cell charWidth ">/</td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Purpose[0]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Purpose[1]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Purpose[2]"></span></td>
                                                    <td class="cell charWidth ">/</td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Scope[0]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Scope[1]"></span></td>
                                                    <td class="cell charWidth ">/</td>
                                                    <td class="cell charWidth" colspan="3">
                                                        <span data-bind="text: DisplayLower"></span></td>
                                                    <!--<td class="cell charWidth">
                                                        <span data-bind="text: Lower[1]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Lower[2]"></span></td>-->
                                                    <td class="cell charWidth ">/</td>
                                                    <td class="cell charWidth" colspan="3">
                                                        <span data-bind="text: DisplayUpper"></span></td>
                                                    <!--<td class="cell charWidth">
                                                        <span data-bind="text: Upper[1]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Upper[2]"></span></td>-->
                                                    <td class="cell charWidth ">/</td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[0]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[1]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[2]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[3]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[4]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[6]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[7]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[8]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[9]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[10]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[11]"></span></td>
                                                    <td class="cell charWidth" colspan="3">
                                                        <span data-bind="text: DisplayRadius"></span></td>
                                                    <!--<td class="cell charWidth">
                                                        <span data-bind="text: Radius[1]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Radius[2]"></span></td>-->
                                                    <td class="cell charWidth lastCell "></td>
                                                </tr>
                                                <tr>
                                                    <td class="cell rowHeading" colspan="30">ICAO location indicator</td>
                                                    <td class="cell lastCell" colspan="99">A)<span data-bind="text: ItemA" style="padding-left: 5px;"></span> </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table class="NOTAMTable" width="100%">
                                                <tr>
                                                    <td class="cell Heading lastCell" colspan="99">Period of Validity</td>
                                                </tr>
                                                <tr>
                                                    <td class="cell rowHeading">From</td>
                                                    <td class="cell XcharWidth"> B)</td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidityText[0]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidityText[1]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidityText[2]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidityText[3]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidityText[4]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidityText[5]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidityText[6]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidityText[7]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidityText[8]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidityText[9]"></span></td>
                                                    <td class="cell lastCell" colspan="99"></td>
                                                </tr>
                                                <tr>
                                                    <td class="cell rowHeading">To</td>
                                                    <td class="cell XcharWidth"> C)</td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidityText[0]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidityText[1]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidityText[2]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidityText[3]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidityText[4]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidityText[5]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidityText[6]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidityText[7]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidityText[8]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidityText[9]"></span></td>
                                                    <td class="cell X4charWidth">
                                                        <span data-bind="text: EstimatedText"></span></td>
                                                    <td class="cell lastCell" colspan="99"></td>
                                                </tr>
                                                <tr>
                                                    <td class="cell rowHeading">Time Schedule</td>
                                                    <td class="cell"> D)</td>
                                                    <td class="cell" colspan="99">
                                                        <span data-bind="text: ItemD"></span></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table class="NOTAMTable" width="100%">
                                                <tr>
                                                    <td class="cell Heading lastCell" colspan="99">Text of NOTAM, Plain-Language Entry (using ICAO Abbreviations)</td>
                                                </tr>
                                                <tr>
                                                    <td class="cell lastCell " colspan="99">
                                                        <div>
                                                            <div class="eFieldEngilsh">
                                                                <span style="font-weight: 100">E)</span><br /><span data-bind="text: ItemE" id="ne-NOTAMPreview"></span></div>
                                                            <div class="eFieldFrench">
                                                                <span style="font-weight: 100">E-Fr)</span><br /><span data-bind="text: ItemEFrench" id="ne-NOTAMPreviewFrench"></span></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="cell rowHeading">Lower Limit</td>
                                                    <td class="cell lastCell"> F)<span data-bind="text: ItemF"></span></td>
                                                </tr>
                                                <tr>
                                                    <td class="cell rowHeading">Upper Limit</td>
                                                    <td class="cell lastCell"> G)<span data-bind="text: ItemG"></span><span style="float: right">)</span></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="modifiedNotamForm">
                                <table >
                                    <tr>
                                        <td>
                                            <table cellpadding="0" class="NOTAMTable" width="100%">
                                                <tr>
                                                    <td class="cell Heading lastCell" colspan="99">Qualifiers</td>
                                                </tr>
                                                <tr>
                                                    <td class="cell Heading2" />
                                                    <td class="cell Heading2" colspan="5">FIR</td>
                                                    <td class="cell Heading2" colspan="6">NOTAM Code</td>
                                                    <td class="cell Heading2" colspan="3">Traffic</td>
                                                    <td class="cell Heading2" colspan="4">Purpose</td>
                                                    <td class="cell Heading2" colspan="3">Scope</td>
                                                    <td class="cell Heading2" colspan="4">Lower</td>
                                                    <td class="cell Heading2" colspan="4">Upper</td>
                                                    <td class="cell Heading2" colspan="14">Coordinates, Radius</td>
                                                    <td class="cell Heading lastCell"></td>
                                                </tr>
                                                <tr>
                                                    <td class="cell charWidth">Q)</td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Fir[0]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Fir[1]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Fir[2]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Fir[3]"></span></td>
                                                    <td class="cell charWidth">/</td>
                                                    <td class="cell charWidth">Q</td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Code23[0]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Code23[1]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Code45[0]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Code45[1]"></span></td>
                                                    <td class="cell charWidth ">/</td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Traffic[0]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Traffic[1]"></span></td>
                                                    <td class="cell charWidth ">/</td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Purpose[0]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Purpose[1]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Purpose[2]"></span></td>
                                                    <td class="cell charWidth ">/</td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Scope[0]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Scope[1]"></span></td>
                                                    <td class="cell charWidth ">/</td>
                                                    <td class="cell charWidth" colspan="3">
                                                        <span data-bind="text: DisplayLower"></span></td>
                                                    <!--<td class="cell charWidth">
                                                        <span data-bind="text: Lower[1]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Lower[2]"></span></td>-->
                                                    <td class="cell charWidth ">/</td>
                                                    <td class="cell charWidth" colspan="3">
                                                        <span data-bind="text: DisplayUpper"></span></td>
                                                    <!--<td class="cell charWidth">
                                                        <span data-bind="text: Upper[1]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Upper[2]"></span></td>-->
                                                    <td class="cell charWidth ">/</td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[0]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[1]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[2]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[3]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[4]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[5]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[6]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[7]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[8]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[9]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Coordinates[10]"></span></td>
                                                    <td class="cell charWidth" colspan="3">
                                                        <span data-bind="text: DisplayRadius"></span></td>
                                                    <!--<td class="cell charWidth">
                                                        <span data-bind="text: Radius[1]"></span></td>
                                                    <td class="cell charWidth">
                                                        <span data-bind="text: Radius[2]"></span></td>-->
                                                    <td class="cell charWidth lastCell "></td>
                                                </tr>
                                                <tr>
                                                    <td class="cell rowHeading" colspan="30">ICAO location indicator</td>
                                                    <td class="cell lastCell" colspan="99">A)<span data-bind="text: ItemA" style="padding-left: 5px;"></span> </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table class="NOTAMTable" width="100%">
                                                <tr>
                                                    <td class="cell Heading lastCell" colspan="99">Period of Validity</td>
                                                </tr>
                                                <tr>
                                                    <td class="cell rowHeading">From</td>
                                                    <td class="cell XcharWidth"> B)</td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidity[0]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidity[1]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidity[2]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidity[3]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidity[4]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidity[5]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidity[6]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidity[7]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidity[8]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: StartValidity[9]"></span></td>
                                                    <td class="cell lastCell" colspan="99"></td>
                                                </tr>
                                                <tr>
                                                    <td class="cell rowHeading">To</td>
                                                    <td class="cell XcharWidth"> C)</td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidity[0]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidity[1]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidity[2]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidity[3]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidity[4]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidity[5]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidity[6]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidity[7]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidity[8]"></span></td>
                                                    <td class="cell XcharWidth">
                                                        <span data-bind="text: EndValidity[9]"></span></td>
                                                    <td class="cell X4charWidth">
                                                        <span data-bind="text: EstimatedText"></span></td>
                                                    <td class="cell lastCell" colspan="99"></td>
                                                </tr>
                                                <tr>
                                                    <td class="cell rowHeading">Time Schedule</td>
                                                    <td class="cell"> D)</td>
                                                    <td class="cell" colspan="99">
                                                        <span data-bind="text: ItemD"></span></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table class="NOTAMTable" width="100%">
                                                <tr>
                                                    <td class="cell Heading lastCell" colspan="99">Text of NOTAM, Plain-Language Entry (using ICAO Abbreviations)</td>
                                                </tr>
                                                <tr>
                                                    <td class="cell lastCell " colspan="99">
                                                        <div>
                                                            <div class="eFieldEngilsh">
                                                                <span style="font-weight: 100">E)</span><br /><span data-bind="text: ItemE" id="ne-NOTAMPreview"></span></div>
                                                            <div class="eFieldFrench">
                                                                <span style="font-weight: 100">E-Fr)</span><br /><span data-bind="text: ItemEFrench" id="ne-NOTAMPreviewFrench"></span></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="cell rowHeading">Lower Limit</td>
                                                    <td class="cell lastCell"> F)<span data-bind="text: ItemF"></span></td>
                                                </tr>
                                                <tr>
                                                    <td class="cell rowHeading">Upper Limit</td>
                                                    <td class="cell lastCell"> G)<span data-bind="text: ItemG"></span><span style="float: right">)</span></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="actionPanel">
        <button class="k-button" id="btnCancelEditProposal" type="button">@DbRes.T("Quit", "NSDEditor")</button>
        <button class="k-button" id="btnSaveProposal" type="button">@DbRes.T("Save", "NSDEditor")</button>
        <button class="k-button" id="btnSubmitProposal" type="button">@DbRes.T("Submit", "NSDEditor")</button>
    </div>
</div>
<script id="fileTemplate" type="text/x-kendo-template">
    <div>
        <a href="/NSDEditor/DownloadFile?fileId=#=files[0].Id#" target="_blank">
            <span style="margin:10px;">#=files[0].name#</span><span style="margin-right:30px;float:right">by: #=files[0].user#</span>
        </a>
        <button type='button' class='k-upload-action' style='position: absolute; top: 0; right: 0;'></button>
    </div>
</script>
<div id="nsdEditordataModel" data-model="@Html.Encode(Html.Raw(Json.Encode(Model)))" data-user="@HttpContext.Current.User.Identity.Name"></div>
<script>
    require(["c/NsdEditor/NSDEditor"], function (nsdEditor) {
        var labels = {
            nsEditor_error_label: '@DbRes.T("Error", "NSDEditor")',
            nsEditor_cancel_label: '@DbRes.T("Cancel", "NSDEditor")',
            nsEditor_done_label: '@DbRes.T("Done", "NSDEditor")',
            nsEditor_remove_label: '@DbRes.T("Remove", "NSDEditor")',
            nsEditor_retry_label: '@DbRes.T("Retry", "NSDEditor")',
            nsEditor_confirm_label: '@DbRes.T("Confirm", "NSDEditor")',
            nsEditor_yes_label: '@DbRes.T("Yes", "NSDEditor")',
            nsEditor_no_label: '@DbRes.T("No", "NSDEditor")',
            nsEditor_newUpper_label: '@DbRes.T("NEW", "NSDEditor")',
            nsEditor_cancelUpper_label: '@DbRes.T("CANCEL", "NSDEditor")',
            nsEditor_replaceUpper_label: '@DbRes.T("REPLACE", "NSDEditor")',
            nsEditor_completed_label: '@DbRes.T("Completed", "NSDEditor")',


            nsEditor_warningSchedule: '@DbRes.T("Warning: Original schedule modified by the NOF. Click Add Schedule to clear Warning.", "NSDEditor")',
            nsEditor_activitySchedule: '@DbRes.T("Enter Activity Schedule", "NSDEditor")',
            nsEditor_selectFiles_label: '@DbRes.T("Select Files", "NSDEditor")',
            nsEditor_dropFilesHere_label: '@DbRes.T("drop files here to upload", "NSDEditor")',
            nsEditor_uploading_message: '@DbRes.T("Uploading...", "NSDEditor")',
            nsEditor_failed_status: '@DbRes.T("failed", "NSDEditor")',
            nsEditor_uploaded_status: '@DbRes.T("uploaded", "NSDEditor")',
            nsEditor_uploading_status: '@DbRes.T("uploading", "NSDEditor")',
            nsEditor_warning_status: '@DbRes.T("warning", "NSDEditor")',
            nsEditor_uploadFiles_title: '@DbRes.T("Upload files", "NSDEditor")',
            nsEditor_errorSizeAllowed: '@DbRes.T("File size exceed max size allowed(10MB) threshold.", "NSDEditor")',
            nsEditor_newAnnotation_message: '@DbRes.T("New Annotation", "NSDEditor")',
            nsEditor_fieldOwner_title: '@DbRes.T("User", "NSDEditor")',
            nsEditor_fieldNote_title: '@DbRes.T("Note", "NSDEditor")',
            nsEditor_fieldCreationDate_title: '@DbRes.T("Date", "NSDEditor")',
            nsEditor_NOTAM_title: '@DbRes.T("NOTAM", "NSDEditor")',
            nsEditor_validateOriginator: '@DbRes.T("Originator is required", "NSDEditor")',
            nsEditor_beginDate_error: '@DbRes.T("Invalid From(UTC) date", "NSDEditor")',
            nsEditor_endDate_error: '@DbRes.T("Invalid To(UTC) date", "NSDEditor")',
            nsEditor_diffDate_error: '@DbRes.T("End date cannot be more than 3 months later than start date", "NSDEditor")',
            nsEditor_diffFromToDate_error: '@DbRes.T("From(UTC) date should be earlier than To(UTC) date", "NSDEditor")',
            nsEditor_validitySchedule_error: '@DbRes.T("Start and End Validity period must be defined to create a Schedule!", "NSDEditor")',
            nsEditor_startSchedule_error: '@DbRes.T("Schedule cannot start before From Active date", "NSDEditor")',
            nsEditor_invalidSubject_error: '@DbRes.T("SDO subject is not defined", "NSDEditor")',
            nsEditor_endSchedule_error: '@DbRes.T("Schedule cannot finish after To Active date", "NSDEditor")',
            nsEditor_clearToDateWarning_title: '@DbRes.T("ClearToDateWarning", "NSDEditor")',
            nsEditor_saveSuccessful_message: '@DbRes.T("SaveSuccessful", "NSDEditor")',
            nsEditor_saveError_message: '@DbRes.T("ErrorSaving", "NSDEditor")',
            nsEditor_submitError_message: '@DbRes.T("ErrorSubmitting", "NSDEditor")',

            timeSchdlr_valOverlaping_mesage: '@DbRes.T("Overlapping events are not allowed", "NSDEditor")',
            timeSchdlr_valDaysGap_mesage: '@DbRes.T("More than Seven Day Gaps are not allowed", "NSDEditor")',
            timeSchdlr_valPastDate_mesage: '@DbRes.T("Event start and end date must be within an active NOTAM period", "NSDEditor")',
            timeSchdlr_fieldDate_title: '@DbRes.T("DateId", "NSDEditor")',
            timeSchdlr_fieldEndDate_title: '@DbRes.T("EndDateId", "NSDEditor")',
            timeSchdlr_fieldTime_title: '@DbRes.T("TimeId", "NSDEditor")',
            timeSchdlr_fieldEndTime_title: '@DbRes.T("EndTimeId", "NSDEditor")',
            timeSchdlr_fieldContEvent_title: '@DbRes.T("ContinuesEvent", "NSDEditor")',
            timeSchdlr_fieldrbSelection_title: '@DbRes.T("RadioButtonSelectionWCT", "NSDEditor")',
            timeSchdlr_fieldAction_title: '@DbRes.T("Action", "NSDEditor")',
            timeSchdlr_fieldDateTime_title: '@DbRes.T("Start and End Date/Time", "NSDEditor")',
            timeSchdlr_fieldPeriod_title: '@DbRes.T("Period", "NSDEditor")',
        };

        nsdEditor.init(labels);
        document.getElementById("container").style.visibility = "visible";
    })
</script>