﻿html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: #333;
    font-size: .80em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    min-width: 800px;
}

a img {
    outline:none !important;
    border:0 !important;
}

a {
    text-decoration:none;
    border:0;
   /* color:black; */
}

    a:link, a:visited,
    a:active, a:hover {
    }


header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.center{
    text-align:center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-clear {
    float: none;
    clear: both;
}

.fullHeight{
    height:100%;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

.indent{
    padding-left:30px;
}

.invisible{
    visibility:hidden;
    height:0px;
}

.visible{
    visibility:visible;
    height:auto;
}

.pad5{
    padding:5px 5px 5px 5px;
}

.pad10{
    padding:10px 10px 10px 10px;
}

.margin5-bottom{
    margin-bottom:5px;
}

.margin5-top{
    margin-top:5px;
}


.margin10-bottom{
    margin-bottom:10px;
}

.margin10-top{
    margin-top:10px;
}

.nodecoration{
    list-style:none;
    list-style-type:none;
    text-decoration:none;
    padding:0px;
    margin-top:7px;
    margin-bottom:0px;
    margin-right:20px;
}

.nodecoration li{
    display:inline;
}

/**KENDO THEME EXTENSION*/
.k-block-dark{
    background-color: #005D7E !important;
    border:solid;
    border-color:black;
    border-width:1px;
    color:white;
    margin-bottom:0px;
}

.k-block-dark a{
    text-decoration:none;
    color:white;
}

.k-header a{
    text-decoration:none;
    color:black;
}

.k-button{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  padding: 2px 5px 2px 5px;
  border: solid #1f628d 1px ;
  text-decoration: none;

}

.k-button:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

