﻿
.k-invalid{
    
    background-color: #ffeeee !important; 
    outline: none !important;
    border-color: #c81717 !important;
    box-shadow: 0 0 10px #facccc !important;
}


.expandIC{
    width:15px;
    margin-top:5px; 
    position:absolute; 
    right:15px
}

.textAreaFill{
        width: calc(100% - 3px);
        width: -moz-calc(100% - 3px);
        width: -webkit-calc(100% - 3px);
        height:100% !important;
        resize: none;

        
    }

.validationRow{
    height:40px;
}
.upperCase{
    text-transform: uppercase
}

#container{
    height:100%;
    height:100%;
}

.full{
    height:100%;
    width:100%;
}

div.k-window-content{
    overflow:hidden !important;
    padding:0px !important;
    position:center;
    left:0 !important;
}

li div.k-content{
    height:auto !important;
}

.k-tabstrip-wrapper{
height:100%;
}



#subjectLocationContainer{
    position:relative; 
    margin:auto;
    width:auto;
    height:400px;
}

#actionPanel { 
    float:right; 
    padding: 5px;
    bottom: 3px;
    right: 5px;
}

#actionPanel>.k-button{
    
    width:150px;
    }


#wizardTopContainer {
    height: calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
}

#wizardButtonContainer{
    border: solid 1px gray;
    padding: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    float: right;
    width: calc(100% - 9px);
    width: -moz-calc(100% - 9px);
    width: -webkit-calc(100% - 9px);
}



#notamProposalForm{
    height: calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
}


.tabStatusIcon{
    width:20px;
    padding-right:5px;
    top: 5px;
    left: -5px;
    }


#ne-NOTAMPreview, #ne-NOTAMPreviewFrench{
    color:blue;
    font-weight:bold;    
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    }

span.k-link.k-header{
    background:#005D7E;
    color:white !important;
}

#notamForm{
    overflow:auto;
    height:100%;
}

#notamForm * span{
    font-size:12px !important;
    color:blue !important;
}


.NOTAMTable
{
    border: 1px solid lightgray;
    border-collapse: collapse;
}

.NOTAMTabletr
{
    border: 1px solid black;
    border-collapse: collapse;
}


.Title
{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    width:100%;
    border: 1px solid black;
    border-collapse: collapse;

}
.Heading
{
    font-weight: bold;
    background-color:lightgray;
    text-align:center;
    font-size: 10px;
    
}

.Heading2
{
    font-weight: bold;
    background-color:lightgray;
    font-size: 10px;
    text-align:center;
    
}


.rowHeading
{
     font-weight: bold;
    background-color:lightgray;
    font-size: 10px;
}

.cell
{
    border: 1px solid darkgray;
    padding:3px


}

.charWidth{
    width:5em;
}

.lastCell
{
    width:99%;
    
}



.cellHeading{
    background-color:lightgray;
    font-weight: bold;
}


.eField{
    min-height:90px;
}
.eFieldFrench, .eFieldEngilsh{

}

.French{
    background-color:ButtonHighlight rgba(252, 227, 227, 0.44);
}


#additonalInfoTable .k-upload-files{    
    height :150px !important;
    overflow-y: auto !important;
}


#additionalInfoGrid .k-upload-files{    
    height: calc(100% - 250px)!important; 
    height: -moz-calc(100% - 250px) !important; 
    height: -webkit-calc(100% - 250px) !important; 
    min-height:150px;
}

#additonalInfoTable .k-upload-selected{
    display:none;
}

.k-tabstrip > .k-content, .k-panelbar .k-tabstrip > .k-content{
    padding:0px !important;
    margin:0px !important;
}

.WizardStep{    
    margin:5px;

 background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;  
  padding: 5px 10px 5px 10px;
  border: solid #1f628d 2px;
  text-decoration: none;
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}


.SelectedWizardStep{
    margin:5px;
      background: #344fd9;
      background-image: -webkit-linear-gradient(top, #344fd9, #2980b9);
      background-image: -moz-linear-gradient(top, #344fd9, #2980b9);
      background-image: -ms-linear-gradient(top, #344fd9, #2980b9);
      background-image: -o-linear-gradient(top, #344fd9, #2980b9);
      background-image: linear-gradient(to bottom, #344fd9, #2980b9);
      -webkit-border-radius: 28;
      -moz-border-radius: 28;
      border-radius: 28px;
      -webkit-box-shadow: 0px 1px 3px #666666;
      -moz-box-shadow: 0px 1px 3px #666666;
      box-shadow: 0px 1px 3px #666666;
      font-family: Arial;
      color: #ffffff;
      padding: 10px 20px 10px 20px;
      border: solid #1f628d 2px;
      text-decoration: none;
}

.WizardStep:hover{
background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.WizardStepHeader{
     font-size: 20px;
    font:bold;
    color:black;
}
.WizardStepDescription{
    font-size: 15px;
}

.WizardStep img{    
    margin-top:-10px;
    float: right;
    width:20px;
    height:20px;
   
}