﻿body, 
.btn { font-size: 11px !important;}

.item-e{
    font-weight: 600 !important;
    border: 0 !important;
    font-size: 11px !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #f9f9f9 !important; 
    font-style: normal !important;
    line-height: 1.42857143 !important;
}

.wordwrap { 
    white-space: pre-line;
    word-break: normal;
}
.select2-container .select2-selection--single .select2-selection__rendered,
.form-control {
    font-size: 11px !important; 
}
.select2-container {
    vertical-align: top !important;
    min-width:60px !important;
}
.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
    height:35px !important;
    border: 1px solid #ECEDEE !important;
}
.select2-container .select2-selection--single:hover,
.select2-container .select2-selection--multiple:hover {
    border: 1px solid #C5C8CB !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0 8px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #319db5 !important;
    border: 1px solid #319db5 !important;
    color: white !important;
    margin-right: 0px !important;
    margin-top: 3px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white !important;
}
.main-content .page-content .panel .panel-header h3 { font-size: 13px !important; }

.bg-selected { background-color: #d3e6ef; }
.bg-soontoexpire {
    background-color: #faf1a5;
}
.bg-submitted { background-color: #f2fcfa; }
.bg-saved { background-color: #fafafa; }
.bg-rejected {
    background-color: #e99144;
}
.bg-expired { background-color: #dfdde2;}
.bg-picked { background-color: #fefff1; }
.bg-widthdrawn { background-color: #fff1e0; }
.bg-replace { background-color: #eafff2; }
.bg-cancel {background-color: #ffeeed;}
.bg-received { 
    background-color: #f7fd71 !important; 
    color:#d10a0a !important;
}

.fg-white { color: whitesmoke; }
.fg-black { color: black; }

.bg-sdocache-outdated {
    background-color: #f8a3a3
}
.bg-sdocache-latest {
    background-color: #b8f0c6
}


.table-hover>tbody>tr.success:hover>td, 
.table-hover>tbody>tr.success:hover>th, 
.table-hover>tbody>tr:hover>.success, 
.table-hover>tbody>tr>td.success:hover, 
.table-hover>tbody>tr>th.success:hover {
    color:#fff;
    background-color:#181a1d; 
}

.home-button {
    min-width: 150px;
    max-width: 150px;
}

.text-primary-disabled { color: #a1ddea; }
.text-success-disabled { color: #88bb89; }
.text-danger-disabled { color: #d8a3a2; }

.text-center {text-align:center; }

/*.switch-input:checked ~ .switch-label {
    background: #B9D5DB;
}*/

#ui-datepicker-div {
    z-index: 1000 !important
}

.ui-datepicker .ui-datepicker-header {
    background: #1c7588;
}

.round-corners {
    border-radius: 8px;
}

.home-top-panel {
    background-color: #EEE;
}

.home-mid-panel {
    background-color: #EEE;
}

.home-bottom-panel {
    background-color: #EEE;
}

/* Styles for validation helpers*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000 !important;
    background-color: #ffeeee !important;
}

.validation-summary-errors {
    font-weight: bold !important;
    color: #ff0000 !important;
}

.validation-summary-valid {
    display: none;
}

.btn-default[disabled] {
    background-color: #bdc3c7 !important;
    border-color: #bdc3c7 !important;
}

.open .dropdown-toggle.btn-info {
    background: #5bc0de;
    border-color: #5bc0de;
}

.btn-default {
    background-color: #319db5 !important;
    color: #fff !important;
}

.btn-plus-minus {
    background-color: #eee;
    color: #222;
}

.btn-plus-minus.focus, .btn-plus-minus:focus, .btn-plus-minus:hover{
    background-color: #bbb;
    color: #000
}

.switch-input:checked ~ .switch-label { background: #777; }

div[class*='icheckbox_'] { top: 0px!important; }

.btn-primary[disabled] {
    background-color: #B9D5DB !important;
    color: #ffffff;
}

th { outline: 0; }

.dropdown-menu {
    font-size:12px;
    min-width: 250px;
}

.dropdown-menu > li > a:hover {
    background-color: #181a1d;
    color: #fff;
}
.filter-active { color:darkseagreen !important }
.filter-remove { color:palevioletred !important }

bottom-panel #queue-info-bar {
    color: #444;
    z-index: 1004;
    width: 100%;
    height: 43px;
    position: fixed;
    bottom:0;
    -webkit-transition: all ease 1s;
}
.minimized{top: 100%;}
.maximized{bottom: 0;}

.table-body-container { 
    max-height: 538px; 
    min-height: 538px; 
    width: 100%; 
    margin: 0; 
    padding:0; 
    overflow-y: auto; 
    overflow-x: auto; 
    margin-bottom:10px
}

.cars-icheck {
    font-size: 120%;
}

.subs-icheck {
    font-size: 70%;
}

.message-sidebar {
    background-color: #2b2e33;
}

.bold900 {
    font-weight: 900 !important;
}
.tabs-disabled {
    pointer-events:none;
    opacity:0.4;
}
.message-address-box {
    padding: 5px 10px 5px 10px;
    border: 1px solid #ECEDEE;
    overflow-x:auto;
    width: 751px;
    height:30px;
    top: 10px;
    left: 100px;
    position: absolute;
    /*z-index: -1;*/
}
/* For Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.nav-tabs > li > a::before {
    top: 34px;
}
.modal-xl {
    width: 1100px !important;
}

.fc-time-grid .fc-slats td {
    height: 0.5em !important;
}
.m-t-15 {
    margin-top: 15px !important;
}
.form-control.form-yellow {
    background-color: #f5f5f3;
    border: 0;
    color: #000;
}
.itemEFont {
    font-family: 'Courier' !important;
    font-weight: bold; 
    font-size: 12px !important;
}
.topbar .header-right .header-menu #language-header .dropdown-menu {
    max-width: 300px !important;
    width: auto !important;
}

.non-production-bar {
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color: #de2f2f;
    color: white;
}
.horizontal-label {
    font-size: 11px;
    color: #3E484E;
    background-color: #fff !important
}