﻿@using Westwind.Globalization
@inherits WebViewPage
<link href="@Url.Content("~/Content/Views/NSDEditor/NSDEditor.css")" rel="stylesheet" type="text/css" />
<style scoped>
    #ne-map
    {
        border: solid gray;
        height: calc(100%);
        height: -moz-calc(100%);
        height: -webkit-calc(100%);
        min-height: 300px;
        position: relative;
        width: calc(100% - 5px);
        width: -moz-calc(100% - 5px);
        width: -webkit-calc(100% - 5px);
    }

    .canceledWaterMark
    {
        -ms-transform: rotate(20deg); /* IE 9 */
        -webkit-transform: rotate(20deg); /* Safari */
        color: red;
        display: none;
        font-size: 20px;
        left: 20px; /*Change to Desired Position from left of screen*/
        opacity: 0.4;
        position: absolute;
        top: 20px; /*Change to Desired Position from top of screen*/
        transform: rotate(20deg);
        z-index: 1000; /*Sets element above everything else (only works on absolute and fixed position elements)*/
    }
</style>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="canceledWaterMark" id="canceledWM">@DbRes.T("Obstacle Removed")</div>
<div id="nsdConditionContainer" style="padding: 10px">
    <div class="container-fluid">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-2 control-label" for="" >@DbRes.T("Linked Aeronutical Subject", "NSD-CatchAll")</label>
                <input data-bind="value: SdoEntityId" id="sdoSubjectSelector" name="sdoSubjectSelector" style="width: 50%" type="text" />
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="obstacleTypes">@DbRes.T("Obstacle Type", "NSD-Obst")</label>
                <div class="col-lg-20">
                    <input class="k-textbox" data-bind="value: ObstacleType" id="obstacleTypes" name="obstacleTypes"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="obstacleLocation">@DbRes.T("Location", "NSD-Obst")</label>
                <div class="col-lg-20">
                    <input data-bind="value: Location" id="obstacleLocation" name="obstacleLocation" placeholder="@DbRes.T("(LAT LON) DMS or Decimal location", "NSD-Obst")">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="obstacleHeight">@DbRes.T("Obstacle Height", "NSD-Obst")</label>
                <div class="col-lg-20">
                    <input data-bind="value: Height" id="obstacleHeight" name="obstacleHeight"/> FT AGL
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="obstacleElevation">@DbRes.T("Obstacle Elevation", "NSD-Obst")</label>
                <div class="col-lg-20">
                    <input data-bind="value: Elevation" id="obstacleElevation" name="obstacleElevation"/> FT AMSL
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">@DbRes.T("Obstacle Lighted", "NSD-Obst")</label>
                <div class="col-lg-20">
                    <input data-bind="checked: Lighted" id="obstacleLighted" name="obstacleLightedGroup" type="radio" value="Y"/>
                    <label for="obstacleLighted">@DbRes.T("Lighted", "NSD-Obst")</label>
                    <input data-bind="checked: Lighted" id="obstacleNotLighted" name="obstacleLightedGroup" type="radio" value="N"/>
                    <label for="obstacleNotLighted">@DbRes.T("Not Lighted", "NSD-Obst")</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">@DbRes.T("Obstacle Painted", "NSD-Obst")</label>
                <div class="col-lg-20">
                    <input data-bind="checked: Painted" id="obstaclePainted" name="obstaclePaintedGroup" type="radio" value="Y"/>
                    <label for="obstaclePainted">@DbRes.T("Painted", "NSD-Obst")</label>
                    <input data-bind="checked: Painted" id="obstacleNotPainted" name="obstaclePaintedGroup" type="radio" value="N"/>
                    <label for="obstacleNotPainted">@DbRes.T("Not Painted", "NSD-Obst")</label>
                    <input data-bind="checked: Painted" id="obstacleNotApplicable" name="obstaclePaintedGroup" type="radio" value="O"/>
                    <label for="obstacleNotApplicable">@DbRes.T("Not Applicable", "NSD-Obst")</label>
                </div>
            </div>
        </form>
        <div style="margin-top: 15px">
            <span class="k-invalid-msg" data-for="sdoSubjectSelector"></span>
            <span class="k-invalid-msg" data-for="obstacleTypes"></span>
            <span class="k-invalid-msg" data-for="obstacleLocation"></span>
            <span class="k-invalid-msg" data-for="obstacleLightedGroup"></span>
            <span class="k-invalid-msg" data-for="obstaclePaintedGroup"></span>
            
        </div>
    </div>
</div>
<div id="nsdData" data-obstacletypes="@Html.Encode(Html.Raw(Json.Encode(ViewBag.ObstacleTypes)))"></div>
<div id="nsdModel" data-model="@Html.Encode(Html.Raw(Json.Encode(Model)))"></div>