﻿@{
    var isNof = User.IsInRole("NOF_ROLE");
    var isSysAdmin = User.IsInRole("Administrator");
    var isNofAdmin = User.IsInRole("NOF_ADMINISTRATOR");
    var isCCS = User.IsInRole("CCS");
    var isOrgAdmin = User.IsInRole("Organization Administrator");
    var onDisasterRecoveryMode = System.Configuration.ConfigurationManager.AppSettings["DisasterRecoveryMode"] == "1";
    var isRuningOnProduction = System.Configuration.ConfigurationManager.AppSettings["ProductionEnviroment"] ?? "1";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="admin-themes-lab">
    <meta name="author" content="themes-lab">
    <link rel="shortcut icon" href="~/favicon.ico?Rev=3.0.1" type="image/vnd.microsoft.icon">
    <title>@Resources.ApplicationName - @ViewData["Title"]</title>

    @Styles.Render("~/bundles/css/plugins")
    @Styles.Render("~/bundles/css/layout")
    <link rel="stylesheet" href="~/content/css/icheck.skins/all.css" />

    @Scripts.Render("~/bundles/scripts")

    @* LeafletMap*@
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />

    @RenderSection("Styles", false)

    <!-- 2. Configure SystemJS -->
    <script src="~/app/systemjs.config.js"></script>
    <script>
        System.import('../../app/admin/admin.main').catch(function (err) {
            console.error(err);
        });
    </script>
    <style>
        .select2-container--classic .select2-results__option--highlighted[aria-selected] {
            background-color: #000 !important;
        }
    </style>
</head>

<body class="theme-sdtl color-default" style="overflow:auto !important">
    @functions{
        public string TokenHeaderValue()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }
    <script type="text/javascript">
        window.app = {};
        (function (ns) {
            var rootUrl = '';
            var apiUrl = '';
            var usrId = '';
            var usrName = '';
            var orgId = '';
            var cultureInfo = "";
            var sysAdmin = false;
            var ccs = false;
            var nofAdmin = false;
            var orgAdmin = false;
            var disasterRecoveryMode = false;
            var mapServerHost = "";
            var antiForgeryTokenValue = "";

            ns.rootUrl = rootUrl;
            ns.apiUrl = apiUrl;

            ns.usrId = usrId;
            ns.userName = usrName;
            ns.orgId = orgId;
            ns.cultureInfo = cultureInfo;
            ns.sysAdmin = sysAdmin;
            ns.ccs = ccs;
            ns.nofAdmin = nofAdmin;
            ns.orgAdmin = orgAdmin;
            ns.disasterRecoveryMode = disasterRecoveryMode;
            ns.mapServerHost = mapServerHost;
            ns.antiForgeryTokenValue = antiForgeryTokenValue
        }(window.app));

        window.app.rootUrl = '@Url.Content("~")';
        window.app.apiUrl = window.app.rootUrl + 'api/';

        window.app.usrId = '@ViewData["usr_id"]';
        window.app.usrName = '@User.Identity.Name';
        window.app.orgId = '@ViewData["org_id"]';
        window.app.doaId = '@ViewData["doa_id"]';
        window.app.sysAdmin = @(isSysAdmin ? 1 : 0);
        window.app.ccs = @(isCCS ? 1 : 0);
        window.app.nofAdmin = @(isNofAdmin ? 1 : 0);
        window.app.orgAdmin = @(isOrgAdmin ? 1 : 0);
        window.app.disasterRecoveryMode = @(onDisasterRecoveryMode ? 1 :0);
        window.app.mapServerHost = '@ViewData["mapServerHost"]';

        window.app.cultureInfo = '@System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName';
        window.app.antiForgeryTokenValue = '@TokenHeaderValue()';
    </script>

    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <section>
        @if (isRuningOnProduction != "1")
        {
            <div class="non-production-bar">
                <label style="margin-left:5px; margin-top:2px; margin-bottom:2px"><i class="fa fa-arrow-circle-o-right"></i>&nbsp;&nbsp; TEST ENVIROMENT</label>
            </div>
        }
        <div class="main-content">
            @Html.Partial("_TopBar", true)
            @RenderBody()
            <div class="footer">
                @Html.Partial("_Copyrights")
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </section>


    <!-- BEGIN PRELOADER -->
    <div class="loader-overlay">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- END PRELOADER -->

    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>

    @*<script src="~/scripts/plugins/jquery-migrate-1.2.1.min.js"></script>
        <script src="~/scripts/plugins/jquery-ui-1.11.2.min.js"></script>
        <script src="~/node_modules/toastr/build/toastr.min.js"></script>

        <script src="~/scripts/plugins/bootstrap.min.js"></script>
        <script src="~/scripts/plugins/jasny-bootstrap.min.js"></script>
        <script src="~/scripts/app/template.js"></script>
        <script src="~/scripts/app/layout/layout.js"></script>*@

    @Scripts.Render("~/bundles/scripts/addons")

    <script src="~/scripts/app/layout/sidebar_hover.js"></script>
    <script src="~/scripts/app/layout/application.js"></script>

    @*<script src="~/node_modules/select2/dist/js/select2.js"></script>*@


    @RenderSection("scripts", required: false)

</body>

</html>
