﻿@{
    var isNof = User.IsInRole("NOF_ROLE") || User.IsInRole("NOF_ADMINISTRATOR");
    var isOrgAdmin = User.IsInRole("Organization Administrator");
    var isNofAdmin = false;
    if (isNof)
    {
        isNofAdmin = User.IsInRole("NOF_ADMINISTRATOR");
    }
    var isRuningOnProduction = System.Configuration.ConfigurationManager.AppSettings["ProductionEnviroment"] ?? "1";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="admin-themes-lab">
    <meta name="author" content="themes-lab">
    <link rel="shortcut icon" href="~/favicon.ico?Rev=3.0.1" type="image/vnd.microsoft.icon">
    <title>@Resources.ApplicationName - @ViewData["Title"]</title>

    @Styles.Render("~/bundles/css/plugins")
    @Styles.Render("~/bundles/css/layout")
    <link rel="stylesheet" href="~/content/css/icheck.skins/all.css" />

    @Scripts.Render("~/bundles/scripts")

    @RenderSection("Styles", false)

    <!-- 2. Configure SystemJS -->
    <script src="~/app/systemjs.config.js"></script>
    <script>
        var moduleName = "@(isNof ? "nof.main" : "usr.main")";
        System.import('../../app/dashboard/' + moduleName).catch(function (err)
        {
            console.error(err);
        });
    </script>
    <style>
        .select2-container--classic .select2-results__option--highlighted[aria-selected] {
            background-color: #000 !important;
        }
    </style>
</head>

<body class="theme-sdtl color-default" style="overflow:auto !important">
    @functions{
        public string TokenHeaderValue()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }
    <script type="text/javascript">
        window.app = window.app || {};
        (function (ns) {
            var rootUrl = '';
            var apiUrl = '';
            var usrId = '';
            var usrName = '';
            var orgId = '';
            var doaId = '';
            var isOrgAdmin = '';
            var isNof = false;
            var isNofAdmin = false;
            var mvp = 30;
            var canDoCatchAll = false;
            var cultureInfo = "";
            var nofAddress = "";
            var mapServerHost = "";
            var antiForgeryTokenValue = "";

            ns.rootUrl = rootUrl;
            ns.apiUrl = apiUrl;

            ns.usrId = usrId;
            ns.userName = usrName;
            ns.orgId = orgId;
            ns.doaId = doaId;
            ns.isOrgAdmin = isOrgAdmin;
            ns.isNof = isNof;
            ns.isNofAdmin = isNofAdmin;
            ns.nofAddress = nofAddress;
            ns.canDoCatchAll = canDoCatchAll;
            ns.cultureInfo = cultureInfo;
            ns.mapServerHost = mapServerHost;
            ns.antiForgeryTokenValue = antiForgeryTokenValue
        }(window.app));

        window.app.rootUrl = '@Url.Content("~")';
        window.app.apiUrl = window.app.rootUrl + 'api/';

        window.app.usrId = '@ViewData["usr_id"]';
        window.app.usrName = '@User.Identity.Name';
        window.app.mvp = '@ViewData["mvp"]';
        window.app.orgId = '@ViewData["org_id"]';
        window.app.doaId = '@ViewData["doa_id"]';
        window.app.isNof = @(isNof ? 1 : 0);
        window.app.isNofAdmin = @(isNofAdmin ? 1 : 0);
        window.app.isOrgAdmin =  @(isOrgAdmin ? 1 : 0);
        window.app.nofAddress = '@ViewData["nof_address"]';
        window.app.canDoCatchAll = @((bool)ViewData["canDoCatchAll"] ? 1 : 0);
        window.app.cultureInfo = '@System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName';
        window.app.cultureInfo = '@System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName';
        window.app.mapServerHost = '@ViewData["mapServerHost"]';
        window.app.antiForgeryTokenValue = '@TokenHeaderValue()';
    </script>

    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="main-content" style="margin-left:0px">
        @if (isRuningOnProduction != "1")
        {
            <div class="non-production-bar">
                <label style="margin-left:5px; margin-top:2px; margin-bottom:2px"><i class="fa fa-arrow-circle-o-right"></i>&nbsp;&nbsp; TEST ENVIROMENT</label>
            </div>
        }
        @Html.Partial("_TopBar", true)
        <div class="page-content page-thin">
            @RenderBody()
            <div class="footer">
                @Html.Partial("_Copyrights")
            </div>
        </div>
    </div>

    <!-- BEGIN PRELOADER -->
    <div class="loader-overlay">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- END PRELOADER -->

    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>

    @Scripts.Render("~/bundles/scripts/addons")
    <script src="~/scripts/plugins/bootstrap-datepicker.min.js"></script>


    @RenderSection("scripts", required: false)

</body>

</html>
