﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="admin-themes-lab">
    <meta name="author" content="themes-lab">
    <link rel="shortcut icon" href="~/favicon.ico?Rev=3.0.1" type="image/vnd.microsoft.icon">
    <title>@Resources.ApplicationName - @ViewData["Title"]</title>

    @Styles.Render("~/bundles/css/plugins")
    @Styles.Render("~/bundles/css/layout")


    @RenderSection("Styles", false)

    @{
        var layoutWithSidebarNavigation = ViewData["SideBarNavigation"] != null;
        if (!layoutWithSidebarNavigation)
        {
            <style>
                .main-content {
                    margin-left: 0px;
                }

                .fixed-topbar .topbar {
                    left: 0px;
                }
            </style>
        }
    }
</head>

<body class="fixed-topbar fixed-sidebar theme-sdtl color-default">
    <script type="text/javascript">
        window.app = {};
        (function (ns) {
            var rootUrl = '';
            var apiUrl = '';
            var usrId = '';
            var orgId = '';
            var doaId = '';
            var nof = false;

            ns.rootUrl = rootUrl;
            ns.apiUrl = apiUrl;
            ns.usrId = usrId;
            ns.orgId = orgId;
            ns.doaId = doaId;
            ns.nof = nof;
        }(window.app));

        window.app.rootUrl = '@Url.Content("~")';
        window.app.apiUrl = window.app.rootUrl + 'api/';

        window.app.usrId = '@ViewData["usr_id"]';
        window.app.orgId = '@ViewData["org_id"]';
        window.app.doaId = '@ViewData["doa_id"]';
    </script>

    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <section>

        @if (layoutWithSidebarNavigation)
        {
            @Html.Action(ViewData["SideBarNavigation"].ToString())
        }
        <div class="main-content">
            @*@Html.Partial("_TopBar", layoutWithSidebarNavigation)*@

            <div class="page-content page-thin">

                @RenderBody()
                <div class="footer">
                    @Html.Partial("_Copyrights")
                </div>
            </div>
        </div>
    </section>

    <!-- BEGIN PRELOADER -->
    <div class="loader-overlay">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- END PRELOADER -->

    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>

    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/scripts/addons")

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(window).load(function () {
            "use strict";
            setTimeout(function() {
                $('.loader-overlay').addClass('loaded');
                $('body > section').animate({
                    opacity: 1,
                }, 200);
            }, 400);
        });
    </script>    
</body>

</html>
