﻿@using Microsoft.AspNet.Identity

<li class="dropdown" id="user-header">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="line-height:45px">
                @*<img src="~/content/images/user1.png" alt="user image">*@
                <i class="fa fa-user-o"></i>
                <span class="username" style="margin-right: 15px;">&nbsp;@User.Identity.GetUserName()</span>
            </a>
            <ul class="dropdown-menu">
                @*<li>
                    <a href="#"><i class="icon-settings"></i><span>@Resources.AccountSettings</span></a>
                </li>*@
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="icon-logout"></i><span>@Resources.Logout</span>
                    </a>
                </li>
            </ul>
        }
    }
    @*else
    {
        <li>@Html.ActionLink(Resources.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }*@
</li>


