﻿@model Boolean?
@{
    var currentController = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var currentAction = ViewContext.RouteData.Values["action"].ToString().ToLower();
    var lang = System.Threading.Thread.CurrentThread.CurrentUICulture.ToString().Substring(0, 2).ToUpper();

    var userGuidePdf = string.Format("NESUserGuide{0}.pdf", lang);
    var cnopUrl = "EN" == lang
        ? "http://www.navcanada.ca/EN/products-and-services/Pages/NOTAMProcedure.aspx"
        : "http://www.navcanada.ca/FR/products-and-services/Pages/NOTAMProcedure.aspx";

    var isRuningOnProduction = System.Configuration.ConfigurationManager.AppSettings["ProductionEnviroment"] ?? "1";
}

<div class="topbar" style="right: 0px;">
    <div class="header-left">
        <div class="topnav">
            @if (User.IsInRole("Administrator") || User.IsInRole("CCS"))
            {
                <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
                <ul class="nav nav-horizontal">
                    <li class="@(currentController == "dashboard" ? "nav-parent active" : "")"><a href="~/dashboard"><i class="fa fa-vcard-o"></i><span>@Resources.Dashboard</span></a></li>
                    <li class="@(currentController == "administration" ? "nav-parent active" : "")"><a href="~/administration"><i class="fa fa-vcard-o"></i><span>@Resources.Admin</span></a></li>
                    @*<li class="@(currentController == "feedback" ? "nav-parent active" : "")"><a href="~/feedback"><i class="fa fa-vcard-o"></i><span>@Resources.LeaveFeedback</span></a></li>*@
                </ul>
            }
            else
            {
                <ul class="nav nav-horizontal">
                    @if (@lang == "EN")
                    {
                        <li class="logo" style="background-image: url('../../Content/images/logo/NESNavEN1.png'); background-repeat:no-repeat">
                            <h1></h1>
                        </li>
                    }
                    else
                    {
                        <li class="logo" style="background-image: url('../../Content/images/logo/NESNavFR1.png'); background-repeat:no-repeat">
                            <h1></h1>
                        </li>
                    }
                    @if (User.IsInRole("NOF_ROLE") || User.IsInRole("NOF_ADMINISTRATOR"))
                    {
                        <li class="@(currentController == "dashboard" ? "nav-parent active" : "")"><a href="~/dashboard"><i class="fa fa-vcard-o"></i><span>@Resources.Dashboard</span></a></li>
                    }
                    else
                    {
                        <li class="@(currentController == "dashboard" ? "nav-parent active" : "")"><a href="~/dashboard"><i class="fa fa-user-circle-o"></i><span>@Resources.Dashboard</span></a></li>
                    }
                    <li class="@(currentController == "administration" ? "nav-parent active" : "")"><a href="~/administration"><i class="fa fa-vcard-o"></i><span>@Resources.Admin</span></a></li>
                </ul>
            }
        </div>
    </div>
    <div class="header-right hidden-sm hidden-xs">
        <ul class="header-menu nav navbar-nav">
            <!-- BEGIN USER DROPDOWN -->
            <li class="dropdown" id="language-header">
                <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="icon-question"></i>
                    <span>@Resources.Help</span>
                </a>
                <ul class="dropdown-menu help-menu" id="help-menu">
                    <li>
                        @if (User.IsInRole("Administrator"))
                        {
                            <a href="~/Content/help/@userGuidePdf#c_role_system_administrator_overview" target="_blank"><span>@Resources.Help_UserGuide</span></a>
                        }
                        else if (User.IsInRole("NOF_ROLE") || User.IsInRole("NOF_ADMINISTRATOR"))
                        {
                            <a href="~/Content/help/@userGuidePdf" target="_blank"><span>@Resources.Help_UserGuide</span></a>
                        }
                        else
                        {
                            <a href="~/Content/help/@userGuidePdf" target="_blank"><span>@Resources.Help_UserGuide</span></a>
                        }
                    </li>
                    <li style="min-width: 120px">
                        <a href="@cnopUrl" target="_blank"><span>@Resources.CNOP</span></a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" id="language-header">
                <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="icon-globe"></i>
                    <span>@Resources.Language</span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="~/Account/Language?culture=en&returnUrl=@Request.RawUrl" data-lang="en"><span>English</span></a>
                        <a href="~/Account/Language?culture=fr&returnUrl=@Request.RawUrl" data-lang="en"><span>Français</span></a>
                    </li>
                </ul>
            </li>

            <!-- END USER DROPDOWN -->
            <!-- BEGIN NOTIFICATION DROPDOWN -->
            @*<li class="dropdown" id="notifications-header">
                    <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-bell"></i>
                        <span class="badge badge-danger badge-header">6</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header clearfix">
                            <p class="pull-left">12 Pending Notifications</p>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list withScroll" data-height="220">
                                <li>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-footer clearfix">
                            <a href="#" class="pull-left">See all notifications</a>
                            <a href="#" class="pull-right">
                                <i class="icon-settings"></i>
                            </a>
                        </li>
                    </ul>
                </li>*@
            <!-- END NOTIFICATION DROPDOWN -->

            @if (currentAction != "login")
            {
                @Html.Partial("_TopbarUserInfo")
            }
        </ul>
    </div>
    <!-- header-right -->
</div>