﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @Resources.LockedOut;
}

<hgroup>
    <h1 class="text-danger">@Resources.LockedOut.</h1>
    <h2 class="text-danger">@Resources.UserAccountLocked</h2>
</hgroup>
