﻿/*****************************
    Home page
*************************/

#homeMainContent {

}

#landingPageCenter{
    background-color:white;
    width:950px;
    height:100%;
    margin:auto;
}


.landingPageButton{
    width:225px;
    padding-top:3px;
}

#notwamWizInfoArea{
    font-size:15px;
    width:350px;
    padding-top:50px;
}

#howItWorksTable{
   width:100%;
}

#howItWorksTable td{
    text-align:center;
    padding:5px;
    vertical-align:top;
}

#moreInfoSection {
    font-size:13px;
    width:100%;
}

#moreInfoSection table{
    width:100%;
}

#moreInfoSection td{
    padding:2px;
}

#moreInfoSection a{
    color:white;
}