﻿<div class="row">
    <div class="app-header">
        <h2>
            <strong>{{'NsdSession.PageTitleBold' | translate:lang}} {{'NsdSession.PageTitle' | translate:lang}}</strong>
            <a href="../Content/help/NESUserGuide{{langCulture}}.pdf#c_adm_notam_scenario_definition" target="_blank" style="padding-left:10px;"><i class="icon-question"></i></a>
        </h2>
    </div>
    <div class="col-md-12">
        <div class="row">
            <button class="btn btn-primary m-r-10 m-b-10" (click)="adjustNsdStatusModal()" [disabled]="isOperational()">
                <i class="fa fa-plus m-r-10"></i>{{'NsdSession.Enable' | translate:lang}}
            </button>
            <button class="btn btn-primary m-r-10 m-b-10" (click)="adjustNsdStatusModal()" [disabled]="!isOperational()">
                <i class="fa fa-plus m-r-10"></i>{{'NsdSession.Disable' | translate:lang}}
            </button>
            <button class="btn btn-primary m-r-10 m-b-10" (click)="removeallOrganizations()">
                <i class="fa fa-plus m-r-10"></i>{{'NsdSession.RemoveFromOrganization' | translate:lang}}
            </button>
        </div>
    </div>

    <div class="col-md-12" style="height:100%;">
        <div class="row">
            <div class="col-md-12 portlets ui-sortable" style="padding-left:0px">
                <div class="panel" style="margin-bottom:0px; ">
                    <div class="panel-content" style="padding:5px">
                        <div class="dataTables_wrapper form-inline">
                            <div class="panel-body">
                                <div class="table-body-container scrollable" style="min-height: 329px !important; max-height: 329px !important">
                                    <table class="table table-hover table-dynamic table-responsive filter-footer dataTable m-b-5" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th tabindex="1" style="width: 1%;" rowspan="1" colspan="1">{{'NsdSession.Name' | translate:lang}}</th>
                                                <th tabindex="2" style="width: 6%;" rowspan="1" colspan="1">{{'NsdSession.Operational' | translate:lang}}</th>
                                            </tr>
                                        </thead>
                                        <tbody id="data-response">
                                            <tr role="row" *ngFor="let nsd of nsds; let i = index;" id="p_{{nsd.id}}" class="clickable-row" (click)="selectNsd(nsd)" [class.success]="nsd.isSelected">
                                                <td>
                                                    {{nsd.name}}
                                                </td>
                                                <td>
                                                    <div *ngIf="isOperationalListStatus(nsd)">
                                                        <span class="badge badge-sold">{{'NsdSession.OperationalStatusYes' | translate:lang}}</span>
                                                    </div>
                                                    <div *ngIf="!isOperationalListStatus(nsd)">
                                                        <span class="badge badge-warning">{{'NsdSession.OperationalStatusNo' | translate:lang}}</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div *ngIf="isNsdSelected()">
                                    <div class="col-md-12">
                                        <div style="padding-left:0; margin-bottom:0; margin-top:10px">
                                            <div class="app-header">
                                                <div class="row">
                                                    <h2><strong>{{'NsdSession.OrganizationPermissions' | translate:lang}}: </strong> {{this.selectedNsd.name}}</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <button class="btn btn-primary m-r-0 m-b-10" style="margin-bottom:5px; margin-top:6px" (click)="adjustOrganizationNsd()" [disabled]="!isOrgSelected()">
                                                    <i class="fa fa-plus m-r-10"></i>{{'NsdSession.RevokeAccess' | translate:lang}}
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel" style="background-color:#efefef">
                                                    <div class="panel-header" style="padding:0px 0px 0px 7px;">
                                                    </div>
                                                    <div class="panel-content" style="padding:5px">
                                                        <div class="table-body-container scrollable" style="min-height: 329px !important; max-height: 329px !important">
                                                            <table class="table table-hover table-dynamic table-responsive filter-footer dataTable" role="grid" style="margin-bottom:0">
                                                                <thead>
                                                                    <tr role="row" style="background-color: #c2c5bb">
                                                                        <th tabindex="1" style="width: 6%;" rowspan="1" colspan="1">{{'OrgSession.PageTitleBold' | translate:lang}}</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="data-response">
                                                                    <tr role="row" *ngFor="let org of orgs; let i = index;" id="p_{{org.id}}" class="clickable-row" (click)="selectOrg(org)" [class.success]="org.isSelected">
                                                                        <td>
                                                                            {{org.text}}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <img src="../../../content/images/animated_loading.gif" [style.display]="loadingConditions ? 'inherit': 'none'" class="pull-right" style="width:150px; height:20px;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isNsdSelected()">
        <div id="modal-adjust-operational-status" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                        <h4 class="modal-title"><b>{{'NsdSession.AdjustOperationalStatus' | translate:lang}}</b></h4>
                    </div>
                    <div class="modal-body">
                        <div *ngIf="isOperational()">
                            <b><strong>{{'NsdSession.DisableNsd' | translate:lang}}: {{this.selectedNsd.name}} NSD?</strong></b>
                        </div>
                        <div *ngIf="!isOperational()">
                            <b>{{'NsdSession.EnableOperationalNsd' | translate:lang}} {{this.selectedNsd.name}} NSD?</b>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="adjustNsdStatus()">{{'Common.Yes' | translate:lang}}</button>
                        <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isNsdSelected() && isOrganizationSelected()">
        <div id="modal-remove-organizations-status" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                        <h4 class="modal-title"><b>{{'NsdSession.RevokeOrganizationAccess' | translate:lang}}</b></h4>
                    </div>
                    <div class="modal-body">
                        <b><strong>{{'NsdSession.Remove' | translate:lang}} {{this.selectedNsd.name}} {{'NsdSession.From' | translate:lang}} {{this.selectedOrganization.text}}?</strong></b>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="revokeOrganizationAccess()">{{'Common.Yes' | translate:lang}}</button>
                        <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-confirmation-status" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-green">
                    <h4 class="modal-title"><b></b></h4>
                </div>
                <div class="modal-body">
                    <b><strong>{{'NsdSession.ConfirmationRevoked' | translate:lang}}</strong></b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.Ok' | translate:lang}}</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-confirmation-operational-status" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-green">
                    <h4 class="modal-title"><b></b></h4>
                </div>
                <div class="modal-body">
                    <b><strong>{{'NsdSession.OperationalStatusRevoke' | translate:lang}}</strong></b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.Ok' | translate:lang}}</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-confirmation-operationalGranted-status" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-green">
                    <h4 class="modal-title"><b></b></h4>
                </div>
                <div class="modal-body">
                    <b><strong>{{'NsdSession.OperationalStatusGranted' | translate:lang}}</strong></b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.Ok' | translate:lang}}</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-remove-allorganizations" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title"><b>{{'NsdSession.RemoveFromOrganization' | translate:lang}}</b></h4>
                </div>
                <div class="modal-body">
                    <b><strong>{{'NsdSession.AreYouSureRemoveAll' | translate:lang}}</strong></b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="removeFromAllOrganizations(this.selectedNsd)">{{'Common.Yes' | translate:lang}}</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
                </div>
            </div>
        </div>
    </div>