﻿<div class="panel bg-blue-dark" [formGroup]="nsdFrmGroup">
    <div class="panel-header">
        <h3><i class="fa fa-plane"></i> <strong>{{'Nsd.AerodromeLocationDescription' | translate:lang}}</strong></h3>
        <div class="control-btn">
            <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>

    <!--nsd-body-->
    <div class="panel-content bg-white">
        <!--SDOs with CARS-->
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.ItemA' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <select2 [value]="nsdFrmGroup.get('subjectId').value"
                                 [data]="subjects"
                                 [disabled]="true"
                                 [options]="sdoSubjectWithCarsOptions()"></select2>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.Status' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <select2 [value]="nsdFrmGroup.get('carsStatusId').value"
                                 [data]="carsStatus"
                                 [disabled]="true"
                                 [options]="carsStatusOptions"></select2>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="carsStatusId === 1">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">{{'Nsd.StartHour' | translate:lang}}</label>
                        <div class="append-icon">
                            <input id="startHour" formControlName="startHour" type="text" class="form-control form-white"
                                   [class.form-white]="!isReadOnly" placeholder="HHMM" maxlength="4" size="4">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">{{'Nsd.EndHour' | translate:lang}}</label>
                        <div class="append-icon">
                            <input id="endHour" formControlName="endHour" type="text" class="form-control form-white"
                                   [class.form-white]="!isReadOnly" placeholder="HHMM" maxlength="4" size="4">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.DaylightSavingTime' | translate:lang}}</label>
                        <div>
                            <label class="switch m-r-20">
                                <input id="daylightSavingTime" formControlName="daylightSavingTime" class="switch-input" type="checkbox">
                                <span class="switch-label" attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.Everyday' | translate:lang}}</label>
                        <div>
                            <label class="switch m-r-20">
                                <input formControlName="everyday" class="switch-input" type="checkbox">
                                <span class="switch-label" attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="form-group">
                        <label class="form-label"> &nbsp;</label>
                        <div class="input-group">
                            <div class="icheck-inline">
                                <label>
                                    <iCheck [isChecked]="nsdFrmGroup.get('daysOfWeek.monday').value" class="cars-icheck"
                                            [disabled]="disabledDayCheckbox">{{'Weekdays.Monday' | translate:lang}}</iCheck>
                                </label>
                                <label>
                                    <iCheck [isChecked]="nsdFrmGroup.get('daysOfWeek.tuesday').value" class="cars-icheck"
                                            [disabled]="disabledDayCheckbox">{{'Weekdays.Tuesday' | translate:lang}}</iCheck>
                                </label>
                                <label>
                                    <iCheck [isChecked]="nsdFrmGroup.get('daysOfWeek.wednesday').value" class="cars-icheck"
                                            [disabled]="disabledDayCheckbox">{{'Weekdays.Wednesday' | translate:lang}}</iCheck>
                                </label>
                                <label>
                                    <iCheck [isChecked]="nsdFrmGroup.get('daysOfWeek.thursday').value" class="cars-icheck"
                                            [disabled]="disabledDayCheckbox">{{'Weekdays.Thursday' | translate:lang}}</iCheck>
                                </label>
                                <label>
                                    <iCheck [isChecked]="nsdFrmGroup.get('daysOfWeek.friday').value" class="cars-icheck"
                                            [disabled]="disabledDayCheckbox">{{'Weekdays.Friday' | translate:lang}}</iCheck>
                                </label>
                                <label>
                                    <iCheck [isChecked]="nsdFrmGroup.get('daysOfWeek.saturday').value" class="cars-icheck"
                                            [disabled]="disabledDayCheckbox">{{'Weekdays.Saturday' | translate:lang}}</iCheck>
                                </label>
                                <label>
                                    <iCheck [isChecked]="nsdFrmGroup.get('daysOfWeek.sunday').value" class="cars-icheck"
                                            [disabled]="disabledDayCheckbox">{{'Weekdays.Sunday' | translate:lang}}</iCheck>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="addReason === true">
            <div class="row">
                <div *ngIf="!isBilingualRegion" class="col-md-12">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.ClosureReasonLabel' | translate:lang}}</label>
                        <div class="append-icon">
                            <textarea cols="80" rows="2" formControlName="reason"
                                      class="form-control" placeholder="{{'Nsd.ClosureReasonLabel' | translate:lang}}"
                                      [class.form-white]="nsdFrmGroup.get('reason').enabled"
                                      style="text-transform:uppercase; resize:vertical"></textarea>
                            <i class="fa fa-pencil-square-o"></i>
                        </div>
                    </div>
                </div>
                <div *ngIf="isBilingualRegion" class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.ClosureReasonLabel' | translate:lang}}</label>
                        <div class="append-icon">
                            <textarea cols="80" rows="2" formControlName="reason"
                                      class="form-control" placeholder="{{'Nsd.ClosureReasonLabel' | translate:lang}}"
                                      [class.form-white]="nsdFrmGroup.get('reason').enabled"
                                      style="text-transform:uppercase; resize:vertical"></textarea>
                            <i class="fa fa-pencil-square-o"></i>
                        </div>
                    </div>
                </div>
                <div *ngIf="isBilingualRegion" class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.ClosureReasonLabelFr' | translate:lang}}</label>
                        <div class="append-icon">
                            <textarea cols="80" rows="2" formControlName="reasonFr"
                                      class="form-control" placeholder="{{'Nsd.ClosureReasonLabelFr' | translate:lang}}"
                                      [class.form-white]="nsdFrmGroup.get('reasonFr').enabled"
                                      style="text-transform:uppercase; resize:vertical"></textarea>
                            <i class="fa fa-pencil-square-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <input id="refreshIcao" formControlName="refreshIcao" type="hidden" />
</div>


