﻿@using Westwind.Globalization
@inherits WebViewPage
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style scoped>
    .form-inline .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .panel-heading {
        font-weight: bold;
    }

    .invalid {
        border: 2px solid #ff0000;
        margin: -2px;
    }
</style>
<div style="padding: 10px">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">@DbRes.T("Taxiways", "NSD-TwyClsd")</div>
            <div class="panel-body" id="taxiwaysConditionContainer">
                <div style="margin-bottom: 15px">
                    <div style="margin-bottom: 15px">
                        <input class="k-textbox" data-bind="value: TaxiwayId" id="availableTaxiways" />
                    </div>
                    <div style="margin-bottom: 15px">
                        <label for="closureTypeFull">
                            <input data-bind="checked: ClosureType" id="closureTypeFull" name="closureTypes" type="radio" value="0" />
                            <span>@DbRes.T("Full Closure", "NSD-TwyClsd")</span>
                        </label>
                        <label data-bind="invisible: AllTaxiwaysSelected" for="closureTypePartial">
                            <input data-bind="checked: ClosureType" id="closureTypePartial" name="closureTypes" type="radio" value="1" />
                            <span>@DbRes.T("Partial Closure", "NSD-TwyClsd")</span>
                        </label>
                    </div>
                    <div data-bind="visible: IsPartialClosure" style="margin-bottom: 15px">
                        <div style="margin-bottom: 15px">
                            <div>
                                <label class="control-label" data-bind="visible: Bilingual" for="point1">@DbRes.T("Text (En):", "NSD-TwyClsd")</label>
                            </div>
                            <div class="form-inline" style="margin-left: 15px">
                                <div class="form-group">
                                    <label for="point1">@DbRes.T("BETWEEN", "NSD-TwyClsd")</label>
                                    <input class="form-control k-textbox" data-bind="value: Point1" id="point1" name="point1" placeholder="@DbRes.T("Point 1", "NSD-TwyClsd")">
                                </div>
                                <div class="form-group">
                                    <label for="point2">@DbRes.T("AND", "NSD-TwyClsd")</label>
                                    <input class="form-control k-textbox" data-bind="value: Point2" id="point2" name="point2" placeholder="@DbRes.T("Point 2", "NSD-TwyClsd")">
                                </div>
                            </div>
                        </div>
                        <div data-bind="visible: Bilingual">
                            <div>
                                <label class="control-label" for="point1French">@DbRes.T("Text (Fr):", "NSD-TwyClsd")</label>
                            </div>
                            <div class="form-inline" style="margin-left: 15px">
                                <div class="form-group">
                                    <label for="point1French">@DbRes.T("BETWEEN", "NSD-TwyClsd")</label>
                                    <input class="form-control k-textbox" data-bind="value: Point1French" id="point1French" name="point1French" placeholder="@DbRes.T("Point 1", "NSD-TwyClsd")">
                                </div>
                                <div class="form-group">
                                    <label for="point2French">@DbRes.T("AND", "NSD-TwyClsd")</label>
                                    <input class="form-control k-textbox" data-bind="value: Point2French" id="point2French" name="point2French" placeholder="@DbRes.T("Point 2", "NSD-TwyClsd")">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom: 15px">
                        <span class="k-invalid-msg" data-for="point1"></span>
                        <span class="k-invalid-msg" data-for="point1French"></span>
                        <span class="k-invalid-msg" data-for="point2"></span>
                        <span class="k-invalid-msg" data-for="point2French"></span>
                    </div>
                    <div>
                        <button class="k-button k-button-icontext" id="addTaxiway" type="button">
                            <span class="k-add k-icon"></span>@DbRes.T("Add Taxiway", "NSD-TwyClsd")
                        </button>
                    </div>
                </div>
                <div id="closedTaxiways"></div>
            </div>
        </div>
        <div id="nsdConditionContainer">
            <div class="panel panel-default">
                <div class="panel-heading">@DbRes.T("Closure Reason", "NSD-TwyClsd")</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <input class="k-textbox" data-bind="value: ClosureReason" id="closureReason" />
                        </div>
                        <div class="col-lg-6" data-bind="visible: IsOtherClosureReason">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label data-bind="visible: Bilingual" for="closureReasonText">@DbRes.T("Text (En):", "NSD-TwyClsd")</label>
                                    <input class="form-control k-textbox" data-bind="value: ClosureReasonText" id="closureReasonText" name="closureReasonText" placeholder="@DbRes.T("Closure Reason", "NSD-TwyClsd")">
                                </div>
                                <div class="form-group" data-bind="visible: Bilingual">
                                    <label for="closureReasonTextFrench">@DbRes.T("Text (Fr):", "NSD-TwyClsd")</label>
                                    <input class="form-control k-textbox" data-bind="value: ClosureReasonTextFrench" id="closureReasonTextFrench" name="closureReasonTextFrench" placeholder="@DbRes.T("Closure Reason", "NSD-TwyClsd")">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin: 15px 0">
                <span class="k-invalid-msg" data-for="hasClosedTaxiways"></span>
                <span class="k-invalid-msg" data-for="closureReasonText"></span>
                <span class="k-invalid-msg" data-for="closureReasonTextFrench"></span>
            </div>
            <input data-bind="value: HasClosedTaxiways" id="hasClosedTaxiways" name="hasClosedTaxiways" type="hidden" />
        </div>
        <script id="closedTaxiwaysPointsTemplate" type="text/kendo-template">
            <div>
                <span>@DbRes.T("BETWEEN", "NSD-TwyClsd")</span>
                <span>#= Point1 #</span>
                <span>@DbRes.T("AND", "NSD-TwyClsd")</span>
                <span>#= Point2 #</span>
            </div>
        </script>
        <script id="closedTaxiwaysPointsBilingualTemplate" type="text/kendo-template">
            <div>
                <span>@DbRes.T("Text (En)", "NSD-TwyClsd")</span>
                <span>@DbRes.T("BETWEEN", "NSD-TwyClsd")</span>
                <span>#= Point1 #</span>
                <span>@DbRes.T("AND", "NSD-TwyClsd")</span>
                <span>#= Point2 #</span>
            </div>
            <div>
                <span>@DbRes.T("Text (Fr):", "NSD-TwyClsd")</span>
                <span>@DbRes.T("BETWEEN", "NSD-TwyClsd")</span>
                <span>#= Point1French #</span>
                <span>@DbRes.T("AND", "NSD-TwyClsd")</span>
                <span>#= Point2French #</span>
            </div>
        </script>
    </div>
</div>
<div id="nsdData" data-closurereasons="@Html.Encode(Html.Raw(Json.Encode(ViewBag.ClosureReasons)))"></div>
<div id="nsdModel" data-model="@Html.Encode(Html.Raw(Json.Encode(Model)))"></div>