﻿@using Westwind.Globalization;

<script id="CreateOrAssignDOATemplate" type="text/x-kendo-template">
        <div id="CreateOrAssignDOA-Content">

            <table id="CreateOrAssignDOAContentTable">
                <tr>
                    <td></td>
                    <td>
                        <strong>
                            @DbRes.T("Assign to an existing DOA:", "NewRegistrationRes")
                        </strong>
                        <input id="AssignDOA" name="AssignDOA" type="text" style="width:300px" />
                    </td>

                </tr>
                <tr>
                    <td></td>
                    <td>
                        <strong>
                            @DbRes.T("Or create a DOA using one of the following Airdromes:", "NewRegistrationRes")
                        </strong>
                        <input id="AssignAirdromes" name="AssignAirdromes" type="text" style="width:300px" />
                    </td>

                </tr>
                <tr>

                    <td><button id="btnPreviousDOA" type="button" class="k-button" style="width:200px">@DbRes.T("Previous", "NewRegistrationRes")</button></td>
                    <td align="right">
                        @*<button id="btnPreviousOrg" type="button" class="k-button" style="width:290px">@DbRes.T("Previous", "NewRegistrationRes")</button>*@
                        @*<button id="btnCreateDOA" type="button" class="k-button" style="width:300px">@DbRes.T("Create an Organization", "NewRegistrationRes")</button>*@
                    </td>
                </tr>
            </table>
        </div>

</script>
