﻿@model NAVTAM.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<script src='https://www.google.com/recaptcha/api.js'></script>

<div class="header">
    <h2><strong>Register </strong>to NAVTAM</h2>
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li>
                <a href="~/home">Home</a>
            </li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </div>
</div>

@Html.ValidationSummary("", new { @class = "text-danger" })
<div class="container">
    <div class="row">
        <div class="panel panel-default no-bd">
            <div class="panel-header bg-dark">
                <h2 class="panel-title"><strong>Registration</strong> form</h2>
            </div>
            <div class="panel-body bg-white">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @using (Html.BeginForm("Register", "Register", FormMethod.Post, new { @class = "form-validation", role = "form", novalidate = "novalidate" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <h4><i class="fa fa-id-card-o"></i>&nbsp;User information:</h4>
                            </div>
                            <div class="row">
                                @*UserName and Position*@
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                                        <div class="append-icon">
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @minlength = "3", @placeholder = "Minimum 3 characters...", @required = "" })
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Position, new { @class = "control-label" })
                                        <div class="append-icon">
                                            @Html.TextBoxFor(m => m.Position, new { @class = "form-control", @minlength = "4", @placeholder = "Minimum 4 characters...", @required = "" })
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @*Firstname and Lastname*@
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.FisrtName, new { @class = "control-label" })
                                        <div class="append-icon">
                                            @Html.TextBoxFor(m => m.FisrtName, new { @class = "form-control", @minlength = "2", @placeholder = "Minimum 2 characters...", @required = "" })
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                                        <div class="append-icon">
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @minlength = "2", @placeholder = "Minimum 2 characters...", @required = "" })
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @*Email and Address*@
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                        <div class="append-icon">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            <i class="icon-envelope"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                                        <div class="append-icon">
                                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                            <i class="fa fa-map"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                @*Telephone and Fax*@
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Telephone, new { @class = "control-label" })
                                        <div class="append-icon">
                                            @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control" })
                                            <i class="fa fa-phone"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Fax, new { @class = "control-label" })
                                        <div class="append-icon">
                                            @Html.TextBoxFor(m => m.Fax, new { @class = "form-control" })
                                            <i class="fa fa-fax"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                @*Password and Confirm Password*@
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                        <div class="append-icon">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            <i class="icon-lock"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                        <div class="append-icon">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                            <i class="icon-lock"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                @*Reason*@
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Reason, new { @class = "control-label" })
                                        <div class="append-icon">
                                            @Html.TextBoxFor(m => m.Reason, new { @class = "form-control" })
                                            <i class="fa fa-edit"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <h4><i class="fa fa-building-o"></i>&nbsp;Organization information:</h4>
                            </div>

                            <div class="row">
                                @*Organization Name and Address*@
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.OrgName, new { @class = "control-label" })
                                        <div class="append-icon">
                                            @Html.TextBoxFor(m => m.OrgName, new { @class = "form-control", @minlength = "3", @placeholder = "Minimum 3 characters...", @required = "" })
                                            <i class="fa fa-address-book-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.OrgAddress, new { @class = "control-label" })
                                        <div class="append-icon">
                                            @Html.TextBoxFor(m => m.OrgAddress, new { @class = "form-control", @minlength = "3", @placeholder = "Minimum 3 characters...", @required = "" })
                                            <i class="fa fa-map"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @*Organization Email and Telephone*@
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.OrgEmailAddress, new { @class = "control-label" })
                                        <div class="append-icon">
                                            @Html.TextBoxFor(m => m.OrgEmailAddress, new { @class = "form-control" })
                                            <i class="icon-envelope"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.OrgTelephone, new { @class = "control-label" })
                                        <div class="append-icon">
                                            @Html.TextBoxFor(m => m.OrgTelephone, new { @class = "form-control" })
                                            <i class="fa fa-phone"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @*Organization Email and Telephone*@
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.TypeOfOperation, new { @class = "control-label" })
                                        <div class="append-icon">
                                            @Html.TextBoxFor(m => m.TypeOfOperation, new { @class = "form-control" })
                                            <i class="icon-question"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.HeadOffice, new { @class = "control-label" })
                                        <div class="append-icon">
                                            @Html.TextBoxFor(m => m.HeadOffice, new { @class = "form-control" })
                                            <i class="fa fa-address-book-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <h4><i class="fa fa-folder-open-o"></i>&nbsp;Terms and Conditions:</h4>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="panel panel-info">
                                            <div class="panel-body">
                                                line 1 line 1 line 1 line 1 line 1 line 1 line 1
                                                line 2 line 2 line 2 line 2 line 2 line 2 line 2
                                                line 3 line 3 line 3 line 3 line 3 line 3 line 3
                                                line 4 line 4 line 4 line 4 line 4 line 4 line 4
                                                line 1 line 1 line 1 line 1 line 1 line 1 line 1
                                                line 2 line 2 line 2 line 2 line 2 line 2 line 2
                                                line 3 line 3 line 3 line 3 line 3 line 3 line 3
                                                line 4 line 4 line 4 line 4 line 4 line 4 line 4
                                                <br />
                                                <label for="Condition" class="m-t-10">
                                                    <input type="checkbox" name="Condition" id="Condition" data-checkbox="icheckbox_square-blue" required />&nbsp;I agree with terms and conditions
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- catcha -->
                            <div class="g-recaptcha" data-sitekey="@ViewBag.RecaptchaKey"></div>

                            <div class="text-center  m-t-20">
                                <button type="submit" class="btn btn-blue" value="Register">@ViewBag.Title</button>
                                <button type="reset" class="cancel btn btn-default m-b-10 m-r-0">Cancel</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*@using (Html.BeginForm("Register", "Register", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>

    }*@


@*<form role="form" class="form-validation" novalidate="novalidate">
        <div class="row">
            <h4><i class="fa fa-id-card-o"></i>&nbsp;User information:</h4>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                    <div class="append-icon">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @minlength = "3", @placeholder = "Minimum 3 characters...", @required = "" })
                        <i class="icon-user"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Position, new { @class = "control-label" })
                    <div class="append-icon">
                        @Html.TextBoxFor(m => m.Position, new { @class = "form-control", @minlength = "4", @placeholder = "Minimum 4 characters...", @required = "" })
                        <i class="fa fa-user"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.FisrtName, new { @class = "control-label" })
                    <div class="append-icon">
                        @Html.TextBoxFor(m => m.FisrtName, new { @class = "form-control", @minlength = "2", @placeholder = "Minimum 2 characters...", @required = "" })
                        <i class="icon-user"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                    <div class="append-icon">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @minlength = "2", @placeholder = "Minimum 2 characters...", @required = "" })
                        <i class="icon-user"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    <div class="append-icon">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        <i class="icon-envelope"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                    <div class="append-icon">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                        <i class="fa fa-map"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Telephone, new { @class = "control-label" })
                    <div class="append-icon">
                        @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control" })
                        <i class="fa fa-phone"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Fax, new { @class = "control-label" })
                    <div class="append-icon">
                        @Html.TextBoxFor(m => m.Fax, new { @class = "form-control" })
                        <i class="fa fa-fax"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    <div class="append-icon">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        <i class="icon-lock"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    <div class="append-icon">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        <i class="icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.Reason, new { @class = "control-label" })
                    <div class="append-icon">
                        @Html.TextBoxFor(m => m.Reason, new { @class = "form-control" })
                        <i class="fa fa-edit"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h4><i class="fa fa-building-o"></i>&nbsp;Organization information:</h4>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.OrgName, new { @class = "control-label" })
                    <div class="append-icon">
                        @Html.TextBoxFor(m => m.OrgName, new { @class = "form-control", @minlength = "3", @placeholder = "Minimum 3 characters...", @required = "" })
                        <i class="fa fa-address-book-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.OrgAddress, new { @class = "control-label" })
                    <div class="append-icon">
                        @Html.TextBoxFor(m => m.OrgAddress, new { @class = "form-control", @minlength = "3", @placeholder = "Minimum 3 characters...", @required = "" })
                        <i class="fa fa-map"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.OrgEmailAddress, new { @class = "control-label" })
                    <div class="append-icon">
                        @Html.TextBoxFor(m => m.OrgEmailAddress, new { @class = "form-control" })
                        <i class="icon-envelope"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.OrgTelephone, new { @class = "control-label" })
                    <div class="append-icon">
                        @Html.TextBoxFor(m => m.OrgTelephone, new { @class = "form-control" })
                        <i class="fa fa-phone"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.TypeOfOperation, new { @class = "control-label" })
                    <div class="append-icon">
                        @Html.TextBoxFor(m => m.TypeOfOperation, new { @class = "form-control" })
                        <i class="icon-question"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.HeadOffice, new { @class = "control-label" })
                    <div class="append-icon">
                        @Html.TextBoxFor(m => m.HeadOffice, new { @class = "form-control" })
                        <i class="fa fa-address-book-o"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h4><i class="fa fa-folder-open-o"></i>&nbsp;Terms and Conditions:</h4>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            line 1 line 1 line 1 line 1 line 1 line 1 line 1
                            line 2 line 2 line 2 line 2 line 2 line 2 line 2
                            line 3 line 3 line 3 line 3 line 3 line 3 line 3
                            line 4 line 4 line 4 line 4 line 4 line 4 line 4
                            line 1 line 1 line 1 line 1 line 1 line 1 line 1
                            line 2 line 2 line 2 line 2 line 2 line 2 line 2
                            line 3 line 3 line 3 line 3 line 3 line 3 line 3
                            line 4 line 4 line 4 line 4 line 4 line 4 line 4
                            <br />
                            <label for="Condition" class="m-t-10">
                                <input type="checkbox" name="Condition" id="Condition" data-checkbox="icheckbox_square-blue" required />&nbsp;I agree with terms and conditions
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="text-center  m-t-20">
            <button type="submit" class="btn btn-blue" value="Register">@ViewBag.Title</button>
            <button type="reset" class="cancel btn btn-default m-b-10 m-r-0">Cancel</button>
        </div>
    </form>*@




@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
