﻿.form-center {
    margin: 40px auto auto auto;
    width: 70%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    }

/*input {
    margin-left: 0px;
}*/
  

#required {
    text-align:left;
}
    input[type="reset"]{
        width:300px;
        margin: auto;
        margin-top: 10px;
        height: 30px;        
    }

        input[type="submit"]{
        width: 450px;
        margin: auto;
        margin-top: 10px;
        height: 30px;      
    }

fieldset.submit {
    border: none;
    margin: auto;
    width: 45%;   
}

fieldset.user{
    border: none;
    margin: auto;
    width: 45%;   
}
fieldset.organization{
    border: none;
    margin: auto;   
    width: 45%;    
}

    fieldset legend {
        display: inline;
         font-weight: bold;
    }

    fieldset tr {
        padding-bottom: 5px;               
        list-style: none;
        vertical-align: top;
    }
    

label {
    display: inline;
    text-align: left;   
    float: left;    
    width:300px;
}


input {
  border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    width: 450px;  
    text-align: left;   
    float: right;
    display: inline;
}

textarea {
  border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    width: 445px;  
    height: 60px;
    text-align: left;   
    float: right;
    display: inline;
}



    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }
       
td input[type="CheckBox"]
{
    width:30px;  
    margin-top: 3px; 
    text-align: left;   
    float: left;
}
td input[type="submit"],
td button {
    font-size: 1em;
    padding: 4px;
   
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}


/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
  background-color: #ffe0d9;
  color: #ef470a;
  border-color: #ef470a;
  border-width:1px;

  border-radius: 3px;
    font-size: 1.1em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:10px;
}

.validation-summary-errors ul {
    margin: auto;
    padding: 0;
    text-align: center;
}

.validation-summary-errors li {

    list-style: none;
    margin: auto;
}

.validation-summary-valid {
    display: none;
}

.validation-error {
    display: block;
    padding: 5px;
    margin: auto;
    margin-left: 15px;
}

fieldset.Termsandcondition{
    border: none;

}