﻿@using NavCanada.Applications.NotamWiz.Web.Models
@using Westwind.Globalization;
@using Westwind.Globalization;
@model Dictionary<string, Object>

@{
    NotamSubjectViewModel subjectModel = (NotamSubjectViewModel)Model["subject"];    
}

<div id="dataModel" data-model='@Html.Raw(Json.Encode(Model))'></div>
<div style="height:inherit">
    <div id="NSDList"></div>
   <!-- <button id="btnCancelNSDSelecion" class="k-button" style="float:right;width: 150px;margin:10px 0px 0px 5px">@DbRes.T("Cancel", "AvailableNsdList")</button>
--></div>

<script>
	require(["c/Nsds/AvailableNsdList"], function (nsds) {
        var labels = {
            categoryLabel: '@DbRes.T("Category", "AvailableNsdList")',
            nameLabel: '@DbRes.T("Name", "AvailableNsdList")',
            descriptionLabel: '@DbRes.T("Description", "AvailableNsdList")',
      };
      nsds.init(labels);
    })

</script>