﻿<div class="sidebar">
    <div class="logopanel">
        <h1>
            <a href="#"></a>
        </h1>
    </div>
    <div class="sidebar-inner">
        <div class="menu-title">
            NSD Cateories
        </div>
        <ul class="nav nav-sidebar">
            <ng-container *ngFor="let parent of nsdCategories">
                <li *ngIf="!parent.children"  class="nav-parent active">
                    <a href="#" (click)="getNotamsByCategory(parent.categoryId)">
                        <i class="icon-umbrella"></i><span>{{parent.text}}</span>
                    </a>
                </li>
                <li *ngIf="parent.children"  class="nav-parent">
                    <a href="#">
                        <i class="fa fa-flag"></i>
                        <span>{{parent.text}}</span><span class="fa arrow"></span>
                    </a>
                    <ul class="children">
                        <li *ngFor="let children of parent.children" class="nav-parent" [class.active]="selectedCategory?.categoryId === children.categoryId">
                            <a href="#" (click)="getNotamsByCategory(children.categoryId)">
                                <span>{{children.text}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ng-container>
        </ul>
    </div>
</div>

