﻿<div class="app-header">
    <h2>
        <strong>{{'Common.Modify' | translate:lang}} </strong> {{'DoasAdminSession.PageTitleBold' | translate:lang}}
    </h2>

    <div class="breadcrumb-wrapper hidden-sm hidden-xs">
        <ol class="breadcrumb">
            <li>
                <a href="/administration">{{'Breadcrumb.Home' | translate:lang}}</a>
            </li>
            <li>
                <a href="/administration/doas">{{'Breadcrumb.Doas' | translate:lang}}</a>
            </li>
            <li class="active">{{'DoasAdminSession.UpdateTitleDoa' | translate:lang}}</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="doasForm" class="form" autocomplete="off" (ngSubmit)="onSubmit()" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-user-md"></i> <strong>{{'DoasAdminSession.DoaDetails' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'DoasAdminSession.DoaName' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="doaName" formControlName="doaName" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'DoasAdminSession.DoaName' | translate:lang}}"
                                           style="font-size: 10px !important"
                                           minlength="3">
                                    <div *ngIf="!validDoaName()" class="form-error">{{'DoasAdminSession.RequieredDoaName' | translate:lang}}</div>
                                    <div *ngIf="validDoaName() && !validDoaNameSize()" class="form-error">{{'DoasAdminSession.RequieredDoaNameSize' | translate:lang}}</div>
                                    <div *ngIf="!isDoaUniqueName" class="form-error">{{'DoasAdminSession.RequieredDoaNameUnique' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'DoasAdminSession.DoaDescription' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="doaDescription" formControlName="doaDescription" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'DoasAdminSession.DoaDescription' | translate:lang}}"
                                           style="font-size: 10px !important"
                                           minlength="3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'DoasAdminSession.DoaCreationSource' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="doaSource" formControlName="doaSource" type="text"
                                           class="form-control form-white"
                                           [class.form-white]="true" 
                                           style="text-transform:uppercase; font-size: 10px !important"
                                           minlength="3">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'DoasAdminSession.FileContent' | translate:lang}}</label>
                                <div class="form-group">
                                    <textarea id="doaGeo" formControlName="doaGeo" type="text"
                                              rows="4" cols="20" class="form-control"
                                              [class.form-white]="true" readonly></textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{'DoasAdminSession.Location' | translate:lang}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                    <input id="doaLocation"
                                           formControlName="doaLocation" type="text" class="form-control"
                                           [ngClass]="{'form-error': !validateLocation() }"
                                           [class.form-white]="true"
                                           placeholder="{{'DoasAdminSession.Location' | translate:lang}}"
                                           style="text-transform:uppercase; font-size: 10px !important">
                                    <!--<i class="fa fa-map-marker"></i>-->
                                </div>
                                <div *ngIf="!validateLocation()" class="form-error">{{'DoasAdminSession.InvalidLocation' | translate:lang}}</div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group" style="margin-right: 20px;">
                                <label class="form-label">{{'DoasAdminSession.Radius' | translate:lang}}</label>&nbsp;<span>(NM)</span>
                                <div class="input-group">
                                    <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px;" (click)="decRadius()">-</span>
                                    <input id="doaRadius" formControlName="doaRadius" class="form-control"
                                           [ngClass]="{'form-error': !validateRadius() }" [class.form-white]="true" type="text">
                                    <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px;" (click)="incRadius()">+</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'DoasAdminSession.Actions' | translate:lang}}</label>
                                <div class="input-group">
                                    <button type="button" class="btn btn-embossed btn-primary" 
                                            (click)="prepareLocationData()"
                                            [disabled]="!includeLocationEnabled()">
                                        <i class="icon-plus"></i> {{'DoasAdminSession.Include' | translate:lang}}
                                    </button>
                                    <button type="button" class="btn btn-embossed btn-primary"
                                            (click)="prepareLocationData()"
                                            [disabled]="!excludeLocationEnabled()">
                                        <i class="icon-minus"></i> {{'DoasAdminSession.Exclude' | translate:lang}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row" style="width: 100%; height: 300px; overflow-y: scroll;">
                                <table class="table table-hover table-dynamic table-responsive filter-footer dataTable" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="1" style="width: 30%;">{{'DoasAdminSession.THeaderLocation' | translate:lang}}</th>
                                            <th tabindex="2" style="width: 20%;">{{'DoasAdminSession.THeaderRadius' | translate:lang}}</th>
                                            <th tabindex="3" style="width: 20%;">{{'DoasAdminSession.THeaderAction' | translate:lang}}</th>
                                            <th tabindex="4" style="width: 30%;">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr role="row" *ngFor="let location of doaChangesList;"
                                            (click)="pickLocation(location)"
                                            [ngClass]="rowColor(location)">
                                            <td style="width: 30%;" rowspan="1" colspan="1">
                                                <label class="form-label">{{location.source}}</label>
                                            </td>
                                            <td style="width: 20%;" rowspan="1" colspan="1">
                                                <label class="form-label">{{location.radius}}</label>
                                            </td>
                                            <td style="width: 20%;" rowspan="1" colspan="1">
                                                <label class="form-label">{{getAction(location.inDoa)}}</label>
                                            </td>
                                            <td style="width: 30%;" rowspan="1" colspan="1">
                                                <button type="button" class="btn btn-xs btn-primary"
                                                        (click)="deletePoint(location)">
                                                    <i class="icon-minus"></i> {{'DoasAdminSession.BtnDelete' | translate:lang}}
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="nav-tabs2">
                                <div class="tab-content">
                                    <div id="tab_map" class="_tab-pane"
                                         style="width:50%; height: 300px; _background: transparent url(/content/images/loading.png) no-repeat center center">
                                        <!--<div id="map" style="width:50%; height:200px"></div>-->
                                        <img width="100%" style="align-content: center" src="/Content/images/doa_temp_map.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center  m-t-20">
                        <button class="btn btn-embossed btn-primary" type="submit" [disabled]="disableSubmit()">{{'Common.Save' | translate:lang}}</button>
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToDoasList()">{{'Common.Cancel' | translate:lang}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

