﻿<div class="app-header">
    <div *ngIf="action === 'edit' ">
        <h2>
            <strong>{{'Common.Edit' | translate:lang}} {{'DoasAdminSession.PageTitleBold' | translate:lang}} </strong> 
        </h2>
    </div>
    <div *ngIf="action === 'view' ">
        <h2>
            <strong>{{'Common.View' | translate:lang}} {{'DoasAdminSession.PageTitleBold' | translate:lang}} </strong> 
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="doasForm" class="form" autocomplete="off" (ngSubmit)="onSubmit()" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-user-md"></i> <strong>{{'DoasAdminSession.DoaDetails' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'DoasAdminSession.DoaName' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="doaName" formControlName="doaName" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'DoasAdminSession.DoaName' | translate:lang}}"
                                           [class.form-white]="!isReadOnly" 
                                           style="font-size: 10px !important"
                                           minlength="3">
                                    <div *ngIf="!validDoaName()" class="form-error">{{'DoasAdminSession.RequieredDoaName' | translate:lang}}</div>
                                    <div *ngIf="validDoaName() && !validDoaNameSize()" class="form-error">{{'DoasAdminSession.RequieredDoaNameSize' | translate:lang}}</div>
                                    <div *ngIf="!isDoaUniqueName" class="form-error">{{'DoasAdminSession.RequieredDoaNameUnique' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'DoasAdminSession.DoaDescription' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="doaDescription" formControlName="doaDescription" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'DoasAdminSession.DoaDescription' | translate:lang}}"
                                           [class.form-white]="!isReadOnly" 
                                           style="font-size: 10px !important"
                                           minlength="3">
                                    <!--<div *ngIf="!validDoaDescritionSize()" class="form-error">{{'DoasAdminSession.RequieredDoaDescriptionSize' | translate:lang}}</div>-->
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'DoasAdminSession.DoaCreationSource' | translate:lang}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-map"></i></span>
                                    <select2 [value]="selectedSourceId"
                                             [data]="doaSources"
                                             (valueChanged)="onSourceChanged($event)"
                                             [disabled]="isReadOnly"
                                             [options]="doaSourceOptions"
                                             [class.form-white]="!isReadOnly"></select2>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="selectedSourceId === 1">
                            <div *ngIf="!isReadOnly">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label">{{'DoasAdminSession.FileContent' | translate:lang}}</label>
                                        <div class="file">
                                            <div class="input-group">
                                                <button class="file-button btn btn-sm btn-primary"
                                                        style="height: 25px; line-height: 15px">
                                                    <i class="fa fa-upload"></i>&nbsp;&nbsp;{{'DoasAdminSession.ChooseFile' | translate:lang}}
                                                </button>
                                                <input type="file" class="custom-file" name="attachments" id="attachments"
                                                       (change)="saveDoaFile()" required="" aria-required="true">
                                                <input type="text" class="" id="uploader" placeholder="" readonly=""
                                                       style="height: 25px; width:100px; line-height: 15px; opacity:0">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">&nbsp;&nbsp;</label>
                                    <div class="form-group">
                                        <textarea id="doaGeo" formControlName="doaGeo" type="text"
                                                  rows="4" cols="20" class="form-control"
                                                  [class.form-white]="true" readonly></textarea>

                                    </div>
                                </div>
                            </div>
                            <div *ngIf="isReadOnly">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label">{{'DoasAdminSession.FileContent' | translate:lang}}</label>
                                        <div class="form-group">
                                            <textarea id="doaGeo" formControlName="doaGeo" type="text"
                                                      rows="4" cols="20" class="form-control"
                                                      [class.form-white]="true" readonly></textarea>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="selectedSourceId === 2" class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'DoasAdminSession.FIR' | translate:lang}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-upload"></i></span>
                                    <select2 [value]="selectedFirId"
                                             [data]="firSources"
                                             (valueChanged)="onFirChanged($event)"
                                             [disabled]="isReadOnly"
                                             [options]="firSourceOptions"
                                             [class.form-white]="!isReadOnly"></select2>
                                </div>
                                <div *ngIf="doa.region.fir === ''" class="form-error">{{'DoasAdminSession.RequieredFIR' | translate:lang}}</div>
                            </div>
                        </div>
                        <div *ngIf="selectedSourceId === 3" class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'DoasAdminSession.Points' | translate:lang}}</label>
                                <div class="append-icon">
                                    <textarea id="doaPoints" formControlName="doaPoints" type="text"
                                              rows="5" cols="10"
                                              class="form-control"
                                              [class.form-white]="!isReadOnly"
                                              placeholder="{{'DoasAdminSession.Points' | translate:lang}}"></textarea>
                                </div>
                                <div *ngIf="!isValidLocation" class="form-error">{{'DoasAdminSession.InvalidPoints' | translate:lang}}</div>
                            </div>
                        </div>
                        <div *ngIf="selectedSourceId === 4">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">{{'DoasAdminSession.Location' | translate:lang}}</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                        <input id="doaLocation"
                                               formControlName="doaLocation" type="text" class="form-control"
                                               [ngClass]="{'form-error': !isValidLocation }"
                                               [class.form-white]="!isReadOnly"
                                               placeholder="{{'DoasAdminSession.Location' | translate:lang}}"
                                               style="text-transform:uppercase; font-size: 10px !important">
                                    </div>
                                    <div *ngIf="!isValidLocation" class="form-error">{{'DoasAdminSession.InvalidLocation' | translate:lang}}</div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group" style="margin-right: 20px;">
                                    <label class="form-label">{{'DoasAdminSession.Radius' | translate:lang}}</label>&nbsp;<span>(NM)</span>
                                    <div class="input-group">
                                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px;" (click)="decRadius()">-</span>
                                        <input id="doaRadius" formControlName="doaRadius" class="form-control"
                                               (keypress)="validateKeyPressNumber($event)"
                                               [ngClass]="{'form-error': !validateRadius('doaRadius') }" [class.form-white]="!isReadOnly" type="text">
                                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px;" (click)="incRadius()">+</span>
                                    </div>
                                    <div *ngIf="!validateRadius('doaRadius')" class="form-error">{{'DoasAdminSession.InvalidRadius' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--Map-->
                        <div class="col-md-12">
                            <div class="nav-tabs2">
                                <div class="tab-content">
                                    <div id="tab_map" class="_tab-pane" style="height: 300px; _background: transparent url(/content/images/loading.png) no-repeat center center">
                                        <div id="map" style="width:100%; _height:300px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="action === 'view' ">
                        <div class="text-center  m-t-20">
                            <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToDoasList()">{{'Common.Close' | translate:lang}}</button>
                        </div>
                    </div>
                    <div *ngIf="action === 'edit' ">
                        <div class="text-center  m-t-20">
                            <button class="btn btn-embossed btn-primary" type="submit" [disabled]="disableSubmit()">{{'Common.Save' | translate:lang}}</button>
                            <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToDoasList()">{{'Common.Cancel' | translate:lang}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

