﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <title>Internal Server Error (500)</title>

        @Styles.Render("~/content/css/error_pages/InternalServerError.css")
    </head>
    <body class="loading">
        <h1>500</h1>
        <h2>Unexpected Error <b>:(</b></h2>
        <div class="gears">
            <div class="gear one">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="gear two">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="gear three">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="js/main.js" type="text/javascript"></script>
        <script>
            $(function () {
                setTimeout(function () {
                    $('body').removeClass('loading');
                }, 1000);
            });
        </script>
    </body>
</html>
