﻿@using Westwind.Globalization
@inherits WebViewPage
<link href="@Url.Content("~/Content/Views/NSDEditor/NSDEditor.css")" rel="stylesheet" type="text/css" />
<style scoped>
    #modifiedNOTAMLabel {
        font-weight: 900;
    }
</style>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Font-Awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Font-Awesome/css/bootstrap-checkboxes.css" rel="stylesheet" />
<div id="nsdConditionContainer" style="padding: 10px">
    <div class="float-left full" id="horizontal">
        <form role="form" id="frm-condition">
            <table>
                <tr style="height: 100%">
                    <td>
                        <label>@DbRes.T("Status", "NSDEditor")</label>
                    </td>
                    <td>
                        <div class="checkbox checkbox-Status">
                            <input type="radio" data-bind="checked: CondStatusValue, value:CondStatus[0]" class="RadioButtonStatusSelection" name="RadioButtonStatusSelection" id="CarsClosed" />
                            <label class="text-info" for="CarsClosed">
                                @DbRes.T("Closed", "NSDEditor")&nbsp;
                            </label>

                            <input type="radio" data-bind="checked: CondStatusValue, value:CondStatus[1]" class="RadioButtonStatusSelection" name="RadioButtonStatusSelection" id="CarsHoursofOperation" />
                            <label class="text-info" for="CarsHoursofOperation">
                                @DbRes.T("Hours of Operation", "NSDEditor")
                            </label>
                        </div>
                    </td>
                </tr>
                <tr style="height: 100%">
                    <td>
                        <label>@DbRes.T("Schedule", "NSDEditor")&nbsp;</label>

                    </td>
                    <td>
                        <textarea class="k-textbox textAreaFill upperCase" cols="100" data-bind="value:SchText" id="CarsSchedule" name="CarsSchedule" placeholder="@DbRes.T("Define Schedule...", "NSD-CarsClsd")" readonly rows="2"></textarea>
                    </td>
                    <td>
                        <input class="k-button" id="btnCarsScheduleAPI" style="height: 100%" type="button" value="Add Schedule" />
                        <div id="CarsScheduleAPI-Popup"></div>
                    </td>
                </tr>
            </table>
        </form>
        <input type="text" name="Generatedtext" data-bind="value: SchText" style="height:1px;width: 550px;position:relative;display:block;visibility:hidden" id="Generatedtext">
    </div>
</div>
<div id="nsdModel" data-model="@Html.Encode(Html.Raw(Json.Encode(Model)))"></div>
<div id="ScheduleData" data-reasons="@Html.Encode(Html.Raw(Json.Encode(ViewBag.ScheduleData)))"></div>