﻿@using NAVTAM.ViewModels
@model FeedbackViewModel
@{
    Layout = "~/Views/Shared/_FeedbackLayout.cshtml";
    ViewBag.Title = Resources.LoginPageTitle;
}

<div>
    <div class="header">
        <h2><strong>Feedback</strong> Form</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default no-bd">
                <div class="panel-header bg-dark">
                    <h2 class="panel-title"><strong>Feedback</strong> form</h2>
                </div>
                <div class="row">
                    <div class="col-sm-12 m-t-20">
                        @if (Model != null && Model.InternalError)
                        {
                            <p class="alert bg-red">An unexpected error has ocurred. Please try again or contact our customer support team if the issue persist.</p>
                        }
                    </div>
                </div>
                <div class="panel-body bg-white">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            @using (Html.BeginForm("Post", "Feedback", FormMethod.Post, new { @class = "form-validation", @novalidate = "novalidate" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Firstname</label>
                                            <div class="append-icon">
                                                @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control form-white", required = "", placeholder = "Minimum 3 characters...", minlength = "3" })
                                                <i class="icon-user"></i>
                                                @Html.ValidationMessageFor(m => m.Firstname)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Lastname</label>
                                            <div class="append-icon">
                                                @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control form-white", required = "", placeholder = "Minimum 4 characters...", minlength = "3" })
                                                <i class="icon-user"></i>
                                                @Html.ValidationMessageFor(m => m.Lastname)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Email Address</label>
                                            <div class="append-icon">
                                                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control form-white", required = "", @type = "email", placeholder = "Enter your email..." })
                                                <i class="icon-envelope"></i>
                                                @Html.ValidationMessageFor(m => m.EmailAddress)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Phone Number</label>
                                            <div class="append-icon">
                                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control form-white", required = "", placeholder = "Phone Number..." })
                                                <i class="icon-screen-smartphone"></i>
                                                @Html.ValidationMessageFor(m => m.PhoneNumber)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Organization</label>
                                            <div class="append-icon">
                                                @Html.TextBoxFor(m => m.Organization, new { @class = "form-control form-white", required = "", placeholder = "Enter your organization...", minlength = "2" })
                                                <i class="icon-lock"></i>
                                                @Html.ValidationMessageFor(m => m.Organization)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Department</label>
                                            <div class="append-icon">
                                                @Html.TextBoxFor(m => m.Department, new { @class = "form-control form-white", required = "", placeholder = "Enter your department...", minlength = "2" })
                                                <i class="icon-lock"></i>
                                                @Html.ValidationMessageFor(m => m.Department)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="append-icon">
                                            @Html.TextAreaFor(m => m.Comment, new { @class = "form-control form-white", required = "", placeholder = "Enter your feedback here...", rows = "6", cols = "10" })
                                            <i class="ui-icon-comment"></i>
                                            @Html.ValidationMessageFor(m => m.Comment)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-center m-t-20">
                                        <button class="btn btn-embossed btn-primary" type="submit">Submit</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        @Html.Partial("_Copyrights")
    </div>
</div>